# <center> Capstone Project <center>

### <center> Data Dwellers: Finding a Home Through Analytics <center>

<div class="alert alert-block alert-info">
<b>Where should I live?:</b> 

Which U.S. city among my selected options - Raleigh, NC; Seattle, WA; Philadelphia, PA; and Austin, TX - offers the best balance of public transportation, diversity, and affordability for a remote worker seeking a vibrant, walkable, and connected lifestyle?

Things to consider:
- How much each city spends on public transit
- Availability of public transit systems
- Average Commute time
- Racial diversity per city
- Foreign-born population %
- Number of languages spoken
- Median monthly rent
- Median home price
- Average monthly utility and internet costs
- Grocery and transportation prices

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading in city specific data:

#### Austin:

In [8]:
austin_city_budget=pd.read_csv('../data/austin/Austin_Program_Budget_Operating_Budget_Vs_Expense_Raw_Data_20250519.csv')

In [9]:
austin_city_budget.head()

,BUDGET_FISCAL_YEAR,THRU_QUARTER,DEPT_ROLLUP,DEPT_ROLLUP_NAME,DEPARTMENT_CODE,DEPARTMENT_NAME,FUND_CODE,FUND_NAME,PROGRAM_CODE,PROGRAM_NAME,ACTIVITY_CODE,ACTIVITY_NAME,UNIT_CODE,UNIT_NAME,EXPENSE_CODE,EXPENSE_NAME,BUDGET,EXPENDITURES,KEY
0,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,2219,Sand Hill - Maintenance,6132,Rental-heavy equipment,70000.0,16455.75,2025211110050101PSM1GEN22196132
1,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,2252,Decker Maintenance,5035,Administrative leave,0.0,4202.08,2025211110050101PSM1GEN22525035
2,2025,2,45,Office of the City Clerk,4500,Office of the City Clerk,5150,Support Services Fund,9MGT,Support Services,9ADM,Departmental Support Services,8790,Administration and Management,5726,Services-Software as a Service,85000.0,80918.25,2025245450051509MGT9ADM87905726
3,2025,2,46,Municipal Court,4600,Municipal Court,1000,General Fund,4PUB,Municipal Court Operations,4CSV,Customer Services,4202,Communications,5028,Terminal pay,0.0,3867.81,2025246460010004PUB4CSV42025028
4,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,1124,Energy Products,5006,Temporary employees,43136.0,2405.20,2025211110050101PSM1GEN11245006

In [10]:
austin_access_public_transport=pd.read_csv('../data/austin/austin_strategic_measures_percentage_of_population_access_to_public_transit_service_or_is_within_one_quarter_mile_of_regular_fixed_route_transit_20250519.csv')

In [11]:
austin_access_public_transport.head()

,Record No,Full Census Tract Block Group (CTBG) ID,CTBG ID,Population,Area (sq ft),Area (sq ft) with transportation options,Area (sq ft) without transpotation options,Percent area with transportation options,Percent area without transportation options,Population with transportation options,Population without transportation options,Percent population with transportation options,Percent population without transportation options,Year Date,Year,Date Created
0,1,1500000US484910203191,4.849100e+11,3254,41510202.0,8457954.0,33052248.0,0.2038,0.7962,663.0,2591.0,0.2038,0.7962,1/1/2020,2020,3/5/2021
1,2,1500000US484910205103,4.849100e+11,1135,4107489.0,0.0,4107489.0,0.0000,1.0000,0.0,1135.0,0.0000,1.0000,1/1/2020,2020,3/5/2021
2,3,1500000US484910203202,4.849100e+11,870,11181888.0,7006005.0,4175883.0,0.6265,0.3735,545.0,325.0,0.6265,0.3735,1/1/2020,2020,3/5/2021
3,4,1500000US484910203241,4.849100e+11,5257,27935852.0,393630.0,27542222.0,0.0141,0.9859,74.0,5183.0,0.0141,0.9859,1/1/2020,2020,3/5/2021
4,5,1500000US484910204092,4.849100e+11,2149,14114864.0,0.0,14114864.0,0.0000,1.0000,0.0,2149.0,0.0000,1.0000,1/1/2020,2020,3/5/2021

In [12]:
austin_commute_chars=pd.read_csv('../data/austin/census_austin_commuting_chars.csv')

In [13]:
austin_commute_chars.head()

,Label,Total Estimate,Total Margin of Error,Male Estimate,Male Margin of Error,Female Estimate,Female Margin of Error
0,Workers 16 years and over,"13,951",±620,"7,841",±480,"6,110",±465
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",88.40%,±2.4,87.10%,±3.6,90.00%,±3.2
3,Drove alone,80.80%,±2.5,80.50%,±3.8,81.30%,±4.0
4,Carpooled,7.60%,±1.9,6.60%,±2.0,8.70%,±3.2

In [14]:
austin_commute_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Label                   63 non-null     object
 1   Total Estimate          57 non-null     object
 2   Total Margin of Error   57 non-null     object
 3   Male Estimate           57 non-null     object
 4   Male Margin of Error    57 non-null     object
 5   Female Estimate         57 non-null     object
 6   Female Margin of Error  57 non-null     object
dtypes: object(7)
memory usage: 3.6+ KB

In [15]:
austin_commute_chars.columns = ['Commute Label',
                               'Austin Total Estimate', 
                               'Austin Total  Margin of Error',
                               'Austin Male Estimate',
                                'Austin Male Margin of Error',
                               'Austin Female Estimate',
                               'Austin Female Margin of Error']
austin_commute_chars

,Commute Label,Austin Total Estimate,Austin Total Margin of Error,Austin Male Estimate,Austin Male Margin of Error,Austin Female Estimate,Austin Female Margin of Error
0,Workers 16 years and over,"13,951",±620,"7,841",±480,"6,110",±465
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",88.40%,±2.4,87.10%,±3.6,90.00%,±3.2
3,Drove alone,80.80%,±2.5,80.50%,±3.8,81.30%,±4.0
4,Carpooled,7.60%,±1.9,6.60%,±2.0,8.70%,±3.2
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,16.00%,(X),(X),(X),(X),(X)
59,Place of work,18.20%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,32.90%,(X),(X),(X),(X),(X)
61,Travel time to work,23.20%,(X),(X),(X),(X),(X)
62,Vehicles available,1.60%,(X),(X),(X),(X),(X)

In [16]:
austin_housing_chars=pd.read_csv('../data/austin/census_selected_housing_char_austin.csv')

In [17]:
austin_housing_chars.head()

,Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"14,086",±28,"14,086",(X)
2,Occupied housing units,"12,174",±325,86.4%,±2.3
3,Vacant housing units,"1,912",±325,13.6%,±2.3
4,Homeowner vacancy rate,0.7,±0.7,(X),(X)

In [18]:
austin_housing_chars.columns = ['Housing Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']
austin_housing_chars

,Housing Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"14,086",±28,"14,086",(X)
2,Occupied housing units,"12,174",±325,86.4%,±2.3
3,Vacant housing units,"1,912",±325,13.6%,±2.3
4,Homeowner vacancy rate,0.7,±0.7,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,397,±211,16.4%,±8.0
156,25.0 to 29.9 percent,387,±227,16.0%,±8.7
157,30.0 to 34.9 percent,160,±132,6.6%,±5.5
158,35.0 percent or more,"1,039",±243,43.0%,±10.0
159,Not computed,321,±158,(X),(X)

In [19]:
austin_social_chars=pd.read_csv('../data/austin/census_austin_social_chars.csv')

In [20]:
austin_social_chars.head()

,Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"12,174",±325,"12,174",(X)
2,Married-couple household,"7,048",±497,57.90%,±4.2
3,With children of the householder under 18 years,"2,839",±363,23.30%,±3.0
4,Cohabiting couple household,718,±235,5.90%,±1.9

In [21]:
austin_social_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Label                           172 non-null    object
 1   Austin Estimate                 154 non-null    object
 2   Austin Margin of Error          154 non-null    object
 3   Austin Percent                  154 non-null    object
 4   Austin Percent Margin of Error  154 non-null    object
dtypes: object(5)
memory usage: 6.8+ KB

In [22]:
austin_social_chars.columns = ['Social Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']
austin_social_chars

,Social Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"12,174",±325,"12,174",(X)
2,Married-couple household,"7,048",±497,57.90%,±4.2
3,With children of the householder under 18 years,"2,839",±363,23.30%,±3.0
4,Cohabiting couple household,718,±235,5.90%,±1.9
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),10,±17,0.00%,±0.1
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"12,174",±325,"12,174",(X)
170,With a computer,"11,772",±343,96.70%,±1.1
171,With a broadband Internet subscription,"9,847",±377,80.90%,±2.0

#### Philadelphia

In [24]:
philly_pt_budget=pd.read_csv('../data/philadelphia/Philadelphia_FY_24_to_FY_29_Financial_Projections_SEPTA_Finances.csv')

In [25]:
philly_pt_budget.head()

,Type,Fiscal_Year,Category,Item,Amount__in__000s_,Notes,ObjectId
0,Actual,2019,Revenue,TOTAL OPERATING REVENUE,517947,NaN,1
1,Budget,2024,Revenue,PASSENGER REVENUE,280705,LAST OF FEDERAL COVID RELIEF,2
2,Budget,2024,Revenue,SHARED RIDE PROGRAM,25306,LAST OF FEDERAL COVID RELIEF,3
3,Budget,2024,Revenue,OTHER INCOME,32966,LAST OF FEDERAL COVID RELIEF,4
4,Budget,2024,Revenue,INVESTMENT INCOME,16768,LAST OF FEDERAL COVID RELIEF,5

In [26]:
philly_pt_expenses=pd.read_csv('../data/philadelphia/SEPTA_Finances_Detail_of_Expenses_by_Company_Philadelphia.csv')

In [27]:
philly_pt_expenses.head()

,Type,Fiscal_Year,Allocation_Method,Division,Department,Headquarters__in__000s_,City_Transit__in__000s_,Victory__in__000s_,Frontier__in__000s_,Regional_Rail__in__000s_,ObjectId
0,Budgeted,2023,Departmental,Operations,Rail Operations,-56,105431,38845,135,114317,1
1,Budgeted,2023,Departmental,Operations,Bus Operations & Access,11644,263559,8631,21683,3,2
2,Budgeted,2023,Departmental,Operations,"Administration, Finance And Support",4881,2094,56,0,459,3
3,Budgeted,2023,Departmental,Operations,Bridges And Buildings,1374,86908,2669,10,7742,4
4,Budgeted,2023,Departmental,Operations,Maintenance Of Way,69,43984,4808,0,26331,5

In [28]:
philly_commute_chars=pd.read_csv('../data/philadelphia/philidephia_commuting_chars.csv')

In [29]:
philly_commute_chars.columns = philly_commute_chars.iloc[1]
philly_commute_chars = philly_commute_chars.iloc[2:].reset_index(drop=True)

In [30]:
philly_commute_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Label            63 non-null     object
 1   Estimate         57 non-null     object
 2   Margin of Error  57 non-null     object
 3   Estimate         57 non-null     object
 4   Margin of Error  57 non-null     object
 5   Estimate         57 non-null     object
 6   Margin of Error  57 non-null     object
dtypes: object(7)
memory usage: 3.6+ KB

In [31]:
philly_commute_chars.columns = ['Commute Label', 
                        'Philadelphia Total Estimate',
                        'Philadelphia Total Margin of Error', 
                        'Philadelphia Male Estimate', 
                        'Philadelphia Male Margin of Error',
                        'Philadelphia Female Estimate',
                         'Philadelphia Female Margin of Error']
philly_commute_chars

,Commute Label,Philadelphia Total Estimate,Philadelphia Total Margin of Error,Philadelphia Male Estimate,Philadelphia Male Margin of Error,Philadelphia Female Estimate,Philadelphia Female Margin of Error
0,Workers 16 years and over,"744,103","±12,654","360,062","±7,566","384,041","±8,730"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",54.0%,±1.6,57.4%,±2.1,50.8%,±2.2
3,Drove alone,45.6%,±1.6,48.9%,±2.2,42.6%,±2.2
4,Carpooled,8.4%,±1.0,8.5%,±1.4,8.3%,±1.1
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,21.5%,(X),(X),(X),(X),(X)
59,Place of work,23.3%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,34.7%,(X),(X),(X),(X),(X)
61,Travel time to work,27.7%,(X),(X),(X),(X),(X)
62,Vehicles available,2.2%,(X),(X),(X),(X),(X)

In [32]:
philly_social_chars=pd.read_csv('../data/philadelphia/philadelphia_social_chars.csv')

In [33]:
philly_social_chars.head()

,Unnamed: 0,"Philadelphia County, Pennsylvania",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"688,112","±5,822","688,112",(X)
3,Married-couple household,"195,989","±7,938",28.5%,±1.1
4,With children of the householder under 18 years,"67,349","±5,432",9.8%,±0.8

In [34]:
philly_social_chars.columns = philly_social_chars.iloc[0]
philly_social_chars = philly_social_chars.iloc[1:].reset_index(drop=True)

In [35]:
philly_social_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label                    172 non-null    object
 1   Estimate                 154 non-null    object
 2   Margin of Error          154 non-null    object
 3   Percent                  154 non-null    object
 4   Percent Margin of Error  154 non-null    object
dtypes: object(5)
memory usage: 6.8+ KB

In [36]:
philly_social_chars.columns = ['Social Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']
philly_social_chars

,Social Label,Philadelphia Estimate,Philadelphia Margin of Error,Philadelphia Percent,Philadelphia Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"688,112","±5,822","688,112",(X)
2,Married-couple household,"195,989","±7,938",28.5%,±1.1
3,With children of the householder under 18 years,"67,349","±5,432",9.8%,±0.8
4,Cohabiting couple household,"54,460","±5,091",7.9%,±0.7
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"35,737","±8,407",2.3%,±0.5
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"688,112","±5,822","688,112",(X)
170,With a computer,"655,376","±5,976",95.2%,±0.6
171,With a broadband Internet subscription,"626,452","±6,966",91.0%,±0.8

In [37]:
philly_housing_chars=pd.read_csv('../data/philadelphia/census_selected_housing_char_philly.csv')

In [38]:
philly_housing_chars.head()

,Unnamed: 0,"Philadelphia County, Pennsylvania",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"760,242",±553,"760,242",(X)
3,Occupied housing units,"688,112","±5,822",90.5%,±0.8
4,Vacant housing units,"72,130","±5,816",9.5%,±0.8

In [39]:
philly_housing_chars.columns = philly_housing_chars.iloc[0]
philly_housing_chars = philly_housing_chars.iloc[1:].reset_index(drop=True)

In [40]:
philly_housing_chars.head()

,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"760,242",±553,"760,242",(X)
2,Occupied housing units,"688,112","±5,822",90.5%,±0.8
3,Vacant housing units,"72,130","±5,816",9.5%,±0.8
4,Homeowner vacancy rate,1.4,±0.4,(X),(X)

In [41]:
philly_housing_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label                    160 non-null    object
 1   Estimate                 143 non-null    object
 2   Margin of Error          143 non-null    object
 3   Percent                  143 non-null    object
 4   Percent Margin of Error  143 non-null    object
dtypes: object(5)
memory usage: 6.4+ KB

In [42]:
philly_housing_chars.columns = ['Housing Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']
philly_housing_chars

,Housing Label,Philadelphia Estimate,Philadelphia Margin of Error,Philadelphia Percent,Philadelphia Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"760,242",±553,"760,242",(X)
2,Occupied housing units,"688,112","±5,822",90.5%,±0.8
3,Vacant housing units,"72,130","±5,816",9.5%,±0.8
4,Homeowner vacancy rate,1.4,±0.4,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"41,955","±4,911",13.5%,±1.6
156,25.0 to 29.9 percent,"35,666","±4,227",11.5%,±1.3
157,30.0 to 34.9 percent,"28,458","±5,282",9.2%,±1.7
158,35.0 percent or more,"132,357","±8,321",42.6%,±2.4
159,Not computed,"20,503","±3,375",(X),(X)

#### Raleigh

In [44]:
raleigh_commute_chars=pd.read_csv('../data/raleigh/census_raleigh_commuting_chars.csv')

In [45]:
raleigh_commute_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Total,NaN,Male,NaN,Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
3,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
4,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7

In [46]:
raleigh_commute_chars.columns = raleigh_commute_chars.iloc[1]
raleigh_commute_chars = raleigh_commute_chars.iloc[2:].reset_index(drop=True)

In [47]:
raleigh_commute_chars.head()

1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
0,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7
3,Drove alone,62.9%,±1.4,63.0%,±1.7,62.7%,±1.8
4,Carpooled,5.8%,±0.7,6.1%,±1.0,5.5%,±1.0

In [48]:
raleigh_commute_chars.columns = ['Commute Label', 
                        'Raleigh Total Estimate',
                        'Raleigh Total Margin of Error', 
                        'Raleigh Male Estimate', 
                        'Raleigh Male Margin of Error',
                        'Raleigh Female Estimate',
                         'Raleigh Female Margin of Error']
raleigh_commute_chars

,Commute Label,Raleigh Total Estimate,Raleigh Total Margin of Error,Raleigh Male Estimate,Raleigh Male Margin of Error,Raleigh Female Estimate,Raleigh Female Margin of Error
0,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7
3,Drove alone,62.9%,±1.4,63.0%,±1.7,62.7%,±1.8
4,Carpooled,5.8%,±0.7,6.1%,±1.0,5.5%,±1.0
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,14.3%,(X),(X),(X),(X),(X)
59,Place of work,15.3%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,26.7%,(X),(X),(X),(X),(X)
61,Travel time to work,19.2%,(X),(X),(X),(X),(X)
62,Vehicles available,1.9%,(X),(X),(X),(X),(X)

In [49]:
raleigh_social_chars=pd.read_csv('../data/raleigh/census_raleigh_social_chars.csv')

In [50]:
raleigh_social_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"481,294","±4,227","481,294",(X)
3,Married-couple household,"245,325","±5,579",51.0%,±1.1
4,With children of the householder under 18 years,"109,949","±4,129",22.8%,±0.8

In [51]:
raleigh_social_chars.columns =raleigh_social_chars.iloc[0]
raleigh_social_chars = raleigh_social_chars.iloc[1:].reset_index(drop=True)

In [52]:
raleigh_social_chars.columns = ['Social Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']
raleigh_social_chars

,Social Label,Raleigh Estimate,Raleigh Margin of Error,Raleigh Percent,Raleigh Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"481,294","±4,227","481,294",(X)
2,Married-couple household,"245,325","±5,579",51.0%,±1.1
3,With children of the householder under 18 years,"109,949","±4,129",22.8%,±0.8
4,Cohabiting couple household,"34,696","±4,053",7.2%,±0.8
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"9,274","±3,250",0.8%,±0.3
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"481,294","±4,227","481,294",(X)
170,With a computer,"472,614","±4,197",98.2%,±0.4
171,With a broadband Internet subscription,"457,843","±4,718",95.1%,±0.6

In [140]:
raleigh_housing_chars=pd.read_csv('../data/raleigh/census_selected_housing_char_raliegh.csv')

In [142]:
raleigh_housing_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"512,256",±323,"512,256",(X)
3,Occupied housing units,"481,294","±4,227",94.0%,±0.8
4,Vacant housing units,"30,962","±4,267",6.0%,±0.8

In [144]:
raleigh_housing_chars.columns =raleigh_housing_chars.iloc[0]
raleigh_housing_chars = raleigh_housing_chars.iloc[1:].reset_index(drop=True)

In [146]:
raleigh_housing_chars.head()

,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"512,256",±323,"512,256",(X)
2,Occupied housing units,"481,294","±4,227",94.0%,±0.8
3,Vacant housing units,"30,962","±4,267",6.0%,±0.8
4,Homeowner vacancy rate,0.4,±0.2,(X),(X)

In [148]:
raleigh_housing_chars.columns = ['Housing Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']
raleigh_housing_chars

,Housing Label,Raleigh Estimate,Raleigh Margin of Error,Raleigh Percent,Raleigh Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"512,256",±323,"512,256",(X)
2,Occupied housing units,"481,294","±4,227",94.0%,±0.8
3,Vacant housing units,"30,962","±4,267",6.0%,±0.8
4,Homeowner vacancy rate,0.4,±0.2,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"20,226","±3,111",12.0%,±1.7
156,25.0 to 29.9 percent,"24,394","±3,419",14.5%,±2.0
157,30.0 to 34.9 percent,"19,205","±2,936",11.4%,±1.7
158,35.0 percent or more,"60,004","±4,472",35.6%,±2.5
159,Not computed,"5,538","±1,357",(X),(X)

In [54]:
raleigh_budget=pd.read_csv('../data/raleigh/raleigh_adopted_expense_budget.csv')

In [150]:
raleigh_budget.head()

,Account_Level_6,Fund_Description,DeptID_Description,Account_Description,Budget_Year,Account_Type,Program,Program_Description,Budget_Amount,OBJECTID
0,EXPENSE,Community Dev Block Grant (Cdb,Community Development,Relocation,2012,Miscellaneous,987,Grant Year 11/12,115000,101649
1,EXPENSE,Community Dev Block Grant (Cdb,Community Development,Planning - Gr,2012,Other Expense,987,Grant Year 11/12,120063,101650
2,EXPENSE,Community Dev Block Grant (Cdb,Community Development,To 100 Ind Cost,2012,Interfund Transfers In/Out,987,Grant Year 11/12,265000,101651
3,EXPENSE,Community Dev Block Grant (Cdb,Community Development,Disposition - Gr,2012,Other Expense,987,Grant Year 11/12,15000,101652
4,EXPENSE,Community Dev Block Grant (Cdb,Community Development,Electric Service,2012,Direct Expenses,987,Grant Year 11/12,5500,101653

In [55]:
raleigh_cap_projects=pd.read_csv('../data/raleigh/raliegh_adopted_capital_projects.csv')

In [152]:
raleigh_cap_projects.head()

,Project_Name,Category,Department,Brief_Description,Budget_Total_5_Year,Expected_Project_Start_Date,Expected_Project_End_Date,F2017,F2018,F2019,F2020,F2021,Multisite_Project,Project_Location,Disclaimer,Disclaimer_Flag,Project_Code,FID
0,John Chavis Park Improvements,2014 Bond Projects,PARKS,Phase I implementation of the Master Plan.,11750000.0,NaN,NaN,NaN,11750000.0,NaN,NaN,NaN,Single Site,Chavis,-,-,93360000,1
1,Park Site Acquisition,2014 Bond Projects,PARKS,Acquire additional park property based on the ...,8000000.0,NaN,NaN,5000000.0,0.0,2000000.0,1000000.0,0.0,Yes - Unknown,Other,-,-,82290000,2
2,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Lake Johnson,Total budget shown for this location is actual...,Y - Duplicate,88490000,3
3,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Longview,Total budget shown for this location is actual...,Y - Duplicate,88490000,4
4,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Optimist,Total budget shown for this location is actual...,Y - Duplicate,88490000,5

#### Seattle

In [57]:
seattle_cap_projects=pd.read_csv('../data/seattle/seatle_open_budget_capital_projects_details_20250518.csv')

In [154]:
seattle_cap_projects.head()

,Project_id,Project_name,Project_Description,Current Address,Current_Phase,Current_Phase_Type,Project_Details_URL,Regions,Latitude,Longitude
0,S0101,Utility Infrastructure Master Plan & Repairs,This ongoing project funds the repair and reno...,Seattle Center Campus,NaN,,,NaN,NaN,NaN
1,S0301,Parking Repairs and Improvements,This ongoing project provides for the repair a...,Seattle Center Campus,NaN,,,NaN,NaN,NaN
2,S0302,Mercer Arena Redevelopment,This project redevelops the Mercer Arena site ...,363 Mercer St,NaN,,,NaN,NaN,NaN
3,S0303,McCaw Hall Asset Preservation,This project provides for the implementation o...,321 Mercer St,1.0,Rehabilitation or Restoration,http://www.seattle.gov/financedepartment/1419a...,0.0,47.624552,-122.350759
4,S0305,General Site Improvements,"This ongoing project improves the safety, secu...",Seattle Center Campus,NaN,,,NaN,NaN,NaN

In [58]:
seattle_budget=pd.read_csv('../data/seattle/City_of_Seattle_Operating_Budget_20250518.csv')

In [156]:
seattle_budget.head()

,Fiscal Year,Service,Department,Program,Fund,Fund Type,Expense Type,Description,Approved Amount
0,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,674023.55
1,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,367.66
2,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,140043.13
3,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,398825.16
4,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,21529.84

In [160]:
seattle_housing_char=pd.read_csv('../data/seattle/census_selected_housing_char_seattle.csv')

In [162]:
seattle_housing_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"1,021,711",±279,"1,021,711",(X)
3,Occupied housing units,"949,792","±7,010",93.0%,±0.7
4,Vacant housing units,"71,919","±7,010",7.0%,±0.7

In [164]:
seattle_housing_char.columns =seattle_housing_char.iloc[0]
seattle_housing_char = seattle_housing_char.iloc[1:].reset_index(drop=True)

In [166]:
seattle_housing_char.columns = ['Housing Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']
seattle_housing_char

,Housing Label,Seattle Estimate,Seattle Margin of Error,Seattle Percent,Seattle Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"1,021,711",±279,"1,021,711",(X)
2,Occupied housing units,"949,792","±7,010",93.0%,±0.7
3,Vacant housing units,"71,919","±7,010",7.0%,±0.7
4,Homeowner vacancy rate,0.6,±0.2,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"53,028","±4,035",12.9%,±0.9
156,25.0 to 29.9 percent,"45,528","±4,027",11.1%,±1.0
157,30.0 to 34.9 percent,"35,833","±3,827",8.7%,±0.9
158,35.0 percent or more,"157,348","±7,217",38.4%,±1.6
159,Not computed,"11,886","±1,989",(X),(X)

In [60]:
seattle_social_char=pd.read_csv('../data/seattle/sensus_seattle_social_chars.csv')

In [168]:
seattle_social_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"949,792","±7,010","949,792",(X)
3,Married-couple household,"438,596","±8,158",46.2%,±0.8
4,With children of the householder under 18 years,"181,171","±5,705",19.1%,±0.6

In [172]:
seattle_social_char.columns =seattle_housing_char.iloc[0]
seattle_social_char = seattle_social_char.iloc[1:].reset_index(drop=True)

In [174]:
seattle_social_char.columns = ['Social Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']
seattle_social_char

,Social Label,Seattle Estimate,Seattle Margin of Error,Seattle Percent,Seattle Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"949,792","±7,010","949,792",(X)
2,Married-couple household,"438,596","±8,158",46.2%,±0.8
3,With children of the householder under 18 years,"181,171","±5,705",19.1%,±0.6
4,Cohabiting couple household,"78,443","±4,976",8.3%,±0.5
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"4,863","±1,405",0.2%,±0.1
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"949,792","±7,010","949,792",(X)
170,With a computer,"934,672","±6,941",98.4%,±0.2
171,With a broadband Internet subscription,"910,112","±6,991",95.8%,±0.4

In [61]:
seattle_commute_char=pd.read_csv('../data/seattle/census_seattle_commuting_chars.csv')

In [170]:
seattle_commute_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Total,NaN,Male,NaN,Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Workers 16 years and over,"1,254,215","±8,734","680,183","±6,530","574,032","±8,268"
3,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
4,"Car, truck, or van",60.9%,±0.9,61.1%,±1.0,60.6%,±1.3

In [176]:
seattle_commute_char.columns = seattle_commute_char.iloc[1]
seattle_commute_char = seattle_commute_char.iloc[2:].reset_index(drop=True)

In [178]:
seattle_commute_char.columns = ['Commute Label', 
                        'Seattle Total Estimate',
                        'Seattle Total Margin of Error', 
                        'Seattle Male Estimate', 
                        'Seattle Male Margin of Error',
                        'Seattle Female Estimate',
                         'Seattle Female Margin of Error']
seattle_commute_char

,Commute Label,Seattle Total Estimate,Seattle Total Margin of Error,Seattle Male Estimate,Seattle Male Margin of Error,Seattle Female Estimate,Seattle Female Margin of Error
0,Workers 16 years and over,"1,254,215","±8,734","680,183","±6,530","574,032","±8,268"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",60.9%,±0.9,61.1%,±1.0,60.6%,±1.3
3,Drove alone,53.2%,±0.9,53.8%,±1.0,52.5%,±1.2
4,Carpooled,7.7%,±0.7,7.4%,±0.8,8.1%,±0.7
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,15.0%,(X),(X),(X),(X),(X)
59,Place of work,14.8%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,25.1%,(X),(X),(X),(X),(X)
61,Travel time to work,18.0%,(X),(X),(X),(X),(X)
62,Vehicles available,1.8%,(X),(X),(X),(X),(X)

# U.S. Data:

#### Will extract the city specific data from these datasets

In [64]:
single_fam_home_rent = pd.read_csv('../data/single_family_homes_rent_cost_all_counties.csv')

In [180]:
single_fam_home_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
0,102001,0,United States,country,NaN,1266.458399,1272.966287,1281.671247,1291.982596,1301.435991,...,2202.798162,2210.102815,2213.563825,2213.837739,2214.834702,2216.744205,2223.484964,2233.004046,2245.273898,2255.740601
1,394913,1,"New York, NY",msa,NY,2319.374071,2347.384536,2366.076927,2381.023395,2380.556256,...,3762.428652,3776.734272,3753.975329,3743.606437,3749.426645,3792.275646,3810.781511,3802.775688,3804.717843,3831.617282
2,753899,2,"Los Angeles, CA",msa,CA,2514.772977,2527.457905,2546.952021,2557.968755,2583.021015,...,4249.183500,4254.523830,4258.649514,4251.343693,4255.182708,4262.049291,4343.563662,4411.542779,4469.462897,4451.063676
3,394463,3,"Chicago, IL",msa,IL,1528.605872,1535.685026,1545.778621,1558.887472,1570.957427,...,2385.323843,2397.710834,2406.309127,2412.464377,2414.784288,2427.195941,2436.356315,2462.360912,2474.917940,2493.315370
4,394514,4,"Dallas, TX",msa,TX,1379.758555,1388.120266,1398.374967,1412.270973,1425.050345,...,2338.860200,2343.225537,2341.301872,2335.956398,2329.372143,2322.433187,2325.665812,2338.232842,2352.383117,2362.361016

In [186]:
rent_cost_cities = single_fam_home_rent[(single_fam_home_rent['RegionName']== 'Austin, TX') |
                                        (single_fam_home_rent['RegionName']== 'Seattle, WA') |
                                        (single_fam_home_rent['RegionName']== 'Raleigh, NC') |
                                        (single_fam_home_rent['RegionName']== 'Philadelphia, PA')]
rent_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
7,394974,7,"Philadelphia, PA",msa,PA,1347.376099,1356.419080,1368.721222,1376.533746,1381.052916,...,2150.178014,2157.601441,2172.459022,2188.030529,2205.092551,2218.360119,2220.189893,2224.403480,2219.195197,2224.382814
15,395078,15,"Seattle, WA",msa,WA,1832.353424,1844.357741,1862.715741,1876.049224,1899.737273,...,3258.202908,3259.672644,3259.537417,3241.912242,3240.957937,3241.123416,3247.305060,3257.317145,3273.212117,3300.338146
29,394355,29,"Austin, TX",msa,TX,1517.993381,1531.207241,1540.223839,1546.887027,1561.296193,...,2333.540209,2319.826062,2307.698362,2284.273127,2278.921413,2280.612538,2287.839388,2297.306585,2301.688838,2312.598306
42,395012,43,"Raleigh, NC",msa,NC,1254.637370,1254.410429,1261.944652,1267.638614,1282.860542,...,2082.122800,2086.535264,2091.591834,2092.671869,2093.993422,2094.131610,2095.824340,2092.808575,2101.471919,2104.929878

In [65]:
single_fam_home_cost = pd.read_csv('../data/single_family_home_cost_all_counties.csv')

In [188]:
single_fam_home_cost.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2000,...,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,224445.706690,...,9.400886e+05,9.459807e+05,9.534636e+05,9.593729e+05,9.641686e+05,9.681520e+05,9.673331e+05,9.630895e+05,9.555259e+05,9.497986e+05
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,156140.732970,...,3.365966e+05,3.375884e+05,3.385818e+05,3.393625e+05,3.404365e+05,3.416772e+05,3.428454e+05,3.439346e+05,3.446214e+05,3.454201e+05
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,114868.147738,...,2.961774e+05,2.958460e+05,2.956649e+05,2.953332e+05,2.949039e+05,2.946817e+05,2.944967e+05,2.942011e+05,2.933888e+05,2.923367e+05
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,151981.079509,...,4.988846e+05,4.976809e+05,4.966401e+05,4.958534e+05,4.951725e+05,4.945720e+05,4.935816e+05,4.920140e+05,4.897904e+05,4.877738e+05
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,233816.904098,...,1.036330e+06,1.035712e+06,1.035037e+06,1.034289e+06,1.034586e+06,1.035260e+06,1.035646e+06,1.035380e+06,1.033534e+06,1.030490e+06

In [196]:
home_cost_cities = single_fam_home_cost[(single_fam_home_cost['RegionName']== 'Travis County') |
                                        (single_fam_home_cost['RegionName']== 'Wake County') |
                                        (single_fam_home_cost['RegionName']== 'King County') |
                                        (single_fam_home_cost['RegionName']== 'Philadelphia County')]
home_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2000,...,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
11,207,11,King County,county,WA,WA,"Seattle-Tacoma-Bellevue, WA",53,33,274125.064448,...,974260.790750,975703.753787,979505.223488,984839.078383,990312.361679,995117.177075,998396.525300,1.000045e+06,997714.583795,992175.520003
22,3175,22,Philadelphia County,county,PA,PA,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",42,101,60455.160984,...,219617.366402,219854.320669,220217.157933,220708.277275,221283.403368,222305.383394,223179.233351,2.238047e+05,224101.280467,224601.796303
33,1440,33,Travis County,county,TX,TX,"Austin-Round Rock-Georgetown, TX",48,453,199223.703446,...,554560.896338,552033.651228,551018.544483,549929.307327,548373.648461,545515.270811,541802.968300,5.381000e+05,533870.049762,529736.583813
39,324,39,Wake County,county,NC,NC,"Raleigh-Cary, NC",37,183,194846.288101,...,506977.111607,506687.638632,506605.050145,506602.462399,506587.844214,506560.065056,506239.034550,5.055191e+05,504198.762002,502984.305634

#### City Counties:
- Seattle: King County
- Philadelphia: Philadelphia
- Austin: Travis County
- Raleigh: Wake County

In [66]:
metro_rent=pd.read_csv('../data/metro_mean_rent_all.csv')

In [199]:
metro_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025
0,102001,0,United States,country,NaN,1252.966190,1259.415935,1268.023337,1278.174433,1287.585792,...,2171.556293,2181.471711,2188.057567,2191.118018,2191.112348,2192.095106,2193.971961,2200.855400,2210.302796,2222.593865
1,394913,1,"New York, NY",msa,NY,2378.366116,2405.764061,2425.089387,2440.768189,2440.654786,...,3831.709195,3857.456117,3871.231993,3845.388128,3833.819539,3841.737148,3884.760276,3904.337147,3896.307913,3901.338164
2,753899,2,"Los Angeles, CA",msa,CA,2595.515150,2609.491981,2629.827229,2641.059930,2665.782262,...,4364.177730,4385.070666,4389.568735,4391.864896,4385.165171,4388.589557,4394.531080,4480.010944,4550.509617,4612.419297
3,394463,3,"Chicago, IL",msa,IL,1491.482346,1497.981627,1507.616002,1520.322146,1532.450410,...,2316.689631,2324.822614,2336.473232,2345.320842,2351.976947,2354.784846,2366.882500,2375.597121,2399.819609,2412.873367
4,394514,4,"Dallas, TX",msa,TX,1373.911239,1382.158801,1392.516422,1406.499133,1419.256490,...,2325.997328,2331.972684,2335.627669,2334.043811,2328.226214,2321.740890,2314.870158,2318.248792,2330.804859,2344.749194

In [201]:
metro_rent_cost_cities = metro_rent[(metro_rent['RegionName']== 'Austin, TX') |
                                        (metro_rent['RegionName']== 'Seattle, WA') |
                                        (metro_rent['RegionName']== 'Raleigh, NC') |
                                        (metro_rent['RegionName']== 'Philadelphia, PA')]
metro_rent_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,...,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025
7,394974,7,"Philadelphia, PA",msa,PA,1322.596104,1331.334849,1343.488803,1351.244081,1355.779985,...,2102.570471,2110.463904,2117.936692,2132.138363,2147.375080,2164.233032,2177.524646,2179.253123,2183.365181,2178.595577
15,395078,15,"Seattle, WA",msa,WA,1807.784639,1818.723307,1837.685370,1850.849338,1876.537254,...,3194.016528,3217.892992,3218.459227,3218.833298,3200.115376,3200.249264,3199.194606,3208.059466,3219.135831,3235.562720
29,394355,29,"Austin, TX",msa,TX,1509.625796,1522.916890,1531.980342,1538.662099,1552.756715,...,2324.754425,2324.949186,2310.727934,2297.497711,2273.657618,2268.394465,2270.225440,2277.706803,2286.954826,2291.262824
42,395012,43,"Raleigh, NC",msa,NC,1238.713551,1238.822082,1246.232628,1251.842890,1266.365335,...,2050.231148,2059.091404,2062.653431,2067.258645,2068.537993,2070.103486,2069.781252,2071.268558,2068.176268,2077.667722

In [67]:
metro_house_price=pd.read_csv('../data/metro_mean_sale_price_all.csv')

In [203]:
metro_house_price.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,...,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025
0,102001,0,United States,country,NaN,239538.0,243090.0,246950.0,248984.0,255054.0,...,498449.0,502928.0,493286.0,486084.0,476994.0,484515.0,482085.0,476884.0,475922.0,486253.0
1,394913,1,"New York, NY",msa,NY,502595.0,494268.0,504789.0,501533.0,504887.0,...,798124.0,837666.0,835593.0,829539.0,792072.0,799173.0,806203.0,797556.0,820710.0,808261.0
2,753899,2,"Los Angeles, CA",msa,CA,674070.0,659821.0,657518.0,623060.0,623712.0,...,1318885.0,1288221.0,1265532.0,1238001.0,1239157.0,1266800.0,1249635.0,1248626.0,1276900.0,1328925.0
3,394463,3,"Chicago, IL",msa,IL,276817.0,289658.0,280818.0,288527.0,301415.0,...,409355.0,434296.0,425458.0,412976.0,398169.0,389920.0,393334.0,387428.0,390321.0,390306.0
4,394514,4,"Dallas, TX",msa,TX,190189.0,195280.0,198738.0,210680.0,206793.0,...,525780.0,511853.0,515963.0,495276.0,482739.0,494240.0,501347.0,501381.0,473248.0,484989.0

In [205]:
metro_house_price_cities = metro_house_price[(metro_house_price['RegionName']== 'Austin, TX') |
                                        (metro_house_price['RegionName']== 'Seattle, WA') |
                                        (metro_house_price['RegionName']== 'Raleigh, NC') |
                                        (metro_house_price['RegionName']== 'Philadelphia, PA')]
metro_house_price_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,...,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025
7,394974,7,"Philadelphia, PA",msa,PA,228331.0,230562.0,232590.0,244327.0,257676.0,...,414777.0,445392.0,438756.0,435886.0,409054.0,408948.0,413001.0,401872.0,392413.0,390347.0
15,395078,15,"Seattle, WA",msa,WA,427872.0,433854.0,437785.0,427593.0,445891.0,...,1011223.0,976702.0,983150.0,980051.0,940986.0,961204.0,952358.0,882044.0,869732.0,926113.0
29,394355,29,"Austin, TX",msa,TX,237103.0,240758.0,243699.0,262463.0,255874.0,...,645238.0,636030.0,612784.0,617377.0,608926.0,595921.0,594341.0,611588.0,591974.0,589007.0
42,395012,43,"Raleigh, NC",msa,NC,222903.0,217907.0,212430.0,230108.0,237159.0,...,548311.0,557814.0,556934.0,549267.0,515874.0,539001.0,541208.0,519862.0,519440.0,529522.0

In [68]:
public_transportation=pd.read_csv('../data/Monthly_Modal_Time_Series_Transportation_All.csv', low_memory=False)

In [211]:
public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,...,Non-Major Physical Assaults on Operators,Non-Major Non-Physical Assaults on Operators,Non-Major Physical Assaults on Other Transit Workers,Non-Major Non-Physical Assaults on Other Transit Workers,Major Physical Assaults on Operators,Major Non-Physical Assaults on Operators,Major Physical Assaults on Other Transit Workers,Major Non-Physical Assaults on Other Transit Workers,Total Assaults on Transit Workers,MoYr
0,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140101
1,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140201
2,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140301
3,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140401
4,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140501

In [213]:
public_transportation_uza_name = public_transportation['Primary UZA Name'].value_counts(dropna=False)

In [215]:
public_transportation_uza_name

Primary UZA Name
New York--Jersey City--Newark, NY--NJ    7302
Los Angeles--Long Beach--Anaheim, CA     6441
NaN                                      4784
San Francisco--Oakland, CA               3701
Seattle--Tacoma, WA                      3512
                                         ...
Amarillo, TX                               18
Lompoc, CA                                 18
Clarksville, TN--KY                        12
Manchester, NH                             12
Gainesville, GA                            12
Name: count, Length: 318, dtype: int64

In [223]:
#metro_house_price_cities = public_transportation[(public_transportation['Primary UZA Name']== 'Austin, TX') |
                                        #(metro_house_price['RegionName']== 'Seattle, WA') |
                                        #(metro_house_price['RegionName']== 'Raleigh, NC') |
                                        #(metro_house_price['RegionName']== 'Philadelphia, PA')]

seattle_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Seattle", na=False)]
seattle_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,...,Non-Major Physical Assaults on Operators,Non-Major Non-Physical Assaults on Operators,Non-Major Physical Assaults on Other Transit Workers,Non-Major Non-Physical Assaults on Other Transit Workers,Major Physical Assaults on Operators,Major Non-Physical Assaults on Operators,Major Physical Assaults on Other Transit Workers,Major Non-Physical Assaults on Other Transit Workers,Total Assaults on Transit Workers,MoYr
294,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140101
295,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140201
296,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140301
297,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140401
298,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140501

In [225]:
austin_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Austin", na=False)]
austin_public_transportation

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,...,Non-Major Physical Assaults on Operators,Non-Major Non-Physical Assaults on Operators,Non-Major Physical Assaults on Other Transit Workers,Non-Major Non-Physical Assaults on Other Transit Workers,Major Physical Assaults on Operators,Major Non-Physical Assaults on Operators,Major Physical Assaults on Other Transit Workers,Major Non-Physical Assaults on Other Transit Workers,Total Assaults on Transit Workers,MoYr
9534,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140101
9535,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140201
9536,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140301
9537,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140401
9538,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169366,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20240901
171866,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20141201
171927,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140301
171928,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140401
171929,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140601

In [227]:
raleigh_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Raleigh", na=False)]
raleigh_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,...,Non-Major Physical Assaults on Operators,Non-Major Non-Physical Assaults on Operators,Non-Major Physical Assaults on Other Transit Workers,Non-Major Non-Physical Assaults on Other Transit Workers,Major Physical Assaults on Operators,Major Non-Physical Assaults on Operators,Major Physical Assaults on Other Transit Workers,Major Non-Physical Assaults on Other Transit Workers,Total Assaults on Transit Workers,MoYr
666,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140701
667,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140801
668,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140901
669,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20141001
670,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20141101

In [229]:
philly_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Philadelphia", na=False)]
philly_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,...,Non-Major Physical Assaults on Operators,Non-Major Non-Physical Assaults on Operators,Non-Major Physical Assaults on Other Transit Workers,Non-Major Non-Physical Assaults on Other Transit Workers,Major Physical Assaults on Operators,Major Non-Physical Assaults on Operators,Major Physical Assaults on Other Transit Workers,Major Non-Physical Assaults on Other Transit Workers,Total Assaults on Transit Workers,MoYr
210,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140101
211,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140201
212,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140301
213,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140401
214,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20140501

In [69]:
#Non-IOU = Non-Investor-Owned Utility
noniou_utility_rates = pd.read_csv('../data/non_iou_utlity_rates_zip_openei_all.csv')

In [70]:
iou_utility_rates = pd.read_csv('../data/utility_rates_zip_openei_all.csv')

In [71]:
#Regional price parities
#Regional price parities measure the differences in price levels across states for a given year 
#and are expressed as a percentage of the overall national price level.
rpp_us = pd.read_csv('../data/regional_price_parities_bea_gov_all_100.csv')

In [72]:
pc_personal_consumption_us = pd.read_csv('../data/personal_consumption_expenditures_all_bea_2023_pc.csv')