# <center> Capstone Project <center>

### <center> Data Dwellers: Finding a Home Through Analytics <center>

<div class="alert alert-block alert-info">
<b>Where should I live?:</b> 

Which U.S. city among my selected options - Raleigh, NC; Seattle, WA; Philadelphia, PA; and Austin, TX - offers the best balance of public transportation, diversity, and affordability for a remote worker seeking a vibrant, walkable, and connected lifestyle?

Things to consider:
- How much each city spends on public transit
- Availability of public transit systems
- Average Commute time
- Racial diversity per city
- Foreign-born population %
- Number of languages spoken
- Median monthly rent
- Median home price
- Average monthly utility and internet costs
- Grocery and transportation prices

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
pd.set_option('display.max_columns', None)

# Reading in city specific data:

#### Austin:

In [9]:
austin_city_budget=pd.read_csv('../data/austin/Austin_Program_Budget_Operating_Budget_Vs_Expense_Raw_Data_20250519.csv')

In [10]:
austin_city_budget.head()

,BUDGET_FISCAL_YEAR,THRU_QUARTER,DEPT_ROLLUP,DEPT_ROLLUP_NAME,DEPARTMENT_CODE,DEPARTMENT_NAME,FUND_CODE,FUND_NAME,PROGRAM_CODE,PROGRAM_NAME,ACTIVITY_CODE,ACTIVITY_NAME,UNIT_CODE,UNIT_NAME,EXPENSE_CODE,EXPENSE_NAME,BUDGET,EXPENDITURES,KEY
0,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,2219,Sand Hill - Maintenance,6132,Rental-heavy equipment,70000.0,16455.75,2025211110050101PSM1GEN22196132
1,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,2252,Decker Maintenance,5035,Administrative leave,0.0,4202.08,2025211110050101PSM1GEN22525035
2,2025,2,45,Office of the City Clerk,4500,Office of the City Clerk,5150,Support Services Fund,9MGT,Support Services,9ADM,Departmental Support Services,8790,Administration and Management,5726,Services-Software as a Service,85000.0,80918.25,2025245450051509MGT9ADM87905726
3,2025,2,46,Municipal Court,4600,Municipal Court,1000,General Fund,4PUB,Municipal Court Operations,4CSV,Customer Services,4202,Communications,5028,Terminal pay,0.0,3867.81,2025246460010004PUB4CSV42025028
4,2025,2,11,Austin Energy,1100,Austin Energy,5010,Austin Energy Fund,1PSM,"Power Generation, Market Operations & Resource...",1GEN,Power Generation,1124,Energy Products,5006,Temporary employees,43136.0,2405.20,2025211110050101PSM1GEN11245006

In [11]:
#Transportation and Public Works
austin_transportation_budget = austin_city_budget[austin_city_budget['DEPARTMENT_NAME'] == 'Transportation and Public Works']
austin_transportation_budget

,BUDGET_FISCAL_YEAR,THRU_QUARTER,DEPT_ROLLUP,DEPT_ROLLUP_NAME,DEPARTMENT_CODE,DEPARTMENT_NAME,FUND_CODE,FUND_NAME,PROGRAM_CODE,PROGRAM_NAME,ACTIVITY_CODE,ACTIVITY_NAME,UNIT_CODE,UNIT_NAME,EXPENSE_CODE,EXPENSE_NAME,BUDGET,EXPENDITURES,KEY
154,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,3SRP,Street Repair,3RTM,Routine Maintenance,6060,North District Routine Maint,7134,Chemicals,3500.0,0.00,2025260620051203SRP3RTM60607134
284,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,9MGT,Support Services,9ADM,Departmental Support Services,8786,Safety,6632,Memberships,450.0,668.00,2025260620051209MGT9ADM87866632
306,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3200,TPW Development Services,5280,Consultant-others,850000.0,384819.71,2025260620051201SSP6SPT32005280
307,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3250,Land Development Engineering,5620,Services-legal fees,0.0,815.00,2025260620051201SSP6SPT32505620
311,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1IMG,Asset and Facility Management,2ESS,Asset and Facility Management,8788,Logistics and Facility Management,6382,Maintenance-grounds,17000.0,11114.35,2025260620051201IMG2ESS87886382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50211,2025,2,60,Public Works,6200,Transportation and Public Works,7790,Child Safety Fund,6CSF,Child Safety,2SCG,School Crossing Guards,2650,School Crossing Guards,5191,Medicare tax,38000.0,25701.19,2025260620077906CSF2SCG26505191
50212,2025,2,60,Public Works,6200,Transportation and Public Works,7790,Child Safety Fund,6CSF,Child Safety,2SCG,School Crossing Guards,2650,School Crossing Guards,5196,Contribution to employees ret,51919.0,32359.83,2025260620077906CSF2SCG26505196
50213,2025,2,60,Public Works,6200,Transportation and Public Works,7790,Child Safety Fund,6CSF,Child Safety,2SCG,School Crossing Guards,2650,School Crossing Guards,6551,Mileage reimbursements,25000.0,17846.51,2025260620077906CSF2SCG26506551
54769,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,2CPO,Corridor Program Office,2CPL,Corridor Program Implementation,2210,Strategic Communications,7478,Clothing/clothing material,0.0,0.00,2025260620051202CPO2CPL22107478
54770,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,9MGT,Support Services,9ADM,Departmental Support Services,8789,Public Outreach,9051,Other Equipment,0.0,0.00,2025260620051209MGT9ADM87899051

In [12]:
austin_access_public_transport=pd.read_csv('../data/austin/austin_strategic_measures_percentage_of_population_access_to_public_transit_service_or_is_within_one_quarter_mile_of_regular_fixed_route_transit_20250519.csv')

In [13]:
austin_access_public_transport.head()

,Record No,Full Census Tract Block Group (CTBG) ID,CTBG ID,Population,Area (sq ft),Area (sq ft) with transportation options,Area (sq ft) without transpotation options,Percent area with transportation options,Percent area without transportation options,Population with transportation options,Population without transportation options,Percent population with transportation options,Percent population without transportation options,Year Date,Year,Date Created
0,1,1500000US484910203191,4.849100e+11,3254,41510202.0,8457954.0,33052248.0,0.2038,0.7962,663.0,2591.0,0.2038,0.7962,1/1/2020,2020,3/5/2021
1,2,1500000US484910205103,4.849100e+11,1135,4107489.0,0.0,4107489.0,0.0000,1.0000,0.0,1135.0,0.0000,1.0000,1/1/2020,2020,3/5/2021
2,3,1500000US484910203202,4.849100e+11,870,11181888.0,7006005.0,4175883.0,0.6265,0.3735,545.0,325.0,0.6265,0.3735,1/1/2020,2020,3/5/2021
3,4,1500000US484910203241,4.849100e+11,5257,27935852.0,393630.0,27542222.0,0.0141,0.9859,74.0,5183.0,0.0141,0.9859,1/1/2020,2020,3/5/2021
4,5,1500000US484910204092,4.849100e+11,2149,14114864.0,0.0,14114864.0,0.0000,1.0000,0.0,2149.0,0.0000,1.0000,1/1/2020,2020,3/5/2021

In [14]:
austin_commute_chars=pd.read_csv('../data/austin/census_austin_commuting_chars.csv')

In [15]:
austin_commute_chars.head()

,Label,Total Estimate,Total Margin of Error,Male Estimate,Male Margin of Error,Female Estimate,Female Margin of Error
0,Workers 16 years and over,"13,951",±620,"7,841",±480,"6,110",±465
1,MEANS OF TRANSPORTATION TO WORK,Total Estimate,Total Margin of Error,Male Estimate,Male Margin of Error,Female Estimate,Female Margin of Error
2,"Car, truck, or van",88.40%,±2.4,87.10%,±3.6,90.00%,±3.2
3,Drove alone,80.80%,±2.5,80.50%,±3.8,81.30%,±4.0
4,Carpooled,7.60%,±1.9,6.60%,±2.0,8.70%,±3.2

In [16]:
austin_commute_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Label                   63 non-null     object
 1   Total Estimate          63 non-null     object
 2   Total Margin of Error   63 non-null     object
 3   Male Estimate           63 non-null     object
 4   Male Margin of Error    63 non-null     object
 5   Female Estimate         63 non-null     object
 6   Female Margin of Error  63 non-null     object
dtypes: object(7)
memory usage: 3.6+ KB

In [17]:
austin_commute_chars.columns = ['Commute Label',
                               'Austin Total Estimate', 
                               'Austin Total  Margin of Error',
                               'Austin Male Estimate',
                                'Austin Male Margin of Error',
                               'Austin Female Estimate',
                               'Austin Female Margin of Error']
austin_commute_chars

,Commute Label,Austin Total Estimate,Austin Total Margin of Error,Austin Male Estimate,Austin Male Margin of Error,Austin Female Estimate,Austin Female Margin of Error
0,Workers 16 years and over,"13,951",±620,"7,841",±480,"6,110",±465
1,MEANS OF TRANSPORTATION TO WORK,Total Estimate,Total Margin of Error,Male Estimate,Male Margin of Error,Female Estimate,Female Margin of Error
2,"Car, truck, or van",88.40%,±2.4,87.10%,±3.6,90.00%,±3.2
3,Drove alone,80.80%,±2.5,80.50%,±3.8,81.30%,±4.0
4,Carpooled,7.60%,±1.9,6.60%,±2.0,8.70%,±3.2
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,16.00%,(X),(X),(X),(X),(X)
59,Place of work,18.20%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,32.90%,(X),(X),(X),(X),(X)
61,Travel time to work,23.20%,(X),(X),(X),(X),(X)
62,Vehicles available,1.60%,(X),(X),(X),(X),(X)

In [18]:
austin_housing_chars=pd.read_csv('../data/austin/census_selected_housing_char_austin.csv')

In [19]:
austin_housing_chars.head()

,Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"14,086",±28,"14,086",(X)
2,Occupied housing units,"12,174",±325,86.4%,±2.3
3,Vacant housing units,"1,912",±325,13.6%,±2.3
4,Homeowner vacancy rate,0.7,±0.7,(X),(X)

In [20]:
austin_housing_chars.columns = ['Housing Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']
austin_housing_chars

,Housing Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"14,086",±28,"14,086",(X)
2,Occupied housing units,"12,174",±325,86.4%,±2.3
3,Vacant housing units,"1,912",±325,13.6%,±2.3
4,Homeowner vacancy rate,0.7,±0.7,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,397,±211,16.4%,±8.0
156,25.0 to 29.9 percent,387,±227,16.0%,±8.7
157,30.0 to 34.9 percent,160,±132,6.6%,±5.5
158,35.0 percent or more,"1,039",±243,43.0%,±10.0
159,Not computed,321,±158,(X),(X)

In [21]:
austin_social_chars=pd.read_csv('../data/austin/census_austin_social_chars.csv')

In [22]:
austin_social_chars.head()

,Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"12,174",±325,"12,174",(X)
2,Married-couple household,"7,048",±497,57.90%,±4.2
3,With children of the householder under 18 years,"2,839",±363,23.30%,±3.0
4,Cohabiting couple household,718,±235,5.90%,±1.9

In [23]:
austin_social_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Label                           172 non-null    object
 1   Austin Estimate                 154 non-null    object
 2   Austin Margin of Error          154 non-null    object
 3   Austin Percent                  154 non-null    object
 4   Austin Percent Margin of Error  154 non-null    object
dtypes: object(5)
memory usage: 6.8+ KB

In [24]:
austin_social_chars.columns = ['Social Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']
austin_social_chars

,Social Label,Austin Estimate,Austin Margin of Error,Austin Percent,Austin Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"12,174",±325,"12,174",(X)
2,Married-couple household,"7,048",±497,57.90%,±4.2
3,With children of the householder under 18 years,"2,839",±363,23.30%,±3.0
4,Cohabiting couple household,718,±235,5.90%,±1.9
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),10,±17,0.00%,±0.1
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"12,174",±325,"12,174",(X)
170,With a computer,"11,772",±343,96.70%,±1.1
171,With a broadband Internet subscription,"9,847",±377,80.90%,±2.0

#### Philadelphia

In [26]:
philly_pt_budget=pd.read_csv('../data/philadelphia/operating_budget_fy_2019.csv')

In [27]:
philly_pt_budget.head()

,fiscal_year,fund,department,class_id,class,total
0,2019,Grants Revenue Fund,Revenue,200,Purchase of Services,26425000
1,2019,General Fund,City Council,100,Personal Services,14824858
2,2019,General Fund,City Council,200,Purchase of Services,1971885
3,2019,General Fund,City Council,300,"Materials, Supplies & Equipment",528650
4,2019,General Fund,City Council,500,"Contributions, Indemnities, Refunds, Taxes",100

In [28]:
philly_septa_budget=pd.read_csv('../data/philadelphia/septa_philly_budget.csv')

In [29]:
philly_septa_budget.head()

,Type,Fiscal_Year,Allocation_Method,Division,Department,Labor_and_Fringe__in__000s_,Material_and_Services__in__000s,Notes,ObjectId
0,Actual,2022,Departmental,Operations,Rail Operations,206196,26102,NaN,1
1,Actual,2023,Departmental,Operations,Rail Operations,213577,31272,NaN,2
2,Actual,2022,Departmental,Operations,Bus Operations & Access,244849,34203,NaN,3
3,Actual,2023,Departmental,Operations,Bus Operations & Access,247219,36488,NaN,4
4,Actual,2022,Departmental,Operations,"Administration, Finance And Support",3287,958,NaN,5

In [30]:
philly_transportation_budget = philly_septa_budget[philly_septa_budget['Fiscal_Year']==2024]
philly_transportation_budget

,Type,Fiscal_Year,Allocation_Method,Division,Department,Labor_and_Fringe__in__000s_,Material_and_Services__in__000s,Notes,ObjectId
93,Budgeted,2024,Departmental,Operations,Rail Operations,236494,27614,NaN,94
94,Budgeted,2024,Departmental,Operations,Bus Operations & Access,268919,37961,NaN,95
95,Budgeted,2024,Departmental,Operations,"Administration, Finance And Support",7693,20566,NaN,96
96,Budgeted,2024,Departmental,Operations,Bridges And Buildings,52431,49511,NaN,97
97,Budgeted,2024,Departmental,Operations,Maintenance Of Way,57609,8806,NaN,98
98,Budgeted,2024,Departmental,Operations,Transit Police Department,25723,7685,NaN,99
99,Budgeted,2024,Departmental,Operations,Control Center,10291,53,NaN,100
100,Budgeted,2024,Departmental,Human Resources,NaN,19031,4653,NaN,101
101,Budgeted,2024,Departmental,Finance,NaN,36595,37651,NaN,102
102,Budgeted,2024,Departmental,Office Of General Counsel Division,NaN,19228,28239,NaN,103
103,Budgeted,2024,Departmental,Corporate Staff,NaN,13716,5232,NaN,104
104,Budgeted,2024,Departmental,System Safety,NaN,2503,1183,NaN,105
105,Budgeted,2024,Departmental,Office Of Inspector General,NaN,2871,105,NaN,106
106,Budgeted,2024,Departmental,Planning & Strategy,NaN,4884,9000,NaN,107
107,Budgeted,2024,Departmental,Equity & Inclusion,NaN,958,573,NaN,108
108,Budgeted,2024,Departmental,Capital Labor Allocation/Rental Reclassification,NaN,-36138,-4732,NaN,109
109,Budgeted,2024,Non-Departmental,Fringe Benefits,NaN,412451,0,NaN,110
110,Budgeted,2024,Non-Departmental,Amtrak,NaN,0,59100,NaN,111
111,Budgeted,2024,Non-Departmental,CCT - ADA Services,NaN,0,27287,NaN,112
112,Budgeted,2024,Non-Departmental,CCT - Shared Ride Program,NaN,0,18587,NaN,113
113,Budgeted,2024,Non-Departmental,Debt Service Interest and Fees,NaN,0,32661,NaN,114
114,Budgeted,2024,Non-Departmental,"Property Insurance/Other Claims Payouts, Net",NaN,0,7677,NaN,115
115,Budgeted,2024,Non-Departmental,Services for Headquarters' Building,NaN,0,6195,NaN,116
116,Budgeted,2024,Non-Departmental,Snow Removal and Other Weather Related Expenses,NaN,0,5650,NaN,117
117,Budgeted,2024,Non-Departmental,Utilities,NaN,0,31510,NaN,118
118,Budgeted,2024,Non-Departmental,Capitalized Costs and Other,NaN,0,-3205,NaN,119
119,Budgeted,2024,Other,Injury and Damage Claims,NaN,0,28339,NaN,120
120,Budgeted,2024,Other,Propulsion Power,NaN,0,39603,NaN,121
121,Budgeted,2024,Other,Fuel,NaN,0,31436,NaN,122
122,Budgeted,2024,Other,Vehicle and Facility Rentals,NaN,0,4732,NaN,123
123,Budgeted,2024,Other,Depreciation/Contributed Capital,NaN,0,26716,NaN,124

In [31]:
philly_commute_chars=pd.read_csv('../data/philadelphia/philidephia_commuting_chars.csv')

In [32]:
philly_commute_chars.columns = philly_commute_chars.iloc[1]
philly_commute_chars = philly_commute_chars.iloc[2:].reset_index(drop=True)

In [33]:
philly_commute_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Label            63 non-null     object
 1   Estimate         57 non-null     object
 2   Margin of Error  57 non-null     object
 3   Estimate         57 non-null     object
 4   Margin of Error  57 non-null     object
 5   Estimate         57 non-null     object
 6   Margin of Error  57 non-null     object
dtypes: object(7)
memory usage: 3.6+ KB

In [34]:
philly_commute_chars.columns = ['Commute Label', 
                        'Philadelphia Total Estimate',
                        'Philadelphia Total Margin of Error', 
                        'Philadelphia Male Estimate', 
                        'Philadelphia Male Margin of Error',
                        'Philadelphia Female Estimate',
                         'Philadelphia Female Margin of Error']
philly_commute_chars

,Commute Label,Philadelphia Total Estimate,Philadelphia Total Margin of Error,Philadelphia Male Estimate,Philadelphia Male Margin of Error,Philadelphia Female Estimate,Philadelphia Female Margin of Error
0,Workers 16 years and over,"744,103","±12,654","360,062","±7,566","384,041","±8,730"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",54.0%,±1.6,57.4%,±2.1,50.8%,±2.2
3,Drove alone,45.6%,±1.6,48.9%,±2.2,42.6%,±2.2
4,Carpooled,8.4%,±1.0,8.5%,±1.4,8.3%,±1.1
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,21.5%,(X),(X),(X),(X),(X)
59,Place of work,23.3%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,34.7%,(X),(X),(X),(X),(X)
61,Travel time to work,27.7%,(X),(X),(X),(X),(X)
62,Vehicles available,2.2%,(X),(X),(X),(X),(X)

In [35]:
philly_social_chars=pd.read_csv('../data/philadelphia/philadelphia_social_chars.csv')

In [36]:
philly_social_chars.head()

,Unnamed: 0,"Philadelphia County, Pennsylvania",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"688,112","±5,822","688,112",(X)
3,Married-couple household,"195,989","±7,938",28.5%,±1.1
4,With children of the householder under 18 years,"67,349","±5,432",9.8%,±0.8

In [37]:
philly_social_chars.columns = philly_social_chars.iloc[0]
philly_social_chars = philly_social_chars.iloc[1:].reset_index(drop=True)

In [38]:
philly_social_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label                    172 non-null    object
 1   Estimate                 154 non-null    object
 2   Margin of Error          154 non-null    object
 3   Percent                  154 non-null    object
 4   Percent Margin of Error  154 non-null    object
dtypes: object(5)
memory usage: 6.8+ KB

In [39]:
philly_social_chars.columns = ['Social Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']
philly_social_chars

,Social Label,Philadelphia Estimate,Philadelphia Margin of Error,Philadelphia Percent,Philadelphia Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"688,112","±5,822","688,112",(X)
2,Married-couple household,"195,989","±7,938",28.5%,±1.1
3,With children of the householder under 18 years,"67,349","±5,432",9.8%,±0.8
4,Cohabiting couple household,"54,460","±5,091",7.9%,±0.7
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"35,737","±8,407",2.3%,±0.5
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"688,112","±5,822","688,112",(X)
170,With a computer,"655,376","±5,976",95.2%,±0.6
171,With a broadband Internet subscription,"626,452","±6,966",91.0%,±0.8

In [40]:
philly_housing_chars=pd.read_csv('../data/philadelphia/census_selected_housing_char_philly.csv')

In [41]:
philly_housing_chars.head()

,Unnamed: 0,"Philadelphia County, Pennsylvania",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"760,242",±553,"760,242",(X)
3,Occupied housing units,"688,112","±5,822",90.5%,±0.8
4,Vacant housing units,"72,130","±5,816",9.5%,±0.8

In [42]:
philly_housing_chars.columns = philly_housing_chars.iloc[0]
philly_housing_chars = philly_housing_chars.iloc[1:].reset_index(drop=True)

In [43]:
philly_housing_chars.head()

,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"760,242",±553,"760,242",(X)
2,Occupied housing units,"688,112","±5,822",90.5%,±0.8
3,Vacant housing units,"72,130","±5,816",9.5%,±0.8
4,Homeowner vacancy rate,1.4,±0.4,(X),(X)

In [44]:
philly_housing_chars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label                    160 non-null    object
 1   Estimate                 143 non-null    object
 2   Margin of Error          143 non-null    object
 3   Percent                  143 non-null    object
 4   Percent Margin of Error  143 non-null    object
dtypes: object(5)
memory usage: 6.4+ KB

In [45]:
philly_housing_chars.columns = ['Housing Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']
philly_housing_chars

,Housing Label,Philadelphia Estimate,Philadelphia Margin of Error,Philadelphia Percent,Philadelphia Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"760,242",±553,"760,242",(X)
2,Occupied housing units,"688,112","±5,822",90.5%,±0.8
3,Vacant housing units,"72,130","±5,816",9.5%,±0.8
4,Homeowner vacancy rate,1.4,±0.4,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"41,955","±4,911",13.5%,±1.6
156,25.0 to 29.9 percent,"35,666","±4,227",11.5%,±1.3
157,30.0 to 34.9 percent,"28,458","±5,282",9.2%,±1.7
158,35.0 percent or more,"132,357","±8,321",42.6%,±2.4
159,Not computed,"20,503","±3,375",(X),(X)

#### Raleigh

In [47]:
raleigh_commute_chars=pd.read_csv('../data/raleigh/census_raleigh_commuting_chars.csv')

In [48]:
raleigh_commute_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Total,NaN,Male,NaN,Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
3,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
4,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7

In [49]:
raleigh_commute_chars.columns = raleigh_commute_chars.iloc[1]
raleigh_commute_chars = raleigh_commute_chars.iloc[2:].reset_index(drop=True)

In [50]:
raleigh_commute_chars.head()

1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
0,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7
3,Drove alone,62.9%,±1.4,63.0%,±1.7,62.7%,±1.8
4,Carpooled,5.8%,±0.7,6.1%,±1.0,5.5%,±1.0

In [51]:
raleigh_commute_chars.columns = ['Commute Label', 
                        'Raleigh Total Estimate',
                        'Raleigh Total Margin of Error', 
                        'Raleigh Male Estimate', 
                        'Raleigh Male Margin of Error',
                        'Raleigh Female Estimate',
                         'Raleigh Female Margin of Error']
raleigh_commute_chars

,Commute Label,Raleigh Total Estimate,Raleigh Total Margin of Error,Raleigh Male Estimate,Raleigh Male Margin of Error,Raleigh Female Estimate,Raleigh Female Margin of Error
0,Workers 16 years and over,"639,649","±8,777","334,871","±5,149","304,778","±6,194"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",68.7%,±1.3,69.1%,±1.8,68.3%,±1.7
3,Drove alone,62.9%,±1.4,63.0%,±1.7,62.7%,±1.8
4,Carpooled,5.8%,±0.7,6.1%,±1.0,5.5%,±1.0
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,14.3%,(X),(X),(X),(X),(X)
59,Place of work,15.3%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,26.7%,(X),(X),(X),(X),(X)
61,Travel time to work,19.2%,(X),(X),(X),(X),(X)
62,Vehicles available,1.9%,(X),(X),(X),(X),(X)

In [52]:
raleigh_social_chars=pd.read_csv('../data/raleigh/census_raleigh_social_chars.csv')

In [53]:
raleigh_social_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"481,294","±4,227","481,294",(X)
3,Married-couple household,"245,325","±5,579",51.0%,±1.1
4,With children of the householder under 18 years,"109,949","±4,129",22.8%,±0.8

In [54]:
raleigh_social_chars.columns =raleigh_social_chars.iloc[0]
raleigh_social_chars = raleigh_social_chars.iloc[1:].reset_index(drop=True)

In [55]:
raleigh_social_chars.columns = ['Social Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']
raleigh_social_chars

,Social Label,Raleigh Estimate,Raleigh Margin of Error,Raleigh Percent,Raleigh Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"481,294","±4,227","481,294",(X)
2,Married-couple household,"245,325","±5,579",51.0%,±1.1
3,With children of the householder under 18 years,"109,949","±4,129",22.8%,±0.8
4,Cohabiting couple household,"34,696","±4,053",7.2%,±0.8
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"9,274","±3,250",0.8%,±0.3
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"481,294","±4,227","481,294",(X)
170,With a computer,"472,614","±4,197",98.2%,±0.4
171,With a broadband Internet subscription,"457,843","±4,718",95.1%,±0.6

In [56]:
raleigh_housing_chars=pd.read_csv('../data/raleigh/census_selected_housing_char_raliegh.csv')

In [57]:
raleigh_housing_chars.head()

,Unnamed: 0,"Wake County, North Carolina",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"512,256",±323,"512,256",(X)
3,Occupied housing units,"481,294","±4,227",94.0%,±0.8
4,Vacant housing units,"30,962","±4,267",6.0%,±0.8

In [58]:
raleigh_housing_chars.columns =raleigh_housing_chars.iloc[0]
raleigh_housing_chars = raleigh_housing_chars.iloc[1:].reset_index(drop=True)

In [59]:
raleigh_housing_chars.head()

,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"512,256",±323,"512,256",(X)
2,Occupied housing units,"481,294","±4,227",94.0%,±0.8
3,Vacant housing units,"30,962","±4,267",6.0%,±0.8
4,Homeowner vacancy rate,0.4,±0.2,(X),(X)

In [60]:
raleigh_housing_chars.columns = ['Housing Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']
raleigh_housing_chars

,Housing Label,Raleigh Estimate,Raleigh Margin of Error,Raleigh Percent,Raleigh Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"512,256",±323,"512,256",(X)
2,Occupied housing units,"481,294","±4,227",94.0%,±0.8
3,Vacant housing units,"30,962","±4,267",6.0%,±0.8
4,Homeowner vacancy rate,0.4,±0.2,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"20,226","±3,111",12.0%,±1.7
156,25.0 to 29.9 percent,"24,394","±3,419",14.5%,±2.0
157,30.0 to 34.9 percent,"19,205","±2,936",11.4%,±1.7
158,35.0 percent or more,"60,004","±4,472",35.6%,±2.5
159,Not computed,"5,538","±1,357",(X),(X)

In [61]:
raleigh_budget=pd.read_csv('../data/raleigh/raleigh_adopted_expense_budget.csv')

In [62]:
raleigh_budget.head()

,OBJECTID,BFY,FY,APD,Fund_Code,Fund_Name,Dept_Code,Department,Div_Code,Division,Unit_Code,Cost_Center,Obj_Type_Code,Obj_Type_Name,Obj_Cat_Code,Expenditure_Category,Obj_Class_Code,Obj_Class_Name,Obj_Code,Expenditure_Line_Item,Record_Date,Check_Number,Document_ID,Budgeted_Amount,Actual_Amount
0,1,2025,2025,1,1000,General Fund,10,Board Of Commissioners,1000,Board Of Commissioners,1001,BOC - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1101,REGULAR SALARIES & WAGES,2024/07/01 00:00:00+00,NaN,"WCBE,10,2025062000000003",375012.0,NaN
1,2,2025,2025,1,1000,General Fund,10,Board Of Commissioners,1000,Board Of Commissioners,1001,BOC - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1106,MERIT ALLOCATIONS,2024/07/01 00:00:00+00,NaN,"WCBE,10,2025062000000003",12938.0,NaN
2,3,2025,2025,1,1000,General Fund,10,Board Of Commissioners,1000,Board Of Commissioners,1001,BOC - Admin,1000,Salary / Benefits,1100,Salary,1130,Overtime Salaries,1110,Overtime Salaries,2024/07/01 00:00:00+00,NaN,"WCBE,10,2025062000000003",5000.0,NaN
3,4,2025,2025,1,1000,General Fund,10,Board Of Commissioners,1000,Board Of Commissioners,1001,BOC - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1210,FICA,1201,FICA,2024/07/01 00:00:00+00,NaN,"WCBE,10,2025062000000003",30062.0,NaN
4,5,2025,2025,1,1000,General Fund,10,Board Of Commissioners,1000,Board Of Commissioners,1001,BOC - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1220,Health,1223,Health Insurance,2024/07/01 00:00:00+00,NaN,"WCBE,10,2025062000000003",37400.0,NaN

In [63]:
raleigh_transportation_budget = raleigh_budget[raleigh_budget['Division'] =='Transportation']
raleigh_transportation_budget

,OBJECTID,BFY,FY,APD,Fund_Code,Fund_Name,Dept_Code,Department,Div_Code,Division,Unit_Code,Cost_Center,Obj_Type_Code,Obj_Type_Name,Obj_Cat_Code,Expenditure_Category,Obj_Class_Code,Obj_Class_Name,Obj_Code,Expenditure_Line_Item,Record_Date,Check_Number,Document_ID,Budgeted_Amount,Actual_Amount
6329,6330,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1101,REGULAR SALARIES & WAGES,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",213740.0,NaN
6330,6331,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1106,MERIT ALLOCATIONS,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",7375.0,NaN
6331,6332,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1210,FICA,1201,FICA,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",16916.0,NaN
6332,6333,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1220,Health,1223,Health Insurance,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",40893.0,NaN
6333,6334,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1230,Retirement,1205,401(K),2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",11055.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141549,141550,2025,2025,10,2900,Transportation,46,Health and Human Services,4680,Transportation,836T,Wake Transit,2000,Contractual Services,2100,Contractual Services,2410,Other Contracts,2406,CONTRACTED SERVICES,2025/04/02 00:00:00+00,6.200299e+09,"EFT,22,EF20250401017198",NaN,38050.0
141550,141551,2025,2025,10,2900,Transportation,46,Health and Human Services,4680,Transportation,837T,Disability Determination Transportation,2000,Contractual Services,2100,Contractual Services,2410,Other Contracts,2406,CONTRACTED SERVICES,2025/04/02 00:00:00+00,6.200299e+09,"EFT,22,EF20250401017198",NaN,136.0
141551,141552,2025,2025,10,2900,Transportation,46,Health and Human Services,4680,Transportation,838T,Wake Transit - EDTAP,2000,Contractual Services,2100,Contractual Services,2410,Other Contracts,2406,CONTRACTED SERVICES,2025/04/02 00:00:00+00,6.200299e+09,"EFT,22,EF20250401017198",NaN,24684.0
141552,141553,2025,2025,10,2900,Transportation,46,Health and Human Services,4680,Transportation,842T,Go Apex,2000,Contractual Services,2100,Contractual Services,2410,Other Contracts,2406,CONTRACTED SERVICES,2025/04/02 00:00:00+00,6.200299e+09,"EFT,22,EF20250401017198",NaN,6759.0
141553,141554,2025,2025,10,2900,Transportation,46,Health and Human Services,4680,Transportation,843T,Smart Ride NE Program - Wake Transit,2000,Contractual Services,2100,Contractual Services,2410,Other Contracts,2406,CONTRACTED SERVICES,2025/04/02 00:00:00+00,6.200299e+09,"EFT,22,EF20250401017198",NaN,50248.0

In [64]:
raleigh_cap_projects=pd.read_csv('../data/raleigh/raliegh_adopted_capital_projects.csv')

In [65]:
raleigh_cap_projects.head()

,Project_Name,Category,Department,Brief_Description,Budget_Total_5_Year,Expected_Project_Start_Date,Expected_Project_End_Date,F2017,F2018,F2019,F2020,F2021,Multisite_Project,Project_Location,Disclaimer,Disclaimer_Flag,Project_Code,FID
0,John Chavis Park Improvements,2014 Bond Projects,PARKS,Phase I implementation of the Master Plan.,11750000.0,NaN,NaN,NaN,11750000.0,NaN,NaN,NaN,Single Site,Chavis,-,-,93360000,1
1,Park Site Acquisition,2014 Bond Projects,PARKS,Acquire additional park property based on the ...,8000000.0,NaN,NaN,5000000.0,0.0,2000000.0,1000000.0,0.0,Yes - Unknown,Other,-,-,82290000,2
2,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Lake Johnson,Total budget shown for this location is actual...,Y - Duplicate,88490000,3
3,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Longview,Total budget shown for this location is actual...,Y - Duplicate,88490000,4
4,Aquatic Improvements,2014 Bond Projects,PARKS,"Roof package unit, boiler replacement, paintin...",7000000.0,NaN,NaN,NaN,5000000.0,NaN,2000000.0,NaN,Yes - Known,Optimist,Total budget shown for this location is actual...,Y - Duplicate,88490000,5

#### Seattle

In [67]:
seattle_cap_projects=pd.read_csv('../data/seattle/seatle_open_budget_capital_projects_details_20250518.csv')

In [68]:
seattle_cap_projects.head()

,Project_id,Project_name,Project_Description,Current Address,Current_Phase,Current_Phase_Type,Project_Details_URL,Regions,Latitude,Longitude
0,S0101,Utility Infrastructure Master Plan & Repairs,This ongoing project funds the repair and reno...,Seattle Center Campus,NaN,,,NaN,NaN,NaN
1,S0301,Parking Repairs and Improvements,This ongoing project provides for the repair a...,Seattle Center Campus,NaN,,,NaN,NaN,NaN
2,S0302,Mercer Arena Redevelopment,This project redevelops the Mercer Arena site ...,363 Mercer St,NaN,,,NaN,NaN,NaN
3,S0303,McCaw Hall Asset Preservation,This project provides for the implementation o...,321 Mercer St,1.0,Rehabilitation or Restoration,http://www.seattle.gov/financedepartment/1419a...,0.0,47.624552,-122.350759
4,S0305,General Site Improvements,"This ongoing project improves the safety, secu...",Seattle Center Campus,NaN,,,NaN,NaN,NaN

In [69]:
seattle_budget=pd.read_csv('../data/seattle/City_of_Seattle_Operating_Budget_20250518.csv')

In [70]:
seattle_budget.head()

,Fiscal Year,Service,Department,Program,Fund,Fund Type,Expense Type,Description,Approved Amount
0,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,674023.55
1,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,367.66
2,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,140043.13
3,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,398825.16
4,2023,Administration,City Budget Office,City Budget Office,00100 - General Fund,General Fund,Expenditures,Non-Labor,21529.84

In [71]:
seattle_transportation_budget= seattle_budget[(seattle_budget['Department']=='Seattle Department of Transportation') &
                                             (seattle_budget['Fiscal Year']==2025)].reset_index()
seattle_transportation_budget = seattle_transportation_budget.drop('index', axis=1)
seattle_transportation_budget

,Fiscal Year,Service,Department,Program,Fund,Fund Type,Expense Type,Description,Approved Amount
0,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,4989.00000
1,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,774.00000
2,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,389.00000
3,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Indirect,654898.00000
4,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,93161.00000
...,...,...,...,...,...,...,...,...,...
840,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Waterfront and Civic Projects,14500 - Payroll Expense Tax,Payroll Expense Tax,Expenditures,Non-Labor,250000.00000
841,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Waterfront and Civic Projects,35900 - Central Waterfront Improvement Fund,Central Waterfront Improvement Fund,Expenditures,Labor,0.09760
842,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Waterfront and Civic Projects,35900 - Central Waterfront Improvement Fund,Central Waterfront Improvement Fund,Expenditures,Labor,0.00000
843,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Waterfront and Civic Projects,35900 - Central Waterfront Improvement Fund,Central Waterfront Improvement Fund,Expenditures,Labor,0.00000
844,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Waterfront and Civic Projects,35900 - Central Waterfront Improvement Fund,Central Waterfront Improvement Fund,Expenditures,Labor,-0.35064

In [72]:
seattle_housing_char=pd.read_csv('../data/seattle/census_selected_housing_char_seattle.csv')

In [73]:
seattle_housing_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
2,Total housing units,"1,021,711",±279,"1,021,711",(X)
3,Occupied housing units,"949,792","±7,010",93.0%,±0.7
4,Vacant housing units,"71,919","±7,010",7.0%,±0.7

In [74]:
seattle_housing_char.columns =seattle_housing_char.iloc[0]
seattle_housing_char = seattle_housing_char.iloc[1:].reset_index(drop=True)

In [75]:
seattle_housing_char.columns = ['Housing Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']
seattle_housing_char

,Housing Label,Seattle Estimate,Seattle Margin of Error,Seattle Percent,Seattle Percent Margin of Error
0,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN
1,Total housing units,"1,021,711",±279,"1,021,711",(X)
2,Occupied housing units,"949,792","±7,010",93.0%,±0.7
3,Vacant housing units,"71,919","±7,010",7.0%,±0.7
4,Homeowner vacancy rate,0.6,±0.2,(X),(X)
...,...,...,...,...,...
155,20.0 to 24.9 percent,"53,028","±4,035",12.9%,±0.9
156,25.0 to 29.9 percent,"45,528","±4,027",11.1%,±1.0
157,30.0 to 34.9 percent,"35,833","±3,827",8.7%,±0.9
158,35.0 percent or more,"157,348","±7,217",38.4%,±1.6
159,Not computed,"11,886","±1,989",(X),(X)

In [76]:
seattle_social_char=pd.read_csv('../data/seattle/sensus_seattle_social_chars.csv')

In [77]:
seattle_social_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
2,Total households,"949,792","±7,010","949,792",(X)
3,Married-couple household,"438,596","±8,158",46.2%,±0.8
4,With children of the householder under 18 years,"181,171","±5,705",19.1%,±0.6

In [78]:
seattle_social_char.columns =seattle_housing_char.iloc[0]
seattle_social_char = seattle_social_char.iloc[1:].reset_index(drop=True)

In [79]:
seattle_social_char.columns = ['Social Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']
seattle_social_char

,Social Label,Seattle Estimate,Seattle Margin of Error,Seattle Percent,Seattle Percent Margin of Error
0,HOUSEHOLDS BY TYPE,NaN,NaN,NaN,NaN
1,Total households,"949,792","±7,010","949,792",(X)
2,Married-couple household,"438,596","±8,158",46.2%,±0.8
3,With children of the householder under 18 years,"181,171","±5,705",19.1%,±0.6
4,Cohabiting couple household,"78,443","±4,976",8.3%,±0.5
...,...,...,...,...,...
167,West Indian (excluding Hispanic origin groups),"4,863","±1,405",0.2%,±0.1
168,COMPUTERS AND INTERNET USE,NaN,NaN,NaN,NaN
169,Total households,"949,792","±7,010","949,792",(X)
170,With a computer,"934,672","±6,941",98.4%,±0.2
171,With a broadband Internet subscription,"910,112","±6,991",95.8%,±0.4

In [80]:
seattle_commute_char=pd.read_csv('../data/seattle/census_seattle_commuting_chars.csv')

In [81]:
seattle_commute_char.head()

,Unnamed: 0,"King County, Washington",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Total,NaN,Male,NaN,Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Workers 16 years and over,"1,254,215","±8,734","680,183","±6,530","574,032","±8,268"
3,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
4,"Car, truck, or van",60.9%,±0.9,61.1%,±1.0,60.6%,±1.3

In [82]:
seattle_commute_char.columns = seattle_commute_char.iloc[1]
seattle_commute_char = seattle_commute_char.iloc[2:].reset_index(drop=True)

In [83]:
seattle_commute_char.columns = ['Commute Label', 
                        'Seattle Total Estimate',
                        'Seattle Total Margin of Error', 
                        'Seattle Male Estimate', 
                        'Seattle Male Margin of Error',
                        'Seattle Female Estimate',
                         'Seattle Female Margin of Error']
seattle_commute_char

,Commute Label,Seattle Total Estimate,Seattle Total Margin of Error,Seattle Male Estimate,Seattle Male Margin of Error,Seattle Female Estimate,Seattle Female Margin of Error
0,Workers 16 years and over,"1,254,215","±8,734","680,183","±6,530","574,032","±8,268"
1,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
2,"Car, truck, or van",60.9%,±0.9,61.1%,±1.0,60.6%,±1.3
3,Drove alone,53.2%,±0.9,53.8%,±1.0,52.5%,±1.2
4,Carpooled,7.7%,±0.7,7.4%,±0.8,8.1%,±0.7
...,...,...,...,...,...,...,...
58,Private vehicle occupancy,15.0%,(X),(X),(X),(X),(X)
59,Place of work,14.8%,(X),(X),(X),(X),(X)
60,Time of departure to go to work,25.1%,(X),(X),(X),(X),(X)
61,Travel time to work,18.0%,(X),(X),(X),(X),(X)
62,Vehicles available,1.8%,(X),(X),(X),(X),(X)

# U.S. Data:

#### Will extract the city specific data from these datasets

In [86]:
single_fam_home_rent = pd.read_csv('../data/single_family_homes_rent_cost_all_counties.csv')

In [87]:
single_fam_home_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
0,102001,0,United States,country,NaN,1266.458399,1272.966287,1281.671247,1291.982596,1301.435991,1310.156944,1316.139487,1319.551853,1320.791611,1320.654667,1321.210183,1322.534228,1326.686835,1332.032025,1338.920214,1347.500188,1356.551974,1364.642790,1369.260830,1370.932500,1370.072794,1368.312896,1367.212222,1367.308859,1372.941490,1382.755807,1396.096696,1407.975407,1418.227282,1426.101988,1431.009865,1432.582254,1433.702277,1433.240218,1434.185302,1435.546931,1440.657625,1448.500191,1459.587655,1470.614069,1480.073601,1487.416711,1491.922943,1494.450382,1494.632120,1495.021195,1496.980598,1499.932810,1504.988057,1512.473070,1524.117202,1535.888080,1546.400405,1553.988357,1558.555640,1560.689285,1561.040090,1561.637461,1562.631241,1564.350231,1569.997323,1579.051386,1589.265269,1594.956086,1601.427989,1610.080763,1623.720138,1635.671152,1646.504089,1655.008126,1662.132364,1669.692163,1680.963097,1695.713181,1712.859706,1732.380299,1755.965000,1780.801934,1804.576204,1826.665135,1845.194177,1859.877783,1871.123633,1882.592071,1896.602794,1914.806473,1934.935055,1956.328663,1974.944655,1993.898602,2009.041263,2021.285256,2026.264398,2029.125471,2028.192651,2031.591602,2036.519669,2046.433097,2059.319400,2073.734993,2087.126449,2097.847927,2107.891133,2116.446495,2121.373417,2121.813772,2120.745695,2121.673914,2129.479531,2140.656004,2155.935860,2168.821951,2181.806590,2192.458422,2202.798162,2210.102815,2213.563825,2213.837739,2214.834702,2216.744205,2223.484964,2233.004046,2245.273898,2255.740601
1,394913,1,"New York, NY",msa,NY,2319.374071,2347.384536,2366.076927,2381.023395,2380.556256,2396.357946,2401.755766,2402.205521,2400.893178,2401.514816,2404.506966,2410.764186,2419.916519,2432.999935,2444.477378,2458.761537,2470.053745,2470.815989,2475.127525,2466.869196,2467.878497,2462.335022,2481.535663,2488.418416,2506.609609,2517.128211,2535.758016,2548.212201,2561.195843,2566.359788,2574.138345,2567.364849,2595.925461,2603.618077,2600.486334,2573.989518,2575.361100,2589.820955,2603.815410,2617.589501,2634.871000,2645.135401,2650.164003,2657.924935,2659.590394,2653.732986,2653.064327,2653.668060,2660.908777,2676.575269,2705.725827,2726.783620,2740.272761,2746.231873,2746.465174,2735.054082,2716.163997,2727.238785,2732.441408,2757.998682,2758.103358,2773.577152,2787.991207,2812.286517,2831.694746,2843.381034,2854.747119,2861.424356,2870.207910,2855.117481,2879.663811,2881.049022,2921.413526,2944.383735,2994.374987,3032.758636,3050.460436,3072.231073,3088.574507,3111.740856,3110.374078,3124.657922,3116.392026,3149.046617,3181.448493,3249.019432,3287.757914,3320.877158,3338.925358,3362.815371,3394.060208,3416.356532,3423.151478,3414.314754,3404.514357,3405.533241,3410.272442,3447.680613,3502.781673,3558.793543,3583.794522,3585.850045,3589.165258,3597.740342,3595.013691,3572.449536,3556.856711,3575.182884,3621.176437,3652.426142,3690.545420,3697.148948,3722.829327,3736.982597,3762.428652,3776.734272,3753.975329,3743.606437,3749.426645,3792.275646,3810.781511,3802.775688,3804.717843,3831.617282
2,753899,2,"Los Angeles, CA",msa,CA,2514.772977,2527.457905,2546.952021,2557.968755,2583.021015,2600.545666,2622.378933,2633.044115,2641.555572,2643.247635,2638.798413,2645.222557,2658.691054,2679.972154,2701.254552,2716.058383,2743.695530,2758.748700,2774.383181,2773.979524,2774.223026,2768.978575,2763.956921,2763.988831,2783.024717,2808.662284,2839.990202,2865.227770,2888.497845,2900.705492,2910.496281,2909.071168,2914.989961,2911.037081,2924.052830,2926.166551,2941.655852,2952.167201,2974.043858,2994.362296,3010.124208,3025.102395,3034.248894,3037.959512,3041.580267,3044.744207,3062.767588,3067.184128,3080.654327,3080.208310,3106.876217,3119.239711,3146.995345,3155.180626,3164.795210,3161.098561,3160.385594,3164.057436,3169.550949,3176.817750,3190.623300,3205.770646,3210.416444,3194.547773,3195.240678,3210.101870,3247.038105,3257.985347,3272.072812,3279.283176,3301.471294,3313.113293,3338.567037,3360.892636,3399.788609,3419.504140,3449.685713,3474.774980,3508.687372,3551.710402,3589.501352,3621.102463,3641.148621,3667.781589,3700.652638,3745.040147,3792.044296,3835.226648,3870.354626,3895.746546,3920.434045,3929.957355,3933.651195,3940.684579,3945.011333,3949.901934,3954.816116,3966.716702,3990.020268,4019.254035,4040.650860,4070.325808,4088.301168,4113.606485,4106.902279,4103.626748,4102.413892,4113.517121,4137.745078,4152.901315,4176.171107,4190.458199,4211.035640,4227.798095,4249.183500,4254.523830,4258.649514,4251.343693,4255.182708,4262.049291,4343.563662,4411.542779,4469.462897,4451.063676
3,394463,3,"Chicago, IL",msa,IL,1528.605872,1535.685026,1545.778621,1558.887472,1570.957427,1580.522370,1582.271302,1582.517160,1577.347811,1568.217812,1564.676728,1568.284574,1575.854266,1582.496917,1593.382536,1603.466692,1612.060984,1616.141467,1622.729412,1627.928460,1623.395311,1614.967677,1605.471493,1599.643427,1606.714262,1615.252334,1632.484305,1646.295331,1661.465060,1667.023450,1668.678240,1665.458410,1662.307115,1651.723003,1648.348764,1645.166311,1651.872517,1659.853582,1673.869821,1689.318678,1698.213639,1704.795787,1705.791075,1705.944486,1704.480796,1699.751460,1695.503593,1690.392030,1698.434414,1704.505461,1719.606530,1729.715435,1742.469488,1751.053105,1754.719949,1753.677049,1750.186312,1746.784732,1743.027119,1740.213281,1743.563816,1755.797333,1769.870738,1777.743206,1782.503541,1789.251526,1797.132223,1805.282710,1802.459955,1798.737672,1794.216240,1800.644866,1814.326515,1833.137520,1847.786225,1864.083842,1880.706533,1903.761254,1921.529366,1938.407975,1954.886676,1963.781721,1970.983208,1977.170759,1986.423637,1994.239734,2012.995388,2036.517650,2066.526019,2085.776168,2103.929172,2115.873389,2119.490815,2122.189152,2116.038996,2125.656876,2134.982464,2152.911102,2164.400006,2185.401690,2206.497700,2227.591264,2239.302170,2250.279950,2259.850182,2263.845332,2266.968884,2276.368160,2285.202093,2299.184009,2312.003782,2340.836878,2362.481134,2376.153540,2385.323843,2397.710834,2406.309127,2412.464377,2414.784288,2427.195941,2436.356315,2462.360912,2474.917940,2493.315370
4,394514,4,"Dallas, TX",msa,TX,1379.758555,1388.120266,1398.374967,1412.270973,1425.050345,1436.653990,1444.966414,1448.288213,1448.606592,1448.668238,1448.820999,1450.835340,1453.197822,1462.170084,1473.167205,1485.385152,1496.476689,1505.441604,1513.025355,1515.555001,1515.291651,1512.083494,1509.075779,1508.226362,1515.681718,1526.077463,1541.453227,1554.748276,1568.338468,1575.826840,1580.692396,1583.121517,1583.019367,1582.494331,1581.783762,1585.610028,1591.015367,1598.803811,1605.685409,1617.182457,1625.320840,1635.628734,1636.465974,1640.065346,1640.228354,1641.081449,1638.291298,1639.505705,1645.298834,1652.722924,1662.652267,1673.692363,1687.238549,1693.778514,1695.863161,1695.932364,1695.737240,1697.545532,1699.322942,1697.805413,1701.010694,1706.148596,1717.743431,1721.624114,1728.085817,1736.806289,1749.337311,1759.768449,1768.724983,1779.261641,1789.685876,1799.283903,1812.609166,1826.671328,1844.506492,1865.285546,1894.102153,1924.488266,1953.119133,1977.528883,2000.552903,2021.517193,2034.629247,2042.408935,2052.230450,2069.888783,2092.031322,2115.580951,2138.580274,2165.500158,2184.088687,2195.185039,2197.937248,2201.931535,2205.431946,2207.980552,2210.105638,2215.097307,2226.706208,2237.165116,2251.468988,2265.026694,2278.124877,2284.739476,2282.679315,2274.683518,2273.618504,2272.613537,2280.785319,2287.671439,2304.613653,2316.878187,2324.591827,2332.530321,2338.860200,2343.225537,2341.301872,2335.956398,2329.372143,2322.433187,2325.665812,2338.232842,2352.383117,2362.361016

In [88]:
rent_cost_cities = single_fam_home_rent[(single_fam_home_rent['RegionName']== 'Austin, TX') |
                                        (single_fam_home_rent['RegionName']== 'Seattle, WA') |
                                        (single_fam_home_rent['RegionName']== 'Raleigh, NC') |
                                        (single_fam_home_rent['RegionName']== 'Philadelphia, PA')]
rent_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
7,394974,7,"Philadelphia, PA",msa,PA,1347.376099,1356.419080,1368.721222,1376.533746,1381.052916,1383.844366,1387.379658,1388.071218,1389.285865,1389.473171,1384.379505,1383.463321,1384.424159,1393.535746,1402.461956,1411.913635,1419.198795,1426.404942,1428.307190,1428.832387,1424.909951,1422.584396,1425.569695,1428.293640,1435.045227,1441.573629,1453.945238,1462.670987,1468.829693,1468.399469,1470.026615,1472.459347,1475.676515,1477.982784,1478.560357,1480.654781,1481.045920,1487.637723,1500.430818,1513.501182,1524.051954,1527.108931,1526.418730,1523.637454,1525.591245,1530.551780,1535.510770,1535.131819,1539.043259,1546.455370,1558.004518,1568.652253,1577.116914,1584.267744,1586.845487,1586.326655,1586.515268,1590.489730,1593.114662,1597.648555,1600.780604,1610.274209,1619.617503,1624.862947,1630.317774,1635.199211,1648.308494,1656.925634,1668.013208,1672.315473,1679.690058,1685.976873,1698.143459,1712.968007,1722.264039,1738.204415,1752.831390,1769.995242,1783.272225,1798.089983,1800.638096,1813.675225,1826.688224,1852.189410,1866.031250,1876.127490,1889.384318,1901.285342,1914.586562,1931.149354,1946.295013,1960.576923,1966.601659,1969.797091,1974.604904,1975.196373,1981.909605,1991.400291,2005.823718,2018.122140,2025.119138,2033.464007,2040.990302,2049.440586,2064.413452,2082.865851,2096.310253,2094.668390,2097.990814,2105.212114,2121.066262,2128.082701,2138.275200,2142.451557,2150.178014,2157.601441,2172.459022,2188.030529,2205.092551,2218.360119,2220.189893,2224.403480,2219.195197,2224.382814
15,395078,15,"Seattle, WA",msa,WA,1832.353424,1844.357741,1862.715741,1876.049224,1899.737273,1921.696996,1947.826256,1955.094450,1954.851764,1950.944158,1947.063490,1955.296678,1967.159273,1990.611939,2003.101585,2025.894609,2052.251600,2083.550883,2105.650407,2110.323685,2105.249570,2092.372504,2083.026690,2071.396370,2089.481291,2112.167262,2153.688248,2177.815826,2206.943633,2233.286891,2249.448526,2257.085744,2253.774423,2247.837633,2233.110800,2224.184320,2228.057247,2242.323281,2268.493464,2292.441211,2322.086387,2335.616759,2341.901021,2333.654211,2328.621165,2317.264272,2312.906282,2309.996705,2324.261019,2341.932213,2368.574862,2388.892654,2409.125592,2423.303902,2432.230131,2438.805784,2427.842192,2423.962188,2417.518972,2420.150420,2436.238987,2455.129005,2482.930871,2490.024374,2498.410116,2505.706320,2521.426678,2536.194548,2548.354392,2555.104555,2555.099331,2559.994388,2566.729767,2587.875215,2612.005083,2641.349317,2672.053051,2701.582697,2733.852191,2762.893923,2783.898792,2791.685446,2789.518040,2796.460151,2809.768152,2843.070068,2874.464593,2913.484694,2943.191004,2973.772426,2993.884727,3001.549993,2996.889622,2988.071885,2968.812565,2970.676881,2974.376230,3000.891878,3013.573997,3040.583450,3068.569126,3100.454611,3120.592157,3126.659206,3120.449694,3103.984668,3090.140609,3084.766376,3098.200403,3116.538483,3148.096669,3173.227498,3209.573191,3232.928608,3258.202908,3259.672644,3259.537417,3241.912242,3240.957937,3241.123416,3247.305060,3257.317145,3273.212117,3300.338146
29,394355,29,"Austin, TX",msa,TX,1517.993381,1531.207241,1540.223839,1546.887027,1561.296193,1569.479355,1582.100853,1587.281823,1585.594066,1575.502546,1566.456461,1572.133680,1582.154471,1593.693353,1601.698396,1612.399643,1622.078636,1628.558097,1634.903577,1632.166551,1625.418250,1612.209662,1607.464316,1604.769630,1614.881312,1630.228182,1650.954080,1664.048463,1669.868775,1675.519967,1674.447507,1665.781126,1658.038295,1646.486760,1647.976379,1649.366282,1655.098087,1665.651439,1676.311203,1695.420215,1706.616759,1714.897318,1717.769450,1714.275655,1711.184875,1705.303077,1706.652223,1707.192398,1715.067635,1729.490130,1743.470758,1756.687667,1764.949814,1775.700949,1784.772977,1783.353826,1783.372284,1775.859007,1779.751011,1781.797446,1793.544502,1804.383084,1812.913257,1813.768142,1814.032315,1822.046727,1834.121869,1846.313991,1854.901348,1861.525026,1867.935822,1878.815682,1899.484002,1923.709076,1952.998980,1983.677567,2023.276467,2064.570204,2107.098362,2135.054202,2142.440169,2144.464809,2155.399032,2175.835024,2195.670733,2219.875998,2239.058695,2266.278231,2285.880054,2315.549673,2335.426727,2337.626727,2333.088857,2316.804471,2306.427038,2296.863444,2300.435765,2310.075695,2323.051282,2333.193883,2343.056302,2349.818472,2349.200267,2340.185682,2321.018300,2304.273493,2287.502120,2275.390403,2280.609192,2296.693916,2320.259588,2331.455369,2335.566332,2333.361253,2333.540209,2319.826062,2307.698362,2284.273127,2278.921413,2280.612538,2287.839388,2297.306585,2301.688838,2312.598306
42,395012,43,"Raleigh, NC",msa,NC,1254.637370,1254.410429,1261.944652,1267.638614,1282.860542,1288.424182,1291.858493,1292.069868,1292.498027,1292.755117,1293.251145,1298.289386,1300.291042,1302.926140,1307.587044,1318.606053,1330.448195,1337.885354,1339.563218,1338.605059,1333.184741,1331.962893,1330.535775,1332.279527,1335.550361,1345.551835,1357.275212,1370.509320,1378.777304,1385.834951,1390.363516,1392.721559,1395.451460,1390.952493,1389.792823,1387.291958,1392.997913,1400.766606,1414.099752,1426.668952,1433.895387,1436.929624,1439.859796,1445.293546,1446.191777,1439.944229,1437.222724,1436.998554,1444.541017,1450.635266,1464.767674,1476.578064,1487.708058,1494.296639,1503.361601,1506.972730,1506.615918,1502.519534,1500.912970,1500.579984,1507.197962,1517.800224,1527.453959,1531.503783,1532.446132,1542.136475,1554.639456,1568.904918,1574.692791,1578.359292,1584.557961,1593.108143,1605.192963,1617.485741,1631.568533,1653.191747,1675.297807,1708.982556,1732.110534,1755.937922,1767.385206,1779.692819,1789.885301,1800.785686,1818.737852,1838.136544,1858.896715,1875.213300,1890.208580,1907.772924,1924.776474,1944.423569,1955.993877,1957.970499,1949.483425,1949.810437,1953.673515,1966.766877,1971.996281,1983.066295,1990.943662,2000.678626,2012.160928,2020.011391,2025.868055,2020.834348,2015.180256,2017.331860,2024.088131,2038.301911,2048.068061,2058.349929,2067.170245,2072.551585,2082.122800,2086.535264,2091.591834,2092.671869,2093.993422,2094.131610,2095.824340,2092.808575,2101.471919,2104.929878

In [89]:
single_fam_home_cost = pd.read_csv('../data/single_family_home_cost_all_counties.csv')

In [90]:
single_fam_home_cost.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,8/31/2000,9/30/2000,10/31/2000,11/30/2000,12/31/2000,1/31/2001,2/28/2001,3/31/2001,4/30/2001,5/31/2001,6/30/2001,7/31/2001,8/31/2001,9/30/2001,10/31/2001,11/30/2001,12/31/2001,1/31/2002,2/28/2002,3/31/2002,4/30/2002,5/31/2002,6/30/2002,7/31/2002,8/31/2002,9/30/2002,10/31/2002,11/30/2002,12/31/2002,1/31/2003,2/28/2003,3/31/2003,4/30/2003,5/31/2003,6/30/2003,7/31/2003,8/31/2003,9/30/2003,10/31/2003,11/30/2003,12/31/2003,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,7/31/2004,8/31/2004,9/30/2004,10/31/2004,11/30/2004,12/31/2004,1/31/2005,2/28/2005,3/31/2005,4/30/2005,5/31/2005,6/30/2005,7/31/2005,8/31/2005,9/30/2005,10/31/2005,11/30/2005,12/31/2005,1/31/2006,2/28/2006,3/31/2006,4/30/2006,5/31/2006,6/30/2006,7/31/2006,8/31/2006,9/30/2006,10/31/2006,11/30/2006,12/31/2006,1/31/2007,2/28/2007,3/31/2007,4/30/2007,5/31/2007,6/30/2007,7/31/2007,8/31/2007,9/30/2007,10/31/2007,11/30/2007,12/31/2007,1/31/2008,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,224445.706690,224695.047755,225623.280280,227455.265282,229788.845397,232028.578941,234292.676582,236622.740548,238767.682002,240467.922097,242007.459958,243468.260366,244424.458038,245316.031014,246589.335872,248771.470652,251184.944505,253629.597500,256149.202546,258731.838500,261048.074867,263312.973026,265367.425797,267492.682179,269076.302141,270863.195828,273253.014637,276615.760968,280473.448051,284317.988707,288939.977125,293897.334824,299187.988459,304066.734858,308832.784150,313360.338500,317000.518438,320208.065771,323902.684018,328083.833677,333203.450563,337679.421459,343349.274901,349383.116640,356043.915348,361518.073383,366550.517219,371702.018102,377509.730363,383737.276773,390423.652527,398754.488627,409090.644209,419756.925200,429732.733663,438804.184457,448800.004727,458631.076818,466160.626488,472230.188259,476800.712600,483180.181002,489748.789883,497162.950800,503788.349206,511175.240749,519458.013589,528563.914558,537827.103251,547970.522585,556262.406907,563363.704685,569349.874477,574501.908228,579794.641085,584063.723043,589506.249954,594199.917620,597564.343043,599839.712894,599374.829499,599032.469018,598826.775690,600129.129000,600838.137524,600721.640900,599377.568518,598448.737616,596073.532078,593207.446217,588546.104569,583505.199882,578042.443040,571661.209356,565570.163100,559283.118300,554420.167385,548545.311026,539663.246952,527090.636859,512336.179300,498062.233248,483904.732650,470997.210496,460635.758526,452090.416529,443979.113876,433913.212689,425500.171697,419444.026615,415695.700033,412083.966426,408644.671875,404461.043498,400949.950874,398665.541521,397688.994400,397351.169497,398449.377200,402026.919023,404483.123901,404835.808977,405496.551088,407413.968901,410993.239800,411122.050156,409777.377391,405942.645522,401989.484867,398069.333358,394531.598875,392892.730121,391943.076924,392083.251212,390957.129695,389808.511963,386245.766400,384671.064700,383170.511900,381142.365813,377373.394453,373170.621068,371521.659118,370832.506222,370453.505086,368982.996753,366475.894462,363890.026007,362486.372940,362709.076383,364569.428496,368828.377811,374960.985962,382253.422441,389633.876377,396921.383491,401887.523040,404397.496434,404796.565202,406654.548746,411078.322779,417754.177622,425655.557607,434510.108533,444247.772280,454067.843395,462183.350200,468598.954855,471420.121302,472108.361594,471499.947283,472641.716051,474688.649958,477070.633373,479517.833708,483250.783100,489088.129707,495780.139481,502384.785000,507906.535022,511195.402285,512572.105766,512246.692592,512161.594768,512716.003713,514215.565401,514316.491384,512552.924541,508927.072939,505483.430105,501692.534558,498185.299549,500718.044841,510043.208922,522780.845105,532734.871500,538904.240183,544081.242130,543190.723002,538191.132567,530199.797652,526061.470300,525482.627754,527735.758600,536215.573218,548781.011802,563141.516202,573770.032704,581013.114607,586709.403292,586522.427614,583833.489834,579743.333300,580224.226600,582183.808400,585475.582420,592366.380287,602857.732900,614747.488077,624522.873597,632006.234974,637263.954088,642678.983969,650094.585530,659664.687359,669080.775652,675680.710041,679239.323446,676766.105232,669706.772318,660659.684535,654195.212665,650442.125344,648419.537650,649745.260372,654840.580254,662705.336700,670658.544085,677841.236200,684387.891731,688102.971994,689548.110883,689817.024513,690129.151800,688451.132831,684785.856709,684969.941301,691511.736992,704781.310430,719934.270873,736241.398884,751668.661314,761268.491824,766914.650477,769442.062827,776440.348645,786593.763364,799170.691444,812399.609988,822449.881705,830395.008959,836684.380733,844185.959400,852780.438104,862998.409061,875049.910605,888703.500119,900885.979619,910804.187115,916489.350229,919363.314066,917352.852416,912608.207385,906961.030137,902979.026546,899904.693037,890893.291179,878447.761193,866547.400863,862476.715369,865198.152535,872484.187562,884359.542622,898937.706321,913427.618930,925249.508839,934085.414491,939648.655580,938466.396278,933132.535771,9.289070e+05,9.298260e+05,9.334970e+05,9.359799e+05,9.400886e+05,9.459807e+05,9.534636e+05,9.593729e+05,9.641686e+05,9.681520e+05,9.673331e+05,9.630895e+05,9.555259e+05,9.497986e+05
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,156140.732970,156095.435292,156334.587300,157041.716293,157933.960298,158865.569725,159720.053140,160998.499900,162499.883258,164336.269226,166403.499073,168428.096072,170074.631573,171054.550545,171981.163773,173006.365703,174171.316280,175290.339509,176203.570641,177497.832365,179013.491823,180954.065400,182857.921776,184500.485790,185856.083620,186844.925458,187952.727038,188912.041435,189918.785222,190748.409875,191805.438177,193337.615171,195263.566777,197331.299193,199160.986874,200979.085092,202623.402831,204097.982611,205270.761330,206609.368408,207610.221420,208610.197957,209346.947943,210623.633100,212189.467689,214145.051535,216113.706176,218020.964800,219880.810011,221318.402252,222538.750007,223924.571972,225629.620101,227608.414620,229388.879746,231401.350397,233351.023483,235616.834432,238059.216083,240689.079163,242950.605703,244856.908298,246521.056183,248379.585969,250392.972448,252520.084327,254583.365513,256759.567700,259325.524954,262034.701477,264896.494667,267632.571335,270140.214670,272237.829001,274145.458900,275743.137688,277095.356838,277828.138213,278347.002998,278497.381122,278419.028426,278097.259143,278030.920990,278451.664214,279509.746760,280730.569654,281695.778648,282052.208379,281952.459087,281561.932887,280920.383653,280204.483506,279010.408696,277832.257784,276533.855396,275041.386424,273878.818335,270937.358886,270385.052939,267531.627056,266931.011540,263550.235388,262256.179682,258964.814416,256393.474817,252186.642900,248507.021690,243925.300640,239018.187939,235041.059560,230899.828176,228779.775122,226143.395681,224839.719300,223104.349548,221683.079053,218855.828309,216151.473299,213182.076965,212116.138581,210726.202265,210404.671979,208621.923623,209011.683114,208358.402756,209138.796756,206859.590048,205079.076559,202283.471355,200155.414919,197451.047630,194718.176770,192456.727623,190292.445313,188938.314486,187248.314408,186525.024470,185280.887807,184939.424670,183927.155797,182940.200393,180506.258991,178695.322582,175944.292076,174232.128074,172052.790044,170822.127617,169334.564790,167828.258936,166839.190800,166704.169607,166990.161887,167409.275749,167248.907724,166563.537752,166161.115208,166554.475301,167992.421894,169305.699600,171186.741062,172723.809009,174749.438218,176310.735613,178162.476311,179923.379470,182173.390590,184637.502849,187233.545174,189152.232199,190862.352322,192152.261630,193435.756858,194865.602603,196250.535308,197587.114444,198461.851596,199273.075659,200149.992305,201063.706029,201828.847578,202230.145675,202149.517678,202375.980269,202724.599524,203889.302122,204979.807804,206266.798231,207246.504500,208161.463368,209437.997141,210801.025679,212372.059211,213796.320807,215271.500529,216144.952276,216972.075781,217744.254457,218656.006597,219134.590068,219526.238025,220009.385456,221028.148873,222140.845609,223613.666727,225203.548853,227149.720627,229260.835600,230750.492180,231738.306646,231646.501982,231484.407895,231291.727994,232128.217057,233459.253445,235037.127700,236695.221789,238666.427537,240771.035926,243148.445272,244953.931699,246191.458590,246104.926943,245671.052885,245144.493594,244905.744046,244982.523577,245115.700517,245502.282519,246041.591696,247157.871654,248346.377611,249386.433504,249641.881363,249809.567647,249558.152736,249301.353288,248496.878701,248146.887887,248148.045107,248664.648103,250066.515117,252078.662100,254530.554642,255937.276545,256221.179738,255486.366195,254638.893185,254626.372061,256171.320355,258955.637140,262406.394072,265962.153486,269553.981326,273812.067523,278410.912780,282814.189572,286387.745859,289386.446886,291593.636152,292737.858444,292502.462947,292169.627203,292386.181606,293631.458968,296279.037394,300660.197236,306371.420748,311761.723681,314929.743481,316535.924318,316240.202563,314832.315418,312215.565113,309981.385175,308848.012436,308527.823133,307955.812617,308109.063499,308972.801490,310972.088235,312665.555830,314487.890900,316525.340372,318892.322390,320740.720175,322175.569453,323164.596848,323846.570676,324377.218808,325777.230069,3.284393e+05,3.317078e+05,3.341285e+05,3.356223e+05,3.365966e+05,3.375884e+05,3.385818e+05,3.393625e+05,3.404365e+05,3.416772e+05,3.428454e+05,3.439346e+05,3.446214e+05,3.454201e+05
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,114868.147738,114831.747733,114655.308223,114583.795662,114556.775440,114756.822081,114965.017835,115275.420944,115680.532644,116030.181286,116585.954018,117176.768102,117449.565152,117395.704173,116921.036175,116644.753451,116571.090299,116697.119744,116879.837227,116851.163529,116964.272217,117182.317538,117494.106036,117720.635400,117830.774019,117940.541500,118311.606318,118889.859703,119497.808478,119999.487507,120498.337083,121099.776128,121679.132928,122129.202021,122470.863078,122706.362543,122937.382933,123078.869310,123322.641999,123576.928071,123866.119275,124087.756787,124308.291535,124563.603664,124749.516364,124956.600900,125137.504414,125389.187747,125714.413212,126536.601894,128074.122564,129509.784644,130909.038019,131455.535236,132326.044441,132902.697101,133701.168406,134353.022487,135014.288488,135775.145902,136471.614564,137119.617043,137586.156230,137977.477606,138122.021801,138274.859933,138293.070600,138226.055094,138050.377295,137843.935144,137926.702329,137975.362169,138050.486454,137875.598458,137861.718030,137982.590693,138488.773977,138991.055371,139553.693886,140064.661948,140684.366023,141451.532215,142107.671737,142770.961173,143069.055120,143012.622591,142674.746704,142687.285170,143064.776779,143724.922290,144161.159228,144634.436807,145002.378102,145365.569942,145620.858671,145862.239398,145541.892897,144954.043849,144299.801123,144048.767553,143760.893480,143395.035510,143073.651637,142625.178134,141962.536350,141241.162162,140350.203421,139378.277052,138409.309787,138063.677076,138005.094642,138174.479352,138417.040096,138866.458230,139422.498765,139686.950923,139637.875804,139229.554567,139089.258216,139164.697481,139139.147105,139072.738657,139189.481470,139616.229660,139988.336802,139928.684395,139250.464158,137975.882684,136782.905847,135856.834775,135359.504291,134931.625318,134443.732159,133863.645115,133020.633049,132255.752500,131647.206733,131276.017313,131162.778174,131194.526439,131135.722716,130950.608849,130164.164852,129463.736355,129097.875540,129264.954893,129413.501788,129384.214367,129318.795362,129510.575419,129860.169312,130296.163394,130618.249757,130840.980263,131063.299725,131211.034570,131460.488421,131876.933811,132696.432791,133653.804500,134871.060985,136285.330896,137859.850161,139442.942626,140782.755849,142209.605471,143557.476717,144951.027430,146259.598478,147662.342294,149169.724048,150627.389057,152069.411316,153404.349607,154901.331238,156388.301801,157775.537143,158926.464873,160287.468923,161820.407365,163638.373332,165313.787386,166954.341215,168344.168698,169582.059600,170794.448859,171998.251028,173253.292633,174299.217714,175276.918171,176165.391866,177179.154392,178331.408859,179498.070498,180308.007180,181037.889330,181669.736974,182431.493578,182917.733060,183356.841775,183933.426883,184704.990593,185638.182518,186489.819549,187170.473183,187598.952658,188183.668234,188954.031729,189678.601903,190311.820887,190698.827759,191175.042122,191601.414289,192274.041401,193048.393951,193871.933529,194644.200157,195289.558863,196100.636700,196944.042032,197952.387892,198866.345350,199877.864328,200756.170400,201638.572957,202420.578790,203282.512604,204194.398205,205145.683146,206125.560707,207025.194179,207680.307623,208132.586542,208457.429691,208747.387580,209099.401684,209555.005888,210231.060025,211153.626931,212158.645849,213140.984893,213959.337928,214710.733100,215210.149922,215266.504905,215300.350996,215712.364840,216804.640482,218465.927729,220615.050333,223330.396015,226053.515860,228817.362794,231505.900756,234533.367578,237781.007585,241543.180328,245659.259837,249247.575563,251808.334276,253496.952984,255556.810834,258374.825327,261705.460958,266274.144154,271686.361243,277988.863019,283890.101939,289182.491583,293689.370630,296842.980103,298318.804169,298470.235761,298087.047103,297572.300538,296442.562633,294752.605605,293033.324763,291782.587016,291141.575158,291122.940487,291785.251204,292593.480649,293433.710470,293781.412817,293826.079756,293571.700863,293281.717452,293401.151379,293895.137672,2.949508e+05,2.960590e+05,2.966827e+05,2.965598e+05,2.961774e+05,2.958460e+05,2.956649e+05,2.953332e+05,2.949039e+05,2.946817e+05,2.944967e+05,2.942011e+05,2.933888e+05,2.923367e+05

In [91]:
home_cost_cities = single_fam_home_cost[(single_fam_home_cost['RegionName']== 'Travis County') |
                                        (single_fam_home_cost['RegionName']== 'Wake County') |
                                        (single_fam_home_cost['RegionName']== 'King County') |
                                        (single_fam_home_cost['RegionName']== 'Philadelphia County')]
home_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,8/31/2000,9/30/2000,10/31/2000,11/30/2000,12/31/2000,1/31/2001,2/28/2001,3/31/2001,4/30/2001,5/31/2001,6/30/2001,7/31/2001,8/31/2001,9/30/2001,10/31/2001,11/30/2001,12/31/2001,1/31/2002,2/28/2002,3/31/2002,4/30/2002,5/31/2002,6/30/2002,7/31/2002,8/31/2002,9/30/2002,10/31/2002,11/30/2002,12/31/2002,1/31/2003,2/28/2003,3/31/2003,4/30/2003,5/31/2003,6/30/2003,7/31/2003,8/31/2003,9/30/2003,10/31/2003,11/30/2003,12/31/2003,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,7/31/2004,8/31/2004,9/30/2004,10/31/2004,11/30/2004,12/31/2004,1/31/2005,2/28/2005,3/31/2005,4/30/2005,5/31/2005,6/30/2005,7/31/2005,8/31/2005,9/30/2005,10/31/2005,11/30/2005,12/31/2005,1/31/2006,2/28/2006,3/31/2006,4/30/2006,5/31/2006,6/30/2006,7/31/2006,8/31/2006,9/30/2006,10/31/2006,11/30/2006,12/31/2006,1/31/2007,2/28/2007,3/31/2007,4/30/2007,5/31/2007,6/30/2007,7/31/2007,8/31/2007,9/30/2007,10/31/2007,11/30/2007,12/31/2007,1/31/2008,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
11,207,11,King County,county,WA,WA,"Seattle-Tacoma-Bellevue, WA",53,33,274125.064448,275264.652222,276369.845363,278522.126538,280941.321097,283077.401220,285541.452752,287355.668896,288932.509318,289973.588636,291110.858020,292595.684179,294511.516165,296505.029803,298416.468427,299898.599435,300947.220346,301926.110080,302887.943373,304167.718478,305146.381445,306241.983197,307130.977063,308495.993475,309396.258924,310432.108321,311476.776978,313028.568114,314577.538845,315683.423586,316511.829161,317449.607326,318395.146815,319361.733428,320326.709852,320853.844996,321987.467687,322888.298500,324603.296355,325961.201021,327911.676660,329630.615088,331198.827543,332898.501239,334755.987269,336646.991746,337894.926883,339436.371004,341565.627527,344243.252350,346563.560408,349213.350499,352432.416236,356577.241299,360503.132841,364087.481461,367384.480900,370256.272700,373086.828376,376123.526106,379713.758066,382782.209791,386864.235263,391552.583253,396881.538564,402602.922810,409227.126852,417219.135989,424469.624308,430833.580171,436604.900004,442308.243948,446949.994700,452653.839380,458591.245093,465673.374141,472182.084071,478302.217611,484167.798162,489358.925976,493980.655454,498511.051482,501787.403694,503547.393367,504387.711134,505564.459800,509123.993989,514058.857037,518335.473653,520467.954473,521066.727086,523014.322829,524637.615738,524035.498100,520965.138579,518226.353953,516902.887291,515158.664738,512088.759215,506722.903016,500453.529535,494368.435356,489151.545866,482743.181684,476354.444240,470235.759827,465803.410199,458792.652297,453072.185200,447552.348852,444235.587397,438094.772925,431669.658709,425445.816334,421469.827280,418594.517050,416673.853630,415524.452483,415391.606494,416468.875058,415066.118725,413036.720117,409561.147469,409248.081679,409832.505000,409864.643818,408107.422162,404482.068309,401152.618586,396781.847772,392849.579271,389156.796986,386365.659883,384724.488698,382445.990301,380410.908946,375936.013773,372409.414651,368842.593438,366687.179610,364143.708082,361679.035896,359766.376064,357795.572680,356296.440326,353921.582212,350961.511925,347311.377480,344564.837442,343815.267578,344721.712040,346915.585219,349891.203613,353481.116208,357536.620826,362215.768245,367783.076345,373224.801149,377868.506861,381516.290470,384980.989764,388464.073890,391823.803758,394961.446286,398103.151217,401459.143845,404672.285235,408377.602146,412195.992741,416027.533596,419176.736636,421851.387690,424507.521511,426649.199957,428339.522791,429535.768800,431016.882229,432864.601579,435492.283596,439394.356676,444758.877211,451011.524635,456721.161094,461092.114584,465069.542318,468703.387997,472681.997080,476605.159096,481282.545020,486747.445287,492913.341475,499923.322600,508133.953172,516546.939283,524068.853910,530001.281289,534844.922597,538874.350540,542095.968748,544763.258800,547059.064568,550416.237700,554853.857235,561578.142755,569269.463833,578035.434571,587039.369400,596073.375979,604246.310610,611573.750716,617777.223997,623275.842644,628387.203519,633639.474452,639552.495933,647232.703403,656617.028851,666948.908215,677603.688011,687077.689082,695508.681610,699706.510017,702889.714519,703140.614300,701913.766000,698286.832208,694262.168241,690322.255397,686098.983753,683007.099115,682077.605162,682342.568231,682258.296175,681770.576400,680517.205900,679719.118179,679223.058516,680612.861033,683046.680892,686347.711588,689578.022861,694202.662338,700481.819064,707728.848007,712126.259157,713835.350046,715510.827346,720964.401712,731016.651200,743117.211646,756116.798636,767488.737821,777615.203800,787895.120050,800948.908283,817819.568892,836043.672305,852504.959723,863605.462449,868582.048751,869801.765830,871708.484715,877338.681576,888139.043100,908052.361004,935987.158322,970044.667666,1.000778e+06,1.021879e+06,1.028018e+06,1.017501e+06,995985.838869,971339.163981,954003.916519,944326.302854,938669.109817,930044.404996,920784.877515,911777.749326,907616.943846,907314.321922,911142.792620,917255.383909,924576.045387,931310.946296,936669.194973,939775.406493,941344.429200,941766.558195,944332.983229,950927.280702,960351.599461,968609.039060,972531.879550,974260.790750,975703.753787,979505.223488,984839.078383,990312.361679,995117.177075,998396.525300,1.000045e+06,997714.583795,992175.520003
22,3175,22,Philadelphia County,county,PA,PA,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",42,101,60455.160984,60572.771453,60695.411388,60959.027087,61360.814444,61751.460654,62164.187002,62442.811037,62751.074721,63071.137340,63414.018490,63751.618650,64037.449852,64302.002733,64584.944073,64931.557848,65218.932689,65458.515405,65706.524706,66013.071277,66352.767471,66630.218349,66927.459530,67190.725867,67447.022328,67689.903008,67985.158777,68297.573900,68636.057927,69006.882883,69485.970459,69972.160370,70520.406248,71079.127043,71648.208803,72148.852506,72634.737408,73194.989510,73770.658435,74382.856106,74945.912950,75638.623820,76434.186080,77315.280606,78211.063760,78980.730040,79715.012231,80389.159987,81081.918292,81836.792630,82443.003500,82994.406720,83645.660867,84724.331761,86238.169475,88004.081153,89600.101658,90835.336259,91865.730370,93108.017484,94629.206886,95885.344889,97162.419260,98387.111933,100024.910231,101774.166713,103830.402546,106087.211574,108289.165206,110195.764896,111851.042459,113267.650753,114431.757809,115419.491343,116212.323381,117173.063544,118257.115343,119753.468621,121356.147166,122629.509520,123464.657111,123785.289476,123957.469588,124243.996010,124849.495723,125549.022561,126179.682116,126438.736229,126889.857337,127378.389651,127954.406943,128115.613000,127807.543973,127600.670044,127645.290046,127908.372306,127884.291888,128029.842288,128006.695797,128092.432636,127750.090030,127249.558916,126411.992002,125468.035092,124648.362680,124166.320136,123696.564207,122993.089497,121910.994479,120985.534858,120514.270724,120588.864404,120804.601438,120869.293672,120784.488599,120631.325926,120631.747154,120595.102861,120648.284967,120450.042814,120511.467745,120732.786748,121251.998676,121835.282802,122325.607383,122635.354226,122483.631840,121850.379322,120589.832798,119292.674974,118182.219132,117374.483600,116632.939207,116082.485202,116054.814537,115928.055939,115549.459985,114577.047447,113483.049833,112403.057383,111725.340426,111379.846067,111203.551671,110996.508068,110605.146044,110073.043631,109671.104656,109836.814016,110067.358559,110344.384081,110426.700886,110494.441424,110357.441245,109629.295115,108585.372505,107705.455083,107197.437621,106838.292738,106822.019359,107351.182370,108500.897762,109763.834354,110307.037699,110427.059759,110381.240048,110836.250778,111516.664817,112262.116235,112499.834448,112228.771065,111603.183619,111494.512865,112055.125922,112876.665996,113721.630137,114007.292766,113948.115267,113594.229011,113546.895856,114047.701874,114558.762556,115056.668779,115434.278482,116227.378801,117250.597641,118069.514358,118868.934034,119871.274831,120927.266307,121692.373133,122057.445109,122734.536473,123626.927743,124705.371041,125191.825521,125426.904302,125763.927239,126423.066746,127424.309850,128646.420685,130170.200019,132110.768755,134043.894510,135869.608981,137120.657685,138115.664370,139070.193026,140139.887854,141147.823494,142227.501976,143249.362626,144347.574544,145452.840235,146923.558761,148838.487794,150897.360658,152598.412878,153988.529900,155365.560503,156801.878520,157762.574790,158109.522783,158159.131754,158543.515823,159431.030412,160721.525100,162170.636713,163875.962770,165975.966945,168203.409374,170002.594910,170916.768072,171334.141744,171790.972414,172515.737127,173515.279777,174629.935466,175998.335709,177690.922989,179557.768287,181517.211801,183581.178020,185790.264465,187886.358260,188963.502225,188676.278604,188077.624819,188100.305641,189625.190683,191973.481360,195205.949576,198418.012131,201354.559032,204009.262267,206691.559015,209252.063217,211713.134163,213623.728799,214058.496029,212657.173931,209643.135334,207144.783602,205591.458329,205370.103595,207006.107698,210286.715418,214697.995654,2.187205e+05,2.219839e+05,2.243376e+05,2.248552e+05,223772.288652,222188.784996,221219.053206,220719.242469,219405.008964,217134.542787,214464.603623,212684.878001,212117.956016,212627.861147,213549.998423,214496.810240,215196.036467,215288.126295,215088.160980,214555.913160,214453.416213,214502.014200,215068.973678,215762.855162,217048.848078,218233.860623,219169.737425,219617.366402,219854.320669,220217.157933,220708.277275,221283.403368,222305.383394,223179.233351,2.238047e+05,224101.280467,224601.796303
33,1440,33,Travis County,county,TX,TX,"Austin-Round Rock-Georgetown, TX",48,453,199223.703446,199893.682129,200506.095165,201437.682384,202092.684827,202294.603079,202403.560281,203096.401670,203881.309667,205046.168207,205806.373798,206463.286810,206696.265656,206735.721160,207144.482562,207903.447803,208570.304624,209020.257251,209286.069287,209627.008182,209729.179053,209736.209309,209720.853286,209542.239383,209483.190063,209074.149684,208919.500794,208666.124415,208455.835600,208111.889867,207681.292701,207454.068958,207499.101459,207488.624033,207400.057495,206973.515680,206641.844835,206552.334617,206825.945771,207030.670556,207060.007444,206863.560044,207076.904643,207344.849650,207510.403935,207340.863167,207112.724289,206982.692611,206976.700027,207479.956415,208252.382611,209049.598512,209474.681547,209781.060631,210274.785766,211077.865745,212206.248899,213174.949105,213962.720584,214492.696922,214775.421100,214874.868086,214935.489923,215282.428400,215795.435063,216608.024062,217447.465047,218136.074473,218682.674553,218993.589586,219404.244594,219894.652086,220476.106661,220892.208556,220922.477304,221023.337898,221323.042609,222040.494700,222978.428600,224121.850521,225465.370073,226553.431569,227485.329912,228261.487751,229141.214319,229789.556123,230311.503987,231005.094572,231990.686385,233055.171030,234148.888816,235218.615241,236336.789608,237425.001886,238510.668000,239445.103459,239854.239697,239799.093292,239914.490689,240264.516155,240756.661329,240586.563683,240219.306583,239556.708876,238904.760895,237905.727987,236049.700826,234234.624305,232798.487190,232085.423376,231339.548000,230550.693951,230122.516364,229913.171698,229659.538094,229150.890465,228453.990946,227847.494127,227948.575988,228222.457400,227975.590600,227551.890352,227373.675586,227735.749689,228296.695576,228469.785514,228081.582260,227069.285838,225890.968876,224774.397339,223582.729233,222545.277356,221859.453961,221297.154039,220926.242512,220932.007643,220940.210238,220875.797482,220420.657887,220499.126390,220602.975143,220497.268653,220115.866636,219767.617983,219983.009051,220443.366881,221441.835285,222780.103637,224104.930628,225566.246398,227079.628514,228700.683299,230429.671328,232207.634300,234208.486684,236090.340581,238110.684879,240307.715021,242643.248116,245109.548176,247541.129517,250519.311491,253571.929852,256608.781547,259352.690789,261912.468355,264296.959835,266439.886387,268568.690407,270854.339967,273260.172909,275955.067438,278838.130472,281700.881822,284485.296760,286844.033457,289095.320426,291111.794400,293533.970283,296086.865717,299163.401703,302423.774714,305739.656594,308314.112798,310458.417638,312326.692838,314290.265905,316148.395740,318062.551849,320020.441493,322180.539908,324343.964376,326788.424320,329268.224242,331323.464200,333357.068564,335220.820818,337243.921046,338591.662211,339119.415456,339383.945264,340020.364469,341691.596060,343904.512902,346057.267367,347964.873291,349653.587611,351560.491686,352789.388089,353460.675133,353501.993778,353664.645512,354133.556749,355120.383526,356512.953856,358277.191331,359836.544638,360992.719997,362261.293598,363224.946700,364516.570119,365521.104921,366843.404695,367929.498591,369090.439320,370290.306215,371802.490173,373249.630839,374188.198404,374870.379171,375495.110895,376374.498759,377428.873559,378508.878688,379711.755017,381148.122836,382965.711200,385374.156035,388111.681235,391135.940386,394549.383621,398298.409210,402310.815899,405723.979392,407606.802459,408454.877723,409882.162677,413640.291353,419989.689550,427556.694900,436060.667632,444872.341268,454525.461964,466102.898624,481811.971700,503150.940876,528637.306736,553363.760000,571276.026121,580409.033738,582654.552567,583567.464300,586220.034478,591770.304761,602353.567991,616537.643128,634900.729845,6.529298e+05,6.681772e+05,6.767211e+05,6.750350e+05,665000.446902,649996.639924,636563.463270,625418.372477,615987.333090,606287.179566,597383.645300,589800.750187,584975.319933,582166.094640,580937.008880,579783.653597,578619.037369,576760.614492,573753.940166,569915.375300,565916.143435,562900.428728,560635.859675,559898.909496,559908.194508,559423.323230,557244.735117,554560.896338,552033.651228,551018.544483,549929.307327,548373.648461,545515.270811,541802.968300,5.381000e+05,533870.049762,529736.583813

#### City Counties:
- Seattle: King County
- Philadelphia: Philadelphia
- Austin: Travis County
- Raleigh: Wake County

In [93]:
metro_rent=pd.read_csv('../data/metro_mean_rent_all.csv')

In [94]:
metro_rent.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025
0,102001,0,United States,country,NaN,1252.966190,1259.415935,1268.023337,1278.174433,1287.585792,1296.223254,1302.141551,1305.482571,1306.757456,1306.595924,1307.149094,1308.408586,1312.559425,1317.874391,1324.666269,1333.121739,1342.014143,1350.036982,1354.628213,1356.299610,1355.437331,1353.641996,1352.591558,1352.704805,1358.325764,1368.059707,1381.293431,1393.037047,1403.150606,1410.869171,1415.702621,1417.251881,1418.439966,1418.011503,1419.025846,1420.337410,1425.363650,1433.086222,1444.035037,1455.011288,1464.318790,1471.640514,1476.105754,1478.652734,1478.813947,1479.219576,1481.217854,1484.146104,1489.087137,1496.469535,1507.989427,1519.599502,1530.004142,1537.527314,1542.154157,1544.242122,1544.629026,1545.204457,1546.296095,1548.032977,1553.598069,1562.406914,1572.478960,1578.140606,1584.504665,1593.025419,1606.502542,1618.477929,1629.261309,1637.722685,1644.750223,1652.063356,1663.246839,1677.813894,1694.850513,1714.001305,1737.263264,1761.862415,1785.446072,1807.301191,1825.605475,1840.187863,1851.432122,1862.826265,1876.699056,1894.603687,1914.472481,1935.628799,1954.135911,1973.004774,1988.083288,2000.234082,2005.184519,2008.033403,2007.167446,2010.585236,2015.376456,2025.066401,2037.789142,2052.207346,2065.696657,2076.447174,2086.453518,2094.898089,2099.684015,2100.147936,2099.136085,2100.148723,2107.913105,2118.958593,2134.398426,2147.556299,2161.014735,2171.556293,2181.471711,2188.057567,2191.118018,2191.112348,2192.095106,2193.971961,2200.855400,2210.302796,2222.593865
1,394913,1,"New York, NY",msa,NY,2378.366116,2405.764061,2425.089387,2440.768189,2440.654786,2456.434192,2461.574047,2462.241889,2461.510909,2461.854104,2465.057596,2470.766202,2481.071744,2494.446181,2506.732246,2520.597976,2530.837698,2533.040385,2537.016724,2529.521049,2528.034784,2523.637996,2542.974783,2550.452162,2568.464896,2579.931323,2599.484972,2612.066629,2624.889799,2630.087336,2637.531922,2630.762956,2660.297264,2668.559311,2665.562765,2637.842255,2639.232256,2654.900785,2670.009038,2684.352933,2700.904085,2710.924018,2716.092408,2724.465268,2726.056696,2719.842907,2719.048593,2719.169521,2726.868909,2743.103413,2773.173888,2794.508565,2808.015340,2814.724950,2814.741260,2803.607850,2783.921022,2794.717753,2799.151832,2826.879656,2827.840745,2843.672112,2857.618655,2883.033079,2902.913597,2914.403757,2925.849650,2934.159974,2942.821911,2927.214228,2951.613467,2951.343658,2990.784963,3014.626644,3067.292165,3108.847204,3126.920461,3147.648762,3163.702767,3185.832657,3185.694176,3200.345908,3192.749872,3227.055819,3261.475871,3330.534834,3370.411495,3402.430806,3420.473616,3444.065291,3476.093090,3500.123338,3506.937980,3496.822812,3487.812664,3491.390422,3498.476507,3534.531701,3590.623226,3648.225934,3673.221239,3675.227434,3679.629298,3686.368826,3680.117979,3653.749855,3640.239305,3661.493722,3709.303078,3742.086088,3782.495051,3790.848665,3816.427910,3831.709195,3857.456117,3871.231993,3845.388128,3833.819539,3841.737148,3884.760276,3904.337147,3896.307913,3901.338164
2,753899,2,"Los Angeles, CA",msa,CA,2595.515150,2609.491981,2629.827229,2641.059930,2665.782262,2683.562046,2705.889463,2717.513752,2726.993989,2728.620626,2723.362938,2728.729144,2742.119452,2764.190880,2786.665369,2802.921927,2830.792871,2847.132492,2863.101226,2863.513670,2862.739625,2856.039416,2851.531215,2851.483938,2871.375631,2896.076388,2929.237806,2956.306758,2981.655376,2993.065979,3002.498356,3000.682723,3007.476784,3004.499364,3017.377840,3019.232611,3034.425517,3046.311601,3069.279809,3090.489737,3106.786890,3122.331000,3130.856416,3134.401244,3137.624575,3141.540076,3159.390274,3164.181952,3177.847972,3178.521749,3205.985282,3218.887939,3247.492378,3256.018591,3266.023582,3261.434735,3260.000047,3263.438021,3269.814091,3278.400531,3291.190858,3305.318699,3309.978764,3296.182631,3297.572726,3312.600293,3348.911574,3361.115764,3375.856312,3384.393754,3407.390717,3418.857580,3444.254304,3466.565895,3505.749597,3525.398936,3556.066160,3582.573342,3618.884750,3664.382079,3703.504856,3734.750732,3755.427474,3781.308245,3817.542067,3862.735637,3913.170598,3955.726510,3991.674006,4017.339756,4044.429367,4054.484323,4058.661900,4066.782137,4071.865134,4076.986345,4081.119049,4092.843290,4117.061943,4147.048415,4168.798914,4201.086844,4219.310538,4245.838062,4237.378471,4232.464311,4231.360848,4240.851458,4267.859035,4283.356038,4307.694770,4322.148632,4343.894970,4364.177730,4385.070666,4389.568735,4391.864896,4385.165171,4388.589557,4394.531080,4480.010944,4550.509617,4612.419297
3,394463,3,"Chicago, IL",msa,IL,1491.482346,1497.981627,1507.616002,1520.322146,1532.450410,1541.982095,1543.548628,1543.507194,1538.542956,1529.423162,1525.753582,1529.534947,1537.230215,1544.352803,1554.671562,1564.483915,1572.394591,1576.904031,1582.646465,1587.490620,1581.781826,1573.675966,1564.406305,1559.308196,1566.640837,1575.439308,1592.339971,1605.852445,1620.431307,1625.814536,1626.995923,1624.480741,1621.362664,1611.854950,1607.618783,1604.282697,1610.397049,1618.345005,1632.496116,1647.388107,1656.032695,1661.875214,1663.176541,1664.043291,1662.937604,1657.467836,1652.654107,1647.627325,1656.024548,1662.296771,1677.098434,1686.794669,1698.960642,1707.594201,1711.649440,1711.012923,1708.176802,1704.562456,1700.820577,1697.356154,1701.173862,1712.946794,1726.195818,1733.075661,1737.663877,1744.912709,1753.107445,1761.357197,1758.037429,1754.160745,1749.715198,1756.398954,1769.353699,1786.557424,1800.234589,1815.753178,1833.028984,1855.762210,1873.939848,1889.201533,1905.242520,1914.421286,1922.542458,1928.213349,1936.623726,1943.716309,1962.864813,1986.117396,2014.980464,2032.665884,2049.795371,2062.893818,2065.834797,2068.489319,2062.113857,2072.541195,2080.958240,2097.686733,2107.737898,2128.877230,2149.785993,2172.186119,2184.737656,2196.496037,2205.002120,2208.149672,2209.352814,2218.391552,2227.007935,2240.455319,2252.871501,2281.320377,2303.468529,2316.689631,2324.822614,2336.473232,2345.320842,2351.976947,2354.784846,2366.882500,2375.597121,2399.819609,2412.873367
4,394514,4,"Dallas, TX",msa,TX,1373.911239,1382.158801,1392.516422,1406.499133,1419.256490,1430.511861,1438.530745,1441.771364,1442.405618,1442.584221,1442.781489,1444.590041,1446.863509,1455.925983,1467.092498,1479.193833,1490.096812,1498.793990,1506.509640,1509.145408,1509.313017,1506.006706,1502.984332,1501.892327,1509.519661,1519.941159,1535.378365,1548.505575,1562.056022,1569.450015,1574.209874,1576.667899,1576.460050,1575.950733,1575.113363,1579.333542,1584.661803,1592.498207,1599.502475,1611.148487,1619.194293,1628.971937,1629.629962,1633.268908,1633.803605,1634.594910,1632.010341,1632.885171,1638.864348,1646.590248,1656.505555,1667.644609,1680.629686,1687.135704,1689.246188,1689.331142,1689.145171,1690.818062,1692.701007,1691.292888,1694.578527,1699.780104,1711.472623,1715.176550,1721.445843,1730.031879,1742.605452,1753.440593,1762.124135,1772.769442,1782.684248,1792.565524,1806.445144,1820.655821,1838.968294,1858.801069,1887.357851,1916.790721,1945.785996,1970.616423,1994.019668,2014.479344,2026.903432,2035.061073,2045.116585,2062.803659,2083.922892,2107.510728,2130.581262,2157.813200,2176.143305,2187.262049,2190.451125,2194.735518,2198.088026,2200.083642,2201.821045,2207.445646,2219.094759,2229.577005,2243.845110,2257.612772,2270.522455,2276.829904,2274.690810,2267.030303,2266.139803,2265.793394,2274.278529,2280.990006,2297.702517,2310.421364,2318.763034,2325.997328,2331.972684,2335.627669,2334.043811,2328.226214,2321.740890,2314.870158,2318.248792,2330.804859,2344.749194

In [95]:
metro_rent_cost_cities = metro_rent[(metro_rent['RegionName']== 'Austin, TX') |
                                        (metro_rent['RegionName']== 'Seattle, WA') |
                                        (metro_rent['RegionName']== 'Raleigh, NC') |
                                        (metro_rent['RegionName']== 'Philadelphia, PA')]
metro_rent_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025
7,394974,7,"Philadelphia, PA",msa,PA,1322.596104,1331.334849,1343.488803,1351.244081,1355.779985,1358.373231,1361.620823,1362.365544,1363.838839,1364.321152,1359.306256,1358.037073,1358.975357,1367.889168,1376.976411,1385.969691,1392.929252,1399.825999,1401.658392,1402.392357,1398.655956,1396.586292,1399.594746,1402.319762,1409.210088,1415.642352,1427.736566,1435.839860,1441.686158,1441.277961,1443.004009,1445.263118,1448.380275,1450.618821,1451.418628,1453.651876,1454.138327,1460.556147,1472.936159,1485.588725,1496.003008,1498.861956,1498.467105,1495.738323,1497.766294,1502.853931,1507.831195,1507.436172,1511.205250,1518.558363,1529.548493,1539.483512,1547.647879,1554.850146,1557.719899,1557.190026,1557.594668,1561.355617,1564.387100,1568.739358,1571.826759,1580.865063,1589.688275,1594.778374,1599.523735,1604.664285,1617.918259,1626.795256,1637.919808,1641.903873,1648.669984,1654.525208,1666.065332,1681.003612,1690.292782,1705.975025,1720.083528,1736.916480,1750.082210,1764.432420,1766.515951,1779.648547,1793.258586,1818.796557,1831.820312,1841.194679,1854.106252,1865.333347,1878.275728,1894.190870,1909.561460,1923.701328,1929.796986,1933.188892,1938.171999,1938.206733,1944.671948,1953.638795,1968.090981,1979.101440,1986.376957,1995.188528,2003.924830,2011.975107,2026.112540,2044.316413,2058.211538,2057.916913,2061.085607,2067.380161,2080.777017,2087.259508,2097.151397,2102.570471,2110.463904,2117.936692,2132.138363,2147.375080,2164.233032,2177.524646,2179.253123,2183.365181,2178.595577
15,395078,15,"Seattle, WA",msa,WA,1807.784639,1818.723307,1837.685370,1850.849338,1876.537254,1898.206266,1923.881231,1929.161642,1928.298927,1924.665747,1920.804330,1929.605668,1941.108457,1964.834128,1977.065624,1999.562541,2025.707963,2056.231510,2078.770890,2082.988222,2078.104318,2064.384011,2055.077680,2044.892077,2063.371203,2085.773397,2124.510882,2148.752767,2177.851530,2204.688702,2220.835984,2227.316586,2225.153097,2217.348632,2203.638362,2193.223973,2197.566553,2211.757062,2238.594892,2262.838981,2292.389554,2305.989833,2312.557739,2304.270928,2298.212031,2287.618898,2283.305290,2281.607451,2294.897408,2312.492200,2338.950080,2359.291595,2379.127813,2392.055416,2400.954099,2407.813409,2397.378417,2392.850565,2386.373099,2389.847693,2405.841293,2423.206853,2450.462141,2458.710578,2468.013083,2474.877640,2491.134943,2505.162179,2518.633525,2523.284631,2524.471156,2525.783062,2532.888466,2553.520248,2578.271291,2607.785580,2637.138760,2666.561133,2696.816413,2726.495183,2748.154832,2756.186427,2754.287414,2759.378404,2773.213081,2805.044902,2836.956917,2875.982681,2905.895145,2937.206626,2956.279171,2963.288502,2958.148192,2949.922212,2931.757223,2932.757378,2936.591320,2962.705325,2975.999334,3001.882047,3028.159912,3059.857340,3080.669169,3087.583586,3081.433560,3064.868054,3052.000341,3046.448499,3060.815276,3079.548681,3110.436342,3135.512697,3170.303593,3194.016528,3217.892992,3218.459227,3218.833298,3200.115376,3200.249264,3199.194606,3208.059466,3219.135831,3235.562720
29,394355,29,"Austin, TX",msa,TX,1509.625796,1522.916890,1531.980342,1538.662099,1552.756715,1561.019967,1573.491697,1578.735125,1576.816028,1566.909972,1557.686846,1563.472750,1572.982576,1584.462702,1592.268174,1603.652271,1613.233203,1619.214362,1625.164335,1622.858043,1616.718303,1603.869422,1598.798334,1595.986766,1605.777635,1621.083783,1641.631822,1654.322640,1659.958345,1665.811381,1665.051479,1656.917719,1649.194850,1637.442723,1638.719727,1640.143540,1645.712614,1655.975411,1666.671006,1686.262332,1697.535653,1705.703552,1708.452824,1705.149949,1701.642375,1696.575534,1697.561209,1698.284932,1705.279360,1719.953796,1734.102744,1747.271179,1755.542009,1766.259272,1776.069224,1774.769262,1774.727891,1766.470882,1770.061368,1772.381310,1784.433519,1795.808099,1803.932781,1804.469594,1804.456600,1812.728773,1824.565815,1836.960409,1845.325370,1851.702642,1857.416327,1868.282538,1889.779848,1913.957422,1942.584359,1972.443991,2012.042945,2053.023480,2095.726633,2123.603898,2131.938201,2133.494263,2143.944661,2164.400964,2184.350989,2208.459283,2226.795600,2254.735325,2274.543082,2304.523828,2324.439524,2327.119604,2323.213607,2306.337788,2296.091586,2285.290790,2288.932181,2297.624133,2312.002205,2322.845372,2334.260464,2340.613928,2339.497714,2329.102464,2310.456577,2293.875724,2278.142547,2264.425174,2268.375665,2284.319463,2309.649514,2322.255996,2326.655444,2324.754425,2324.949186,2310.727934,2297.497711,2273.657618,2268.394465,2270.225440,2277.706803,2286.954826,2291.262824
42,395012,43,"Raleigh, NC",msa,NC,1238.713551,1238.822082,1246.232628,1251.842890,1266.365335,1271.830488,1275.147525,1275.259636,1275.732065,1275.358761,1275.991071,1281.119337,1283.840041,1287.284212,1292.079712,1302.620730,1313.580027,1320.614686,1322.503372,1321.394374,1315.988171,1315.273603,1313.885551,1315.732660,1318.589432,1328.682571,1340.076307,1352.904806,1360.915738,1368.220217,1372.809651,1375.122840,1377.732317,1373.488589,1372.466955,1370.096015,1376.204694,1383.870529,1396.816526,1408.895629,1416.023767,1419.307555,1421.799564,1426.993858,1427.595608,1421.713159,1419.270282,1419.209164,1426.580715,1432.515631,1446.322651,1457.795687,1468.902279,1475.780666,1484.999688,1488.540677,1487.995971,1483.909509,1482.364610,1481.713914,1488.415150,1499.125417,1509.094298,1513.306749,1513.878159,1523.679717,1535.179414,1549.284757,1554.584607,1559.206947,1565.482678,1574.293586,1585.717410,1598.039470,1611.583781,1633.103579,1654.167554,1687.678548,1710.594694,1735.060905,1745.821849,1758.038423,1768.049305,1778.732300,1797.023288,1815.858969,1836.582675,1852.507353,1867.438154,1885.515209,1901.705081,1921.165686,1932.019014,1934.349875,1926.727699,1927.694869,1931.741522,1944.452119,1949.422598,1960.413217,1968.082376,1977.942435,1988.833882,1996.369181,2001.860507,1996.736358,1991.046998,1993.724677,2000.923273,2015.388724,2025.151374,2035.769510,2044.890229,2050.231148,2059.091404,2062.653431,2067.258645,2068.537993,2070.103486,2069.781252,2071.268558,2068.176268,2077.667722

In [96]:
metro_house_price=pd.read_csv('../data/metro_mean_sale_price_all.csv')

In [97]:
metro_house_price.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025
0,102001,0,United States,country,NaN,239538.0,243090.0,246950.0,248984.0,255054.0,253109.0,245446.0,230100.0,228281.0,216859.0,217797.0,205792.0,202486.0,203912.0,204180.0,213592.0,223959.0,226220.0,222907.0,218374.0,214516.0,213235.0,223897.0,220549.0,213736.0,219226.0,217866.0,224283.0,235539.0,240613.0,232911.0,225341.0,221886.0,222614.0,224883.0,213815.0,209922.0,213979.0,217934.0,222775.0,232769.0,227727.0,222016.0,215451.0,208074.0,210601.0,210989.0,204464.0,202899.0,215118.0,224512.0,233037.0,242394.0,237960.0,234459.0,228015.0,226052.0,231361.0,243236.0,218573.0,221589.0,235666.0,245201.0,255448.0,263034.0,262486.0,255936.0,249267.0,246467.0,244823.0,250808.0,244342.0,240071.0,249805.0,256392.0,264017.0,270972.0,268459.0,265317.0,257008.0,255944.0,256017.0,258537.0,254178.0,252657.0,262012.0,271114.0,277415.0,283932.0,279332.0,273179.0,266838.0,265115.0,266561.0,269185.0,264882.0,258450.0,267163.0,276401.0,281311.0,292314.0,286628.0,283712.0,277307.0,276633.0,279069.0,276528.0,277589.0,272619.0,282959.0,291226.0,299131.0,309442.0,303014.0,300285.0,294435.0,294679.0,296915.0,296836.0,295290.0,296155.0,307452.0,312024.0,316470.0,322890.0,315602.0,310274.0,301688.0,304147.0,304084.0,300233.0,298413.0,297606.0,308959.0,318967.0,326940.0,333033.0,326987.0,321909.0,316073.0,319027.0,319616.0,323350.0,317780.0,319579.0,332539.0,326955.0,320506.0,341658.0,361239.0,370748.0,375948.0,379596.0,378759.0,380387.0,372294.0,383190.0,403857.0,423390.0,425809.0,433983.0,427699.0,421457.0,419013.0,420396.0,422893.0,424103.0,412404.0,427077.0,455833.0,473345.0,473666.0,470055.0,446852.0,439037.0,431457.0,426394.0,419230.0,409818.0,410450.0,416328.0,439293.0,449137.0,464386.0,470482.0,462870.0,462510.0,451344.0,448639.0,442901.0,435544.0,439774.0,453145.0,471315.0,488748.0,498449.0,502928.0,493286.0,486084.0,476994.0,484515.0,482085.0,476884.0,475922.0,486253.0
1,394913,1,"New York, NY",msa,NY,502595.0,494268.0,504789.0,501533.0,504887.0,527682.0,518131.0,478059.0,461944.0,446650.0,446634.0,441969.0,423480.0,411512.0,403784.0,427374.0,451518.0,459736.0,449117.0,437729.0,429279.0,430123.0,435066.0,448542.0,453005.0,427557.0,431810.0,451638.0,449940.0,494804.0,480229.0,449093.0,450430.0,451924.0,449350.0,433768.0,434078.0,421719.0,441677.0,455057.0,474590.0,477109.0,465736.0,462457.0,411551.0,398382.0,413627.0,426164.0,418503.0,415424.0,439827.0,463100.0,475571.0,476801.0,467760.0,448678.0,428156.0,434028.0,458986.0,458438.0,416100.0,425207.0,435791.0,473849.0,488086.0,501745.0,496608.0,475381.0,461628.0,462922.0,468572.0,476240.0,470394.0,467505.0,459407.0,476103.0,499970.0,510192.0,512964.0,485213.0,466432.0,474886.0,471661.0,497178.0,464126.0,463701.0,461813.0,488091.0,500458.0,501184.0,504196.0,482260.0,467695.0,458867.0,468874.0,467665.0,453162.0,453556.0,462698.0,467217.0,495911.0,498130.0,493406.0,477860.0,464582.0,460712.0,458546.0,470943.0,458094.0,452998.0,473128.0,482309.0,509988.0,498509.0,501061.0,486804.0,477494.0,485544.0,497165.0,480738.0,473193.0,489984.0,493864.0,504740.0,523725.0,526200.0,518625.0,502878.0,486114.0,494485.0,488699.0,495753.0,489527.0,475055.0,489035.0,503742.0,537099.0,524363.0,527866.0,500620.0,503590.0,505887.0,507062.0,522885.0,494693.0,508620.0,518171.0,542711.0,557606.0,549441.0,583141.0,593076.0,601270.0,601930.0,602777.0,599239.0,599406.0,601979.0,629337.0,644144.0,665319.0,667333.0,666351.0,663001.0,647468.0,639658.0,651245.0,653601.0,649282.0,663823.0,677098.0,700167.0,733443.0,726097.0,719201.0,680822.0,666487.0,666466.0,653275.0,674733.0,657924.0,654767.0,683987.0,712721.0,737120.0,745020.0,773181.0,741936.0,720409.0,718652.0,726081.0,737589.0,728019.0,741857.0,759522.0,798124.0,837666.0,835593.0,829539.0,792072.0,799173.0,806203.0,797556.0,820710.0,808261.0
2,753899,2,"Los Angeles, CA",msa,CA,674070.0,659821.0,657518.0,623060.0,623712.0,586899.0,565008.0,524391.0,502852.0,467559.0,455466.0,409538.0,424659.0,430831.0,437469.0,456837.0,484636.0,481913.0,493085.0,507131.0,490369.0,495777.0,505661.0,504601.0,491711.0,510500.0,520952.0,525804.0,533147.0,533748.0,523644.0,538549.0,515259.0,516177.0,515908.0,482817.0,477552.0,523358.0,524365.0,534902.0,540574.0,529111.0,520393.0,503793.0,483791.0,492176.0,497586.0,485063.0,473511.0,508508.0,539292.0,532354.0,538799.0,545217.0,550507.0,558768.0,551058.0,575474.0,605134.0,526731.0,562261.0,612524.0,648243.0,661915.0,677268.0,681703.0,667648.0,669087.0,665259.0,661592.0,677481.0,654065.0,679091.0,705101.0,711342.0,725392.0,730731.0,737833.0,724252.0,717735.0,722628.0,709221.0,716976.0,712595.0,714593.0,731709.0,755760.0,759828.0,762145.0,754653.0,748639.0,728820.0,743641.0,756334.0,746821.0,741805.0,763199.0,784011.0,780892.0,809326.0,800061.0,793350.0,799552.0,781794.0,779012.0,780860.0,761573.0,819759.0,795719.0,802808.0,820586.0,857486.0,849465.0,860389.0,834660.0,844002.0,830909.0,832628.0,830693.0,843478.0,859786.0,874407.0,878442.0,909089.0,896766.0,888544.0,896397.0,865336.0,884289.0,876668.0,836615.0,829313.0,866023.0,880830.0,890546.0,897094.0,897912.0,906741.0,879923.0,892706.0,888254.0,874658.0,915138.0,919412.0,926938.0,951684.0,890020.0,891509.0,935532.0,1010685.0,1032447.0,1030422.0,1025445.0,994540.0,1005939.0,999266.0,1055373.0,1085273.0,1119732.0,1147047.0,1154993.0,1132210.0,1136558.0,1127665.0,1128975.0,1142664.0,1163208.0,1128863.0,1186619.0,1231752.0,1258381.0,1261692.0,1232392.0,1182758.0,1164514.0,1144313.0,1140010.0,1144475.0,1099836.0,1128506.0,1125261.0,1223729.0,1151728.0,1164208.0,1200738.0,1196783.0,1245246.0,1205921.0,1199878.0,1217918.0,1170895.0,1166108.0,1236279.0,1244737.0,1267586.0,1318885.0,1288221.0,1265532.0,1238001.0,1239157.0,1266800.0,1249635.0,1248626.0,1276900.0,1328925.0
3,394463,3,"Chicago, IL",msa,IL,276817.0,289658.0,280818.0,288527.0,301415.0,301315.0,304869.0,266387.0,273540.0,259393.0,252588.0,234971.0,230431.0,244681.0,236004.0,244661.0,254310.0,255214.0,251950.0,241042.0,229372.0,222006.0,233924.0,241811.0,223842.0,233492.0,240466.0,241069.0,270090.0,268310.0,276262.0,236650.0,240080.0,240472.0,233645.0,233869.0,228223.0,223471.0,240690.0,240009.0,255268.0,262288.0,253541.0,219918.0,216687.0,212597.0,205259.0,206210.0,194564.0,211894.0,227838.0,238230.0,261666.0,243722.0,237749.0,218903.0,203286.0,210138.0,207194.0,190514.0,191215.0,208112.0,225237.0,240835.0,264636.0,258382.0,252066.0,238237.0,234016.0,233645.0,234839.0,224405.0,213555.0,227244.0,239682.0,255405.0,279540.0,268489.0,280406.0,259461.0,247802.0,240352.0,242517.0,234150.0,231456.0,246488.0,255160.0,267278.0,285769.0,282973.0,275444.0,256936.0,256665.0,244773.0,248133.0,242170.0,228522.0,248253.0,264530.0,278387.0,290663.0,287821.0,277338.0,257544.0,256664.0,254055.0,254096.0,254666.0,252066.0,268837.0,281445.0,289110.0,308343.0,298131.0,284063.0,270289.0,267676.0,267153.0,269676.0,273485.0,265839.0,282150.0,298583.0,302491.0,317080.0,301602.0,299830.0,283292.0,274013.0,281203.0,267402.0,268933.0,271378.0,289353.0,298882.0,302838.0,314431.0,309759.0,300067.0,279664.0,281892.0,282717.0,282010.0,279956.0,284454.0,303455.0,315295.0,300979.0,309460.0,328255.0,343033.0,333925.0,336019.0,327276.0,320646.0,317090.0,318450.0,338938.0,361683.0,365036.0,376037.0,360226.0,357298.0,336956.0,331597.0,329676.0,329273.0,330769.0,335822.0,354745.0,376863.0,376685.0,398800.0,371210.0,360761.0,346727.0,335327.0,334167.0,329897.0,327564.0,322299.0,351031.0,366270.0,374193.0,400155.0,389323.0,389074.0,368802.0,351113.0,356073.0,356798.0,350157.0,355440.0,382379.0,399135.0,409355.0,434296.0,425458.0,412976.0,398169.0,389920.0,393334.0,387428.0,390321.0,390306.0
4,394514,4,"Dallas, TX",msa,TX,190189.0,195280.0,198738.0,210680.0,206793.0,207729.0,202001.0,189041.0,192047.0,182101.0,180975.0,169582.0,180474.0,177881.0,183504.0,192589.0,201741.0,195111.0,202121.0,183233.0,177827.0,180252.0,189211.0,184461.0,185566.0,190887.0,195543.0,199676.0,208966.0,218057.0,206089.0,195383.0,192506.0,203619.0,216123.0,191854.0,197851.0,195821.0,203790.0,208449.0,212197.0,210857.0,208713.0,191626.0,197123.0,192596.0,196932.0,187238.0,190059.0,206107.0,210409.0,219094.0,222365.0,218567.0,214443.0,206837.0,205005.0,208388.0,214946.0,192966.0,202026.0,217055.0,234409.0,238964.0,246240.0,239016.0,235017.0,230534.0,225361.0,224831.0,228634.0,211627.0,230004.0,234061.0,244412.0,250270.0,253692.0,251962.0,245241.0,241404.0,239076.0,239709.0,255338.0,233666.0,248169.0,257837.0,262801.0,273264.0,280308.0,266640.0,266130.0,257093.0,259872.0,283063.0,267358.0,249540.0,255768.0,272024.0,274911.0,289599.0,291750.0,278136.0,283615.0,277832.0,277096.0,283403.0,280965.0,273473.0,286172.0,298118.0,299735.0,313083.0,314313.0,305902.0,307100.0,290404.0,290628.0,298516.0,302233.0,287305.0,298244.0,322451.0,315786.0,329910.0,334434.0,323446.0,315288.0,307579.0,298448.0,307370.0,308215.0,285463.0,300331.0,316892.0,326010.0,335125.0,346573.0,326586.0,326174.0,316620.0,319535.0,316547.0,330805.0,312738.0,323709.0,333822.0,333459.0,326696.0,348358.0,364323.0,363534.0,359848.0,367454.0,367593.0,368727.0,358353.0,392294.0,410210.0,419935.0,437195.0,444029.0,432346.0,425287.0,426259.0,421550.0,423877.0,433960.0,428299.0,445847.0,469453.0,507501.0,522908.0,522003.0,501119.0,480529.0,467990.0,462945.0,460840.0,440924.0,429201.0,455660.0,457373.0,484950.0,499585.0,508857.0,501132.0,498644.0,479018.0,476646.0,477204.0,478610.0,465976.0,481742.0,503698.0,509725.0,525780.0,511853.0,515963.0,495276.0,482739.0,494240.0,501347.0,501381.0,473248.0,484989.0

In [98]:
metro_house_price_cities = metro_house_price[(metro_house_price['RegionName']== 'Austin, TX') |
                                        (metro_house_price['RegionName']== 'Seattle, WA') |
                                        (metro_house_price['RegionName']== 'Raleigh, NC') |
                                        (metro_house_price['RegionName']== 'Philadelphia, PA')]
metro_house_price_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025
7,394974,7,"Philadelphia, PA",msa,PA,228331.0,230562.0,232590.0,244327.0,257676.0,265920.0,270644.0,241498.0,227688.0,223150.0,223100.0,212952.0,209718.0,210599.0,217687.0,228691.0,247665.0,251247.0,249060.0,228944.0,220473.0,220422.0,226347.0,231152.0,222500.0,221398.0,231745.0,233210.0,258619.0,257338.0,251272.0,237946.0,227305.0,234292.0,224783.0,229580.0,213826.0,218782.0,221115.0,238516.0,251399.0,249622.0,250236.0,224590.0,218718.0,222964.0,218490.0,222576.0,205713.0,224762.0,226850.0,238675.0,260813.0,259051.0,257390.0,235042.0,227802.0,238400.0,235026.0,221530.0,209259.0,228832.0,234103.0,253632.0,273305.0,270103.0,256158.0,243667.0,237905.0,236677.0,239687.0,229364.0,220272.0,222338.0,229289.0,250097.0,270484.0,268713.0,267964.0,238805.0,239851.0,239333.0,234882.0,225841.0,204137.0,224629.0,233349.0,252306.0,269111.0,264832.0,255025.0,248606.0,234793.0,237920.0,228359.0,228654.0,219951.0,222295.0,235226.0,242387.0,264409.0,270621.0,260265.0,246036.0,236016.0,236837.0,244225.0,229720.0,215990.0,235808.0,244390.0,263277.0,282959.0,278756.0,265783.0,250723.0,246764.0,251888.0,252398.0,237831.0,229007.0,247912.0,246982.0,261186.0,285335.0,280867.0,279085.0,255040.0,248869.0,251741.0,250975.0,239148.0,242009.0,248175.0,262546.0,275419.0,302250.0,297929.0,291042.0,270316.0,266105.0,270642.0,269002.0,266993.0,262916.0,274686.0,301916.0,291489.0,298981.0,318227.0,328940.0,317255.0,309955.0,313178.0,311646.0,308277.0,301380.0,310437.0,320974.0,330187.0,362253.0,363134.0,363773.0,333514.0,336053.0,338832.0,323550.0,312348.0,310161.0,323548.0,345619.0,367728.0,395100.0,384912.0,381993.0,359299.0,352515.0,351662.0,347473.0,335854.0,324525.0,353093.0,352711.0,376536.0,405577.0,406878.0,407732.0,379715.0,377168.0,371722.0,377446.0,370493.0,359201.0,378096.0,396727.0,414777.0,445392.0,438756.0,435886.0,409054.0,408948.0,413001.0,401872.0,392413.0,390347.0
15,395078,15,"Seattle, WA",msa,WA,427872.0,433854.0,437785.0,427593.0,445891.0,432619.0,414165.0,385171.0,390495.0,375628.0,398355.0,359279.0,372136.0,351518.0,351511.0,356706.0,378574.0,366764.0,379863.0,369570.0,357477.0,350109.0,359888.0,361188.0,362835.0,363292.0,365301.0,376380.0,391020.0,399717.0,384709.0,370842.0,354022.0,348132.0,359949.0,326865.0,339891.0,336250.0,349330.0,339262.0,346987.0,344676.0,336625.0,324332.0,315738.0,315859.0,303449.0,292096.0,303676.0,320705.0,339047.0,341098.0,371410.0,357808.0,359867.0,364487.0,358653.0,361724.0,359236.0,331483.0,349784.0,368005.0,383358.0,403649.0,399016.0,402764.0,397285.0,406127.0,388318.0,377110.0,378393.0,368008.0,382595.0,388276.0,413355.0,413378.0,430207.0,428856.0,412936.0,404767.0,408397.0,414937.0,393167.0,396615.0,391037.0,418668.0,434345.0,450764.0,465373.0,445174.0,458936.0,439915.0,440761.0,443627.0,435571.0,425668.0,430329.0,450634.0,461603.0,490483.0,502569.0,501222.0,485808.0,476060.0,489963.0,483994.0,467964.0,457814.0,471008.0,502168.0,534155.0,553918.0,563651.0,554405.0,549833.0,544167.0,546528.0,548507.0,541968.0,525097.0,546070.0,583541.0,612126.0,610153.0,619649.0,602540.0,576240.0,561026.0,574848.0,562437.0,548665.0,533132.0,561407.0,603424.0,610472.0,629906.0,628511.0,614238.0,602780.0,586026.0,602748.0,606800.0,620273.0,566676.0,613895.0,652928.0,638867.0,616995.0,676143.0,679644.0,707965.0,708430.0,703909.0,715379.0,692597.0,681456.0,733483.0,795185.0,821490.0,840829.0,846978.0,851727.0,834072.0,811670.0,826219.0,809647.0,815302.0,772110.0,873002.0,954603.0,989205.0,970534.0,925948.0,872785.0,866790.0,857908.0,861856.0,816956.0,772874.0,776973.0,776782.0,846448.0,867282.0,889067.0,914697.0,897502.0,902576.0,885833.0,869206.0,884338.0,819357.0,817661.0,893112.0,949407.0,996048.0,1011223.0,976702.0,983150.0,980051.0,940986.0,961204.0,952358.0,882044.0,869732.0,926113.0
29,394355,29,"Austin, TX",msa,TX,237103.0,240758.0,243699.0,262463.0,255874.0,256210.0,252697.0,239963.0,238518.0,224444.0,248097.0,226569.0,241265.0,224753.0,235905.0,252375.0,245774.0,244986.0,242108.0,240096.0,245378.0,238256.0,259842.0,252080.0,236148.0,237461.0,236404.0,243975.0,277962.0,287080.0,276822.0,251713.0,262137.0,254388.0,257799.0,250933.0,247998.0,250378.0,265277.0,271528.0,267629.0,268405.0,257308.0,255383.0,243454.0,244967.0,255717.0,223525.0,251236.0,259320.0,272387.0,286467.0,283110.0,284089.0,279015.0,262235.0,281622.0,266155.0,318177.0,275220.0,255727.0,289888.0,316290.0,306009.0,304209.0,303021.0,291123.0,280602.0,289856.0,295731.0,294315.0,275694.0,289825.0,302934.0,311776.0,319806.0,328425.0,319988.0,318429.0,311379.0,315308.0,323077.0,307873.0,332165.0,305999.0,323564.0,336827.0,358346.0,337984.0,344777.0,336120.0,325836.0,329982.0,338039.0,341435.0,331998.0,330467.0,352216.0,357466.0,358641.0,375502.0,354502.0,361145.0,341542.0,357580.0,364505.0,357260.0,364353.0,360428.0,376315.0,373561.0,396021.0,398737.0,381881.0,375724.0,367816.0,377001.0,372323.0,373043.0,369981.0,377203.0,402239.0,402432.0,405045.0,414311.0,408308.0,400784.0,386806.0,391418.0,389069.0,391875.0,388936.0,377459.0,396886.0,418919.0,433777.0,436723.0,417717.0,412202.0,408248.0,408634.0,403786.0,431421.0,388021.0,420761.0,433854.0,433027.0,425764.0,447408.0,475541.0,491987.0,478923.0,500044.0,491556.0,525123.0,490490.0,543368.0,605408.0,619805.0,622338.0,634870.0,629644.0,602459.0,585787.0,582159.0,609371.0,635420.0,593670.0,645491.0,692502.0,712242.0,732382.0,710073.0,682257.0,672283.0,649219.0,638530.0,632931.0,572801.0,595176.0,583593.0,600167.0,631264.0,642953.0,634680.0,640003.0,609820.0,603227.0,594749.0,583115.0,600756.0,558778.0,588790.0,604120.0,646013.0,645238.0,636030.0,612784.0,617377.0,608926.0,595921.0,594341.0,611588.0,591974.0,589007.0
42,395012,43,"Raleigh, NC",msa,NC,222903.0,217907.0,212430.0,230108.0,237159.0,233656.0,231892.0,213281.0,213245.0,201576.0,208420.0,210432.0,218687.0,222316.0,197679.0,217712.0,223306.0,223305.0,218603.0,200819.0,205464.0,208652.0,212067.0,232745.0,213259.0,221616.0,222762.0,224979.0,251017.0,234421.0,229739.0,225603.0,218807.0,223329.0,221149.0,219833.0,212868.0,207303.0,211881.0,219772.0,231630.0,223797.0,221058.0,210338.0,199561.0,204859.0,206505.0,206326.0,198455.0,223304.0,224010.0,225710.0,234289.0,214674.0,227214.0,207654.0,212931.0,218743.0,208606.0,224764.0,206078.0,216142.0,224928.0,234046.0,241518.0,237209.0,235399.0,222118.0,229073.0,217960.0,217135.0,225056.0,216900.0,231284.0,227252.0,243802.0,253024.0,247213.0,240342.0,237388.0,234030.0,234191.0,227918.0,236147.0,225498.0,239372.0,244492.0,264915.0,270417.0,255512.0,254761.0,238118.0,248056.0,256487.0,247888.0,243882.0,245927.0,250234.0,261695.0,270009.0,278745.0,268397.0,265337.0,261816.0,254357.0,257191.0,262163.0,264388.0,266454.0,284798.0,284164.0,286442.0,298449.0,291589.0,283977.0,271835.0,282680.0,280227.0,275769.0,274381.0,291242.0,294685.0,297748.0,303303.0,311358.0,305180.0,292270.0,290437.0,288848.0,293427.0,285275.0,285054.0,287653.0,300320.0,310840.0,315466.0,317254.0,319816.0,307620.0,297001.0,319712.0,300967.0,313727.0,305722.0,306812.0,312410.0,338739.0,320799.0,329815.0,336483.0,351491.0,347956.0,352610.0,348801.0,353960.0,359965.0,354146.0,362668.0,389624.0,407030.0,420519.0,423101.0,418194.0,413424.0,417546.0,426001.0,429949.0,429006.0,431972.0,472056.0,485578.0,494268.0,502471.0,495767.0,483541.0,457175.0,463362.0,460530.0,467382.0,461417.0,442595.0,448305.0,473648.0,490389.0,530181.0,534540.0,498731.0,475631.0,514664.0,514200.0,500962.0,485628.0,479468.0,497688.0,542974.0,548311.0,557814.0,556934.0,549267.0,515874.0,539001.0,541208.0,519862.0,519440.0,529522.0

In [99]:
public_transportation=pd.read_csv('../data/Monthly_Modal_Time_Series_Transportation_All.csv', low_memory=False)

In [100]:
public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
0,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,321.0,8491079.0,2014,January,201401,5232.0,29283817.0,1611532.0,208881579.0
1,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,321.0,8491079.0,2014,February,201402,5232.0,26107871.0,1433313.0,208031559.0
2,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,321.0,8491079.0,2014,March,201403,5232.0,28794437.0,1580232.0,241233382.0
3,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,321.0,8491079.0,2014,April,201404,5232.0,28766609.0,1580161.0,236085162.0
4,20008,MTA New York City Transit,"Unit of a Transit Agency, Reporting Separately",HR,DO,True,63217.0,"New York--Jersey City--Newark, NY--NJ",3248.12,19426449.0,321.0,8491079.0,2014,May,201405,5232.0,28672570.0,1571508.0,245580889.0

In [101]:
public_transportation_uza_name = public_transportation['Primary UZA Name'].value_counts(dropna=False)

In [102]:
public_transportation_uza_name

Primary UZA Name
New York--Jersey City--Newark, NY--NJ    7302
Los Angeles--Long Beach--Anaheim, CA     6441
NaN                                      4784
San Francisco--Oakland, CA               3701
Seattle--Tacoma, WA                      3512
                                         ...
Amarillo, TX                               18
Lompoc, CA                                 18
Clarksville, TN--KY                        12
Manchester, NH                             12
Gainesville, GA                            12
Name: count, Length: 318, dtype: int64

In [103]:
#metro_house_price_cities = public_transportation[(public_transportation['Primary UZA Name']== 'Austin, TX') |
                                        #(metro_house_price['RegionName']== 'Seattle, WA') |
                                        #(metro_house_price['RegionName']== 'Raleigh, NC') |
                                        #(metro_house_price['RegionName']== 'Philadelphia, PA')]

seattle_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Seattle", na=False)]
seattle_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
294,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,260.0,705977.0,2014,January,201401,89.0,373336.0,24859.0,494932.0
295,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,260.0,705977.0,2014,February,201402,92.0,342920.0,22918.0,459426.0
296,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,260.0,705977.0,2014,March,201403,92.0,366113.0,24556.0,474702.0
297,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,260.0,705977.0,2014,April,201404,93.0,370552.0,24981.0,518146.0
298,29,Snohomish County Public Transportation Benefit...,Public Agency or Authority of Transit Service,MB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,260.0,705977.0,2014,May,201405,93.0,364260.0,24607.0,527080.0

In [104]:
austin_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Austin", na=False)]
austin_public_transportation

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
9534,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,January,201401,85.0,8715.0,405.0,1436.0
9535,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,February,201402,88.0,15678.0,741.0,2469.0
9536,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,March,201403,70.0,8859.0,436.0,1409.0
9537,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,April,201404,71.0,10249.0,488.0,1747.0
9538,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,May,201405,78.0,9389.0,525.0,1633.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169366,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,197.0,543092.0,38405.0,96751.0
171866,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1163204.0,2014,December,201412,NaN,NaN,NaN,NaN
171927,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,March,201403,NaN,NaN,NaN,NaN
171928,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,April,201404,NaN,NaN,NaN,NaN
171929,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,RB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,June,201406,NaN,NaN,NaN,NaN

In [105]:
raleigh_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Raleigh", na=False)]
raleigh_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
666,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,861.0,1024198.0,2014,July,201407,47.0,218231.0,9051.0,15302.0
667,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,861.0,1024198.0,2014,August,201408,47.0,206392.0,9144.0,15391.0
668,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,861.0,1024198.0,2014,September,201409,47.0,204150.0,9287.0,15358.0
669,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,861.0,1024198.0,2014,October,201410,47.0,230187.0,10226.0,17474.0
670,40222,Wake County,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,861.0,1024198.0,2014,November,201411,47.0,177333.0,8279.0,13422.0

In [106]:
philly_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Philadelphia", na=False)]
philly_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
210,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,484.0,156898.0,2014,January,201401,20.0,32764.0,2346.0,5505.0
211,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,484.0,156898.0,2014,February,201402,20.0,30700.0,2092.0,5274.0
212,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,484.0,156898.0,2014,March,201403,20.0,35528.0,2612.0,6088.0
213,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,484.0,156898.0,2014,April,201404,20.0,38190.0,2745.0,6503.0
214,20193,Cumberland County,County or Local Government Unit or Department ...,DR,DO,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,484.0,156898.0,2014,May,201405,20.0,39881.0,3059.0,6866.0

In [107]:
#Non-IOU = Non-Investor-Owned Utility
noniou_utility_rates = pd.read_csv('../data/non_iou_utlity_rates_zip_openei_all.csv')

In [108]:
noniou_utility_rates.head()

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,39730,55,City of Aberdeen - (MS),MS,Bundled,Municipal,0.115178,0.049913,0.115515
1,38858,55,City of Aberdeen - (MS),MS,Bundled,Municipal,0.115178,0.049913,0.115515
2,21864,84,A & N Electric Coop,MD,Bundled,Cooperative,0.121622,0.000000,0.121986
3,21824,84,A & N Electric Coop,MD,Bundled,Cooperative,0.121622,0.000000,0.121986
4,21866,84,A & N Electric Coop,MD,Bundled,Cooperative,0.121622,0.000000,0.121986

In [109]:
noniou_utility_rates_cities = noniou_utility_rates[(noniou_utility_rates['state']== 'TX') |
                                        (noniou_utility_rates['state']== 'NC') |
                                        (noniou_utility_rates['state']== 'WA') |
                                        (noniou_utility_rates['state']== 'PA')]
noniou_utility_rates_cities

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
240,28001,232,City of Albemarle - (NC),NC,Bundled,Municipal,0.104536,0.083410,0.122479
241,28002,232,City of Albemarle - (NC),NC,Bundled,Municipal,0.104536,0.083410,0.122479
242,27979,240,Albemarle Electric Member Corp,NC,Bundled,Cooperative,0.117460,0.083032,0.136862
243,27919,240,Albemarle Electric Member Corp,NC,Bundled,Cooperative,0.117460,0.083032,0.136862
244,27974,240,Albemarle Electric Member Corp,NC,Bundled,Cooperative,0.117460,0.083032,0.136862
...,...,...,...,...,...,...,...,...,...
28052,76540,55982,Heart of Texas Electric Coop,TX,Bundled,Cooperative,0.105728,0.059810,0.098084
28053,76703,55982,Heart of Texas Electric Coop,TX,Bundled,Cooperative,0.105728,0.059810,0.098084
28054,76702,55982,Heart of Texas Electric Coop,TX,Bundled,Cooperative,0.105728,0.059810,0.098084
28055,76597,55982,Heart of Texas Electric Coop,TX,Bundled,Cooperative,0.105728,0.059810,0.098084
28056,76598,55982,Heart of Texas Electric Coop,TX,Bundled,Cooperative,0.105728,0.059810,0.098084

In [110]:
iou_utility_rates = pd.read_csv('../data/utility_rates_zip_openei_all.csv')

In [111]:
iou_utility_rates.head()

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
0,85321,176,Ajo Improvement Co,AZ,Bundled,Investor Owned,0.094948,0.000000,0.103273
1,36560,195,Alabama Power Co,AL,Bundled,Investor Owned,0.125520,0.068831,0.140362
2,36513,195,Alabama Power Co,AL,Bundled,Investor Owned,0.125520,0.068831,0.140362
3,36280,195,Alabama Power Co,AL,Bundled,Investor Owned,0.125520,0.068831,0.140362
4,35473,195,Alabama Power Co,AL,Bundled,Investor Owned,0.125520,0.068831,0.140362

In [112]:
iou_utility_rates_cities =iou_utility_rates[(iou_utility_rates['state']== 'TX') |
                                        (iou_utility_rates['state']== 'NC') |
                                        (iou_utility_rates['state']== 'WA') |
                                        (iou_utility_rates['state']== 'PA')]
iou_utility_rates_cities

,zip,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
3836,27828,3046,Duke Energy Progress - (NC),NC,Bundled,Investor Owned,0.090621,0.063511,0.116106
3837,28341,3046,Duke Energy Progress - (NC),NC,Bundled,Investor Owned,0.090621,0.063511,0.116106
3838,27519,3046,Duke Energy Progress - (NC),NC,Bundled,Investor Owned,0.090621,0.063511,0.116106
3839,28801,3046,Duke Energy Progress - (NC),NC,Bundled,Investor Owned,0.090621,0.063511,0.116106
3840,28333,3046,Duke Energy Progress - (NC),NC,Bundled,Investor Owned,0.090621,0.063511,0.116106
...,...,...,...,...,...,...,...,...,...
50291,77393,55937,Entergy Texas Inc.,TX,Bundled,Investor Owned,0.090479,0.055887,0.117262
50292,77580,55937,Entergy Texas Inc.,TX,Bundled,Investor Owned,0.090479,0.055887,0.117262
50293,77639,55937,Entergy Texas Inc.,TX,Bundled,Investor Owned,0.090479,0.055887,0.117262
50294,77631,55937,Entergy Texas Inc.,TX,Bundled,Investor Owned,0.090479,0.055887,0.117262
50295,77875,55937,Entergy Texas Inc.,TX,Bundled,Investor Owned,0.090479,0.055887,0.117262

In [113]:
#Regional price parities
#Regional price parities measure the differences in price levels across states for a given year 
#and are expressed as a percentage of the overall national price level.
rpp_us = pd.read_csv('../data/regional_price_parities_bea_gov_all_100.csv')

In [114]:
rpp_us.head()

,State,2023 Regional price parities: All items,2023 Regional price parities: Goods,2023 Regional price parities: Housing,Regional price parities: Utilities,2023 Regional price parities: Other,2023 Implicit regional price deflators1: All items,2023 Percent change from previous year
0,United States2,100.0,99.5,100.7,98.6,100.2,120.5,3.8
1,Alabama,90.0,95.1,61.6,90.4,98.7,108.4,6.1
2,Alaska,101.7,100.4,96.6,111.9,103.3,122.6,3.5
3,Arizona,101.1,97.5,108.6,83.2,102.3,121.8,5.0
4,Arkansas,86.5,92.1,56.7,81.4,95.3,104.2,3.3

In [115]:
pc_personal_consumption_us = pd.read_csv('../data/personal_consumption_expenditures_all_bea_2023_pc.csv')

In [116]:
pc_personal_consumption_us.head()

,State,Total personal consumption expenditures,Housing and utilities,Health care,Food and beverages for off-premises consumption,Gasoline and other energy goods,All other personal consumption expenditures
0,United States,"56,202","9,996","9,130","4,312","1,395","31,370"
1,New England,"65,660","11,778","10,612","4,846","1,222","37,202"
2,Connecticut,"65,128","11,560","10,103","4,474","1,128","37,863"
3,Maine,"60,250","10,826","10,062","5,279","1,991","32,092"
4,Massachusetts,"69,101","12,470","11,354","4,870","1,019","39,388"

# Zip Codes

In [118]:
#zip codes
philly_zip_codes =pd.read_csv('../data/philadelphia/philly_zip.csv')

In [119]:
philly_zip_codes.head()

  philly_zip
0      19102
1      19103
2      19104
3      19106
4      19107

In [120]:
seattle_zip_codes =pd.read_csv('../data/seattle/seattle_zip_codes.csv')

In [121]:
seattle_zip_codes.head()

   Zip Codes
0      98101
1      98102
2      98103
3      98104
4      98105

In [122]:
raliegh_zip_codes=pd.read_csv('../data/raleigh/Zip_Codes_Raleigh.csv')

In [123]:
raliegh_zip_codes.head()

   OBJECTID      ZIPNAME  ZIPNUM ZIPCODE NAME  ZIP CODE         NAME
0     25249      RALEIGH   27601      RALEIGH     27601      RALEIGH
1     25250       DURHAM   27713       DURHAM     27713       DURHAM
2     25251      RALEIGH   27604      RALEIGH     27604      RALEIGH
3     25252  WAKE FOREST   27587  WAKE FOREST     27587  WAKE FOREST
4     25253       DURHAM   27703       DURHAM     27703       DURHAM

In [124]:
raliegh_zip_codes = raliegh_zip_codes[raliegh_zip_codes['NAME']=='RALEIGH']
raliegh_zip_codes = raliegh_zip_codes.drop(['OBJECTID', 'ZIPNAME','ZIPNUM','NAME'], axis=1)
raliegh_zip_codes

   ZIPCODE NAME  ZIP CODE
0       RALEIGH     27601
2       RALEIGH     27604
10      RALEIGH     27615
12      RALEIGH     27616
13      RALEIGH     27612
15      RALEIGH     27609
16      RALEIGH     27605
20      RALEIGH     27608
21      RALEIGH     27610
24      RALEIGH     27613
25      RALEIGH     27614
28      RALEIGH     27617
33      RALEIGH     27607
34      RALEIGH     27606
37      RALEIGH     27614
44      RALEIGH     27603
47      RALEIGH     27603
50      RALEIGH     27616

In [125]:
austin_zip_codes = pd.read_csv('../data/austin/Boundaries__US_Zip_Codes_Austin.csv')

In [126]:
austin_zip_codes.head()

,Shape__Area,LATITUDE,SQMI,the_geom,CITY,OBJECTID,ZIPCODE,LONGITUDE,STATE,Shape__Length
0,"4,300,908,909.347656",NaN,150.68,"MULTIPOLYGON (((-122.694221 39.799206, -122.69...",West Glenn County,1,47,NaN,CA,"320,518.9928277098"
1,"6,861,625,044.3828125",NaN,240.78,"MULTIPOLYGON (((-122.814111 39.581398, -122.81...",Mendocino Ntl Forest,2,48,NaN,CA,"595,696.2500815018"
2,"8,599,170,846.808594",NaN,297.8,"MULTIPOLYGON (((-123.692952 41.81146, -123.693...",Six Rivers National Forest,3,49,NaN,CA,"663,428.0083823798"
3,"4,367,122,697.886719",NaN,151.72,"MULTIPOLYGON (((-123.531962 41.246919, -123.53...",Six Rivers Ntl Forest,4,50,NaN,CA,"433,109.24065417756"
4,"5,347,384,577.066406",NaN,188.12,"MULTIPOLYGON (((-120.233377 39.030949, -120.24...",Eldorado Ntl Forest,5,51,NaN,CA,"383,341.2153712844"

In [127]:
austin_zip_codes =austin_zip_codes[austin_zip_codes['STATE']== 'TX']
austin_zip_codes =austin_zip_codes[austin_zip_codes['CITY']== 'Austin']
austin_zip_codes = austin_zip_codes.drop(['Shape__Area', 'LATITUDE','SQMI','the_geom', 'OBJECTID', 'LONGITUDE', 'Shape__Length' ], axis=1)

In [128]:
austin_zip_codes.reset_index()

    index    CITY  ZIPCODE STATE
0   26280  Austin    78701    TX
1   26281  Austin    78702    TX
2   26282  Austin    78703    TX
3   26283  Austin    78704    TX
4   26284  Austin    78705    TX
5   26285  Austin    78712    TX
6   26286  Austin    78717    TX
7   26287  Austin    78719    TX
8   26288  Austin    78721    TX
9   26289  Austin    78722    TX
10  26290  Austin    78723    TX
11  26291  Austin    78724    TX
12  26292  Austin    78725    TX
13  26293  Austin    78726    TX
14  26294  Austin    78727    TX
15  26295  Austin    78728    TX
16  26296  Austin    78729    TX
17  26343  Austin    78730    TX
18  26344  Austin    78731    TX
19  26345  Austin    78732    TX
20  26346  Austin    78733    TX
21  26347  Austin    78734    TX
22  26348  Austin    78735    TX
23  26349  Austin    78736    TX
24  26350  Austin    78737    TX
25  26381  Austin    78738    TX
26  26382  Austin    78739    TX
27  26383  Austin    78741    TX
28  26384  Austin    78742    TX
29  26385  Austin    78744    TX
30  26386  Austin    78745    TX
31  26387  Austin    78746    TX
32  26388  Austin    78747    TX
33  26389  Austin    78748    TX
34  26390  Austin    78749    TX
35  26391  Austin    78750    TX
36  26392  Austin    78751    TX
37  26393  Austin    78752    TX
38  26450  Austin    78753    TX
39  26451  Austin    78754    TX
40  26452  Austin    78756    TX
41  26453  Austin    78757    TX
42  26454  Austin    78758    TX
43  26455  Austin    78759    TX

# <center> Public Transportation <center>


Public transportation budget df:

- austin_transportation_budget
- raleigh_transportation_budget
- philly_transportation_budget
- seattle_transportation_budget

## <center>How much does each city spends on public transit?<center>

In [132]:
austin_transportation_budget.head()

,BUDGET_FISCAL_YEAR,THRU_QUARTER,DEPT_ROLLUP,DEPT_ROLLUP_NAME,DEPARTMENT_CODE,DEPARTMENT_NAME,FUND_CODE,FUND_NAME,PROGRAM_CODE,PROGRAM_NAME,ACTIVITY_CODE,ACTIVITY_NAME,UNIT_CODE,UNIT_NAME,EXPENSE_CODE,EXPENSE_NAME,BUDGET,EXPENDITURES,KEY
154,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,3SRP,Street Repair,3RTM,Routine Maintenance,6060,North District Routine Maint,7134,Chemicals,3500.0,0.00,2025260620051203SRP3RTM60607134
284,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,9MGT,Support Services,9ADM,Departmental Support Services,8786,Safety,6632,Memberships,450.0,668.00,2025260620051209MGT9ADM87866632
306,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3200,TPW Development Services,5280,Consultant-others,850000.0,384819.71,2025260620051201SSP6SPT32005280
307,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3250,Land Development Engineering,5620,Services-legal fees,0.0,815.00,2025260620051201SSP6SPT32505620
311,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1IMG,Asset and Facility Management,2ESS,Asset and Facility Management,8788,Logistics and Facility Management,6382,Maintenance-grounds,17000.0,11114.35,2025260620051201IMG2ESS87886382

In [133]:
#austin_transportation_budget_year = austin_transportation_budget['UNIT_NAME'].value_counts()
#austin_transportation_budget_year

In [134]:
total_spent_transportation_austin = austin_transportation_budget['BUDGET'].sum()
total_spent_transportation_austin

225843430.0

In [135]:
raleigh_transportation_budget.head()

,OBJECTID,BFY,FY,APD,Fund_Code,Fund_Name,Dept_Code,Department,Div_Code,Division,Unit_Code,Cost_Center,Obj_Type_Code,Obj_Type_Name,Obj_Cat_Code,Expenditure_Category,Obj_Class_Code,Obj_Class_Name,Obj_Code,Expenditure_Line_Item,Record_Date,Check_Number,Document_ID,Budgeted_Amount,Actual_Amount
6329,6330,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1101,REGULAR SALARIES & WAGES,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",213740.0,NaN
6330,6331,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1106,MERIT ALLOCATIONS,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",7375.0,NaN
6331,6332,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1210,FICA,1201,FICA,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",16916.0,NaN
6332,6333,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1220,Health,1223,Health Insurance,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",40893.0,NaN
6333,6334,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1230,Retirement,1205,401(K),2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",11055.0,NaN

In [136]:
total_spent_transportation_raleigh = raleigh_transportation_budget['Budgeted_Amount'].sum()
total_spent_transportation_raleigh

10495655.0

In [137]:
#raleigh_transportation_budget_year = raleigh_transportation_budget['Obj_Class_Name'].value_counts()
#raleigh_transportation_budget_year

In [138]:
philly_transportation_budget.head()

,Type,Fiscal_Year,Allocation_Method,Division,Department,Labor_and_Fringe__in__000s_,Material_and_Services__in__000s,Notes,ObjectId
93,Budgeted,2024,Departmental,Operations,Rail Operations,236494,27614,NaN,94
94,Budgeted,2024,Departmental,Operations,Bus Operations & Access,268919,37961,NaN,95
95,Budgeted,2024,Departmental,Operations,"Administration, Finance And Support",7693,20566,NaN,96
96,Budgeted,2024,Departmental,Operations,Bridges And Buildings,52431,49511,NaN,97
97,Budgeted,2024,Departmental,Operations,Maintenance Of Way,57609,8806,NaN,98

In [139]:
total_spent_transportation_philly = philly_transportation_budget[['Labor_and_Fringe__in__000s_', 'Material_and_Services__in__000s']].sum().sum() *1000

total_spent_transportation_philly

1685647000

In [140]:
#philly_transportation_budget_t = philly_transportation_budget['Division'].value_counts()
#philly_transportation_budget_t

In [141]:
seattle_transportation_budget.head()

,Fiscal Year,Service,Department,Program,Fund,Fund Type,Expense Type,Description,Approved Amount
0,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,4989.0
1,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,774.0
2,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,389.0
3,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Indirect,654898.0
4,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,93161.0

In [142]:
total_spent_transportation_seattle = seattle_transportation_budget['Approved Amount'].sum().round(2)
total_spent_transportation_seattle

319309895.77

In [143]:
#seattle_transportation_budget_t = seattle_transportation_budget['Program'].value_counts()
#seattle_transportation_budget_t

In [144]:
#https://www.geeksforgeeks.org/how-to-convert-dictionary-to-pandas-dataframe/
#https://www.geeksforgeeks.org/how-to-create-dataframe-from-dictionary-in-python-pandas/
transport_totals = pd.DataFrame({'City': ['Seattle', 'Philly', 'Raleigh', 'Austin'], 
                                 'Total Spent': [total_spent_transportation_seattle,
                                     total_spent_transportation_philly,
                                     total_spent_transportation_raleigh,
                                     total_spent_transportation_austin]})

transport_totals['Total Spent'] = transport_totals['Total Spent'].astype(int)

#### Access to Public transportation:

Availability of public transit systems

Public transportation DF:
- austin_public_transportation 
- philly_public_transportation
- raleigh_public_transportation
- seattle_public_transportation

Questions:

How much of the **urbanized area (UZA)** is covered by the transit system?

How much of the UZA population is within the service area?

Transit Availability per Capita?

In [149]:
austin_public_transportation.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
9534,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,January,201401,85.0,8715.0,405.0,1436.0
9535,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,February,201402,88.0,15678.0,741.0,2469.0
9536,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,March,201403,70.0,8859.0,436.0,1409.0
9537,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,April,201404,71.0,10249.0,488.0,1747.0
9538,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,TX,False,4384.0,"Austin, TX",619.62,1809888.0,535.0,1079995.0,2014,May,201405,78.0,9389.0,525.0,1633.0

In [150]:

austin_public_transportation_years = austin_public_transportation['Year'].value_counts()
austin_public_transportation_years

Year
2014    65
2015    60
2016    57
2017    48
2018    48
2019    48
2020    48
2021    48
2022    48
2023    48
2024    48
2025    12
Name: count, dtype: int64

In [151]:
austin_public_transportation_2024 = austin_public_transportation[austin_public_transportation['Year']==2024]
austin_public_transportation_2024

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips
156575,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,205.0,600970.0,43331.0,106435.0
156576,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,197.0,521710.0,38068.0,92918.0
156577,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,188.0,503477.0,37982.0,91571.0
156581,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,289.0,1262954.0,114230.0,2407350.0
156582,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,289.0,1169527.0,105234.0,2081692.0
156583,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,289.0,1212955.0,108831.0,1943649.0
156587,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,178.0,326317.0,6363.0,32992.0
156588,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,176.0,305196.0,5917.0,29606.0
156589,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,183.0,308282.0,5942.0,29582.0
156593,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,12.0,19373.0,838.0,15160.0
156594,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,12.0,15925.0,688.0,10823.0
156595,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,12.0,17609.0,763.0,9240.0
169322,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,301.0,1181894.0,105828.0,1818566.0
169323,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,289.0,1154666.0,104031.0,2013438.0
169324,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,289.0,1255497.0,112910.0,2105862.0
169325,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,289.0,1240393.0,112030.0,2170658.0
169326,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,289.0,1210217.0,108589.0,2040135.0
169327,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,289.0,1146419.0,102959.0,1884212.0
169328,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,289.0,1210752.0,108822.0,1966188.0
169329,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,285.0,1179298.0,105952.0,2060279.0
169330,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,285.0,1185657.0,106927.0,2212417.0
169334,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,175.0,319999.0,6289.0,33139.0
169335,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,175.0,292055.0,5736.0,30603.0
169336,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,184.0,308200.0,6105.0,31715.0
169337,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,191.0,335979.0,6593.0,34168.0
169338,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,184.0,347400.0,6704.0,34402.0
169339,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,182.0,299598.0,5793.0,28889.0
169340,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,176.0,333748.0,6489.0,32888.0
169341,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,178.0,327218.0,6337.0,31388.0
169342,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,176.0,305587.0,5934.0,29872.0
169346,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,12.0,17725.0,768.0,10433.0
169347,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,12.0,17772.0,767.0,11997.0
169348,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,12.0,17834.0,774.0,10519.0
169349,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,12.0,18598.0,805.0,12117.0
169350,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,12.0,18538.0,799.0,9914.0
169351,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,12.0,16015.0,695.0,8786.0
169352,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,12.0,18550.0,801.0,10486.0
169353,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,12.0,18569.0,801.0,10309.0
169354,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,12.0,16969.0,733.0,11353.0
169358,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,181.0,502578.0,36008.0,80859.0
169359,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,184.0,513052.0,37067.0,90280.0
169360,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,187.0,522403.0,38074.0,92137.0
169361,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,192.0,530334.0,38661.0,96386.0
169362,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,190.0,548432.0,39782.0,100835.0
169363,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,182.0,506519.0,35716.0,91058.0
169364,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,180.0,527954.0,37762.0,94212.0
169365,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,190.0,550846.0,38824.0,99229.0
169366,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,197.0,543092.0,38405.0,96751.0

In [152]:
#Service Coverage Ratio
pd.options.mode.copy_on_write = True 
austin_public_transportation_2024['Service Coverage'] = ((austin_public_transportation_2024['Service Area Sq Miles'] / 
                                                       austin_public_transportation_2024['Primary UZA Sq Miles'])*100).round(2)
austin_public_transportation_2024

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips,Service Coverage
156575,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,205.0,600970.0,43331.0,106435.0,NaN
156576,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,197.0,521710.0,38068.0,92918.0,NaN
156577,60048,Capital Metropolitan Transportation Authority,NaN,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,188.0,503477.0,37982.0,91571.0,NaN
156581,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,289.0,1262954.0,114230.0,2407350.0,NaN
156582,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,289.0,1169527.0,105234.0,2081692.0,NaN
156583,60048,Capital Metropolitan Transportation Authority,NaN,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,289.0,1212955.0,108831.0,1943649.0,NaN
156587,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,178.0,326317.0,6363.0,32992.0,NaN
156588,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,176.0,305196.0,5917.0,29606.0,NaN
156589,60048,Capital Metropolitan Transportation Authority,NaN,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,183.0,308282.0,5942.0,29582.0,NaN
156593,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,October,202410,12.0,19373.0,838.0,15160.0,NaN
156594,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,November,202411,12.0,15925.0,688.0,10823.0,NaN
156595,60048,Capital Metropolitan Transportation Authority,NaN,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,NaN,NaN,2024,December,202412,12.0,17609.0,763.0,9240.0,NaN
169322,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,301.0,1181894.0,105828.0,1818566.0,88.6
169323,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,289.0,1154666.0,104031.0,2013438.0,88.6
169324,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,289.0,1255497.0,112910.0,2105862.0,88.6
169325,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,289.0,1240393.0,112030.0,2170658.0,88.6
169326,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,289.0,1210217.0,108589.0,2040135.0,88.6
169327,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,289.0,1146419.0,102959.0,1884212.0,88.6
169328,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,289.0,1210752.0,108822.0,1966188.0,88.6
169329,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,285.0,1179298.0,105952.0,2060279.0,88.6
169330,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,MB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,285.0,1185657.0,106927.0,2212417.0,88.6
169334,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,175.0,319999.0,6289.0,33139.0,88.6
169335,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,175.0,292055.0,5736.0,30603.0,88.6
169336,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,184.0,308200.0,6105.0,31715.0,88.6
169337,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,191.0,335979.0,6593.0,34168.0,88.6
169338,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,184.0,347400.0,6704.0,34402.0,88.6
169339,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,182.0,299598.0,5793.0,28889.0,88.6
169340,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,176.0,333748.0,6489.0,32888.0,88.6
169341,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,178.0,327218.0,6337.0,31388.0,88.6
169342,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,VP,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,176.0,305587.0,5934.0,29872.0,88.6
169346,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,12.0,17725.0,768.0,10433.0,88.6
169347,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,12.0,17772.0,767.0,11997.0,88.6
169348,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,12.0,17834.0,774.0,10519.0,88.6
169349,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,12.0,18598.0,805.0,12117.0,88.6
169350,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,12.0,18538.0,799.0,9914.0,88.6
169351,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,12.0,16015.0,695.0,8786.0,88.6
169352,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,12.0,18550.0,801.0,10486.0,88.6
169353,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,12.0,18569.0,801.0,10309.0,88.6
169354,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,CB,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,12.0,16969.0,733.0,11353.0,88.6
169358,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,January,202401,181.0,502578.0,36008.0,80859.0,88.6
169359,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,February,202402,184.0,513052.0,37067.0,90280.0,88.6
169360,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,March,202403,187.0,522403.0,38074.0,92137.0,88.6
169361,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,April,202404,192.0,530334.0,38661.0,96386.0,88.6
169362,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,May,202405,190.0,548432.0,39782.0,100835.0,88.6
169363,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,June,202406,182.0,506519.0,35716.0,91058.0,88.6
169364,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,July,202407,180.0,527954.0,37762.0,94212.0,88.6
169365,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,August,202408,190.0,550846.0,38824.0,99229.0,88.6
169366,60048,Capital Metropolitan Transportation Authority,Public Agency or Authority of Transit Service,DR,PT,False,4384.0,"Austin, TX",619.62,1809888.0,549.0,1387423.0,2024,September,202409,197.0,543092.0,38405.0,96751.0,88.6

In [153]:
philly_public_transportation_2024 = philly_public_transportation[philly_public_transportation['Year']==2024]
philly_public_transportation_2024['Service Coverage'] = ((philly_public_transportation_2024['Service Area Sq Miles'] / 
                                                       philly_public_transportation_2024['Primary UZA Sq Miles'])*100).round(2)
philly_public_transportation_2024

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips,Service Coverage
132782,20075,Port Authority Transit Corporation,Public Agency or Authority of Transit Service,HR,DO,True,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,16.0,159726.0,2024,January,202401,54.0,391108.0,13037.0,445330.0,0.84
132783,20075,Port Authority Transit Corporation,Public Agency or Authority of Transit Service,HR,DO,True,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,16.0,159726.0,2024,February,202402,54.0,355972.0,11866.0,443264.0,0.84
132784,20075,Port Authority Transit Corporation,Public Agency or Authority of Transit Service,HR,DO,True,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,16.0,159726.0,2024,March,202403,54.0,373408.0,12447.0,469812.0,0.84
132785,20075,Port Authority Transit Corporation,Public Agency or Authority of Transit Service,HR,DO,True,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,16.0,159726.0,2024,April,202404,54.0,375050.0,12502.0,481510.0,0.84
132786,20075,Port Authority Transit Corporation,Public Agency or Authority of Transit Service,HR,DO,True,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,16.0,159726.0,2024,May,202405,54.0,364402.0,12147.0,485183.0,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163714,30075,Delaware Transit Corporation,Public Agency or Authority of Transit Service,MB,PT,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,1948.0,1031890.0,2024,February,202402,42.0,126366.0,6177.0,35794.0,102.62
163715,30075,Delaware Transit Corporation,Public Agency or Authority of Transit Service,MB,PT,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,1948.0,1031890.0,2024,March,202403,43.0,124306.0,6062.0,36978.0,102.62
163716,30075,Delaware Transit Corporation,Public Agency or Authority of Transit Service,MB,PT,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,1948.0,1031890.0,2024,April,202404,45.0,129036.0,6310.0,42196.0,102.62
163717,30075,Delaware Transit Corporation,Public Agency or Authority of Transit Service,MB,PT,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,1948.0,1031890.0,2024,May,202405,42.0,135873.0,6644.0,67619.0,102.62
163718,30075,Delaware Transit Corporation,Public Agency or Authority of Transit Service,MB,PT,False,69076.0,"Philadelphia, PA--NJ--DE--MD",1898.19,5696125.0,1948.0,1031890.0,2024,June,202406,43.0,162132.0,8404.0,102256.0,102.62

In [154]:
raleigh_public_transportation_2024 = raleigh_public_transportation[(raleigh_public_transportation['Year']==2024) &
                                                                   (raleigh_public_transportation['Agency']=='City of Raleigh')]  
raleigh_public_transportation_2024['Service Coverage'] = ((raleigh_public_transportation_2024['Service Area Sq Miles'] / 
                                                       raleigh_public_transportation_2024['Primary UZA Sq Miles'])*100).round(2)
raleigh_public_transportation_2024

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips,Service Coverage
154790,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,July,202407,178.0,350493.0,25846.0,26068.0,NaN
154791,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,August,202408,178.0,370204.0,27143.0,27638.0,NaN
154792,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,September,202409,178.0,351224.0,25929.0,27106.0,NaN
154793,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,October,202410,178.0,388481.0,29025.0,31108.0,NaN
154794,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,November,202411,178.0,336314.0,26249.0,26943.0,NaN
154795,40007,City of Raleigh,NaN,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,December,202412,178.0,337311.0,25925.0,26157.0,NaN
154799,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,July,202407,86.0,375321.0,30422.0,362943.0,NaN
154800,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,August,202408,86.0,378566.0,30520.0,412908.0,NaN
154801,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,September,202409,86.0,383364.0,30698.0,462018.0,NaN
154802,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,October,202410,86.0,409826.0,32800.0,516417.0,NaN
154803,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,November,202411,86.0,373681.0,30019.0,468715.0,NaN
154804,40007,City of Raleigh,NaN,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,NaN,NaN,2024,December,202412,86.0,383618.0,30925.0,449511.0,NaN
162665,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,January,202401,84.0,306673.0,24799.0,361672.0,22.53
162666,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,February,202402,84.0,294002.0,24349.0,373390.0,22.53
162667,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,March,202403,84.0,307472.0,25567.0,380159.0,22.53
162668,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,April,202404,84.0,308884.0,25344.0,371054.0,22.53
162669,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,May,202405,86.0,366857.0,29770.0,356404.0,22.53
162670,40007,City of Raleigh,County or Local Government Unit or Department ...,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,June,202406,86.0,354189.0,28833.0,334075.0,22.53
164010,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,January,202401,178.0,303351.0,24362.0,23876.0,22.53
164011,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,February,202402,178.0,319201.0,24492.0,24932.0,22.53
164012,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,March,202403,178.0,386314.0,24689.0,24845.0,22.53
164013,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,April,202404,178.0,339893.0,25149.0,25707.0,22.53
164014,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,May,202405,178.0,373321.0,27514.0,27499.0,22.53
164015,40007,City of Raleigh,County or Local Government Unit or Department ...,DR,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,125.0,474069.0,2024,June,202406,178.0,341819.0,24879.0,25571.0,22.53

In [155]:
seattle_public_transportation_2024 = seattle_public_transportation[seattle_public_transportation['Year']==2024]  
seattle_public_transportation_2024['Service Coverage'] = ((seattle_public_transportation_2024['Service Area Sq Miles'] / 
                                                       seattle_public_transportation_2024['Primary UZA Sq Miles'])*100).round(2)
seattle_public_transportation_2024

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips,Service Coverage
132830,40,Central Puget Sound Regional Transit Authority,Public Agency or Authority of Transit Service,LR,DO,True,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1089.0,3385200.0,2024,January,202401,80.0,496421.0,31493.0,1718620.0,110.84
132831,40,Central Puget Sound Regional Transit Authority,Public Agency or Authority of Transit Service,LR,DO,True,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1089.0,3385200.0,2024,February,202402,76.0,521815.0,30078.0,1685770.0,110.84
132832,40,Central Puget Sound Regional Transit Authority,Public Agency or Authority of Transit Service,LR,DO,True,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1089.0,3385200.0,2024,March,202403,100.0,648868.0,35715.0,2319297.0,110.84
132833,40,Central Puget Sound Regional Transit Authority,Public Agency or Authority of Transit Service,LR,DO,True,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1089.0,3385200.0,2024,April,202404,108.0,681000.0,34191.0,2535406.0,110.84
132834,40,Central Puget Sound Regional Transit Authority,Public Agency or Authority of Transit Service,LR,DO,True,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1089.0,3385200.0,2024,May,202405,158.0,713812.0,39405.0,2676260.0,110.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163798,35,Washington State Ferries,Government Unit or Department of Transportation,FB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1945.0,3919300.0,2024,February,202402,15.0,59493.0,8589.0,1231877.0,197.96
163799,35,Washington State Ferries,Government Unit or Department of Transportation,FB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1945.0,3919300.0,2024,March,202403,15.0,64451.0,9254.0,1501019.0,197.96
163800,35,Washington State Ferries,Government Unit or Department of Transportation,FB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1945.0,3919300.0,2024,April,202404,15.0,64321.0,9160.0,1514423.0,197.96
163801,35,Washington State Ferries,Government Unit or Department of Transportation,FB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1945.0,3919300.0,2024,May,202405,15.0,66098.0,9413.0,1681377.0,197.96
163802,35,Washington State Ferries,Government Unit or Department of Transportation,FB,DO,False,80389.0,"Seattle--Tacoma, WA",982.52,3544011.0,1945.0,3919300.0,2024,June,202406,15.0,63270.0,9068.0,1833318.0,197.96