# <center> Capstone Project <center>

### <center> Data Dwellers: Finding a Home Through Analytics <center>

<div class="alert alert-block alert-info">
<b>Where should I live?:</b> 

Which U.S. city among my selected options - Raleigh, NC; Seattle, WA; Philadelphia, PA; and Austin, TX - offers the best balance of public transportation, diversity, and affordability for a remote worker seeking a vibrant, walkable, and connected lifestyle?

Things to consider:
- How much each city spends on public transit
- Availability of public transit systems
- Average Commute time
- Racial diversity per city
- Foreign-born population %
- Number of languages spoken
- Median monthly rent
- Median home price
- Average monthly utility and internet costs
- Grocery and transportation prices

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
pd.set_option('display.max_columns', None)

# <center> Reading in city specific data <center>

## Austin:

<center> City Budget Data <center>

In [10]:
austin_city_budget=pd.read_csv('../data/austin/Austin_Program_Budget_Operating_Budget_Vs_Expense_Raw_Data_20250519.csv')

In [11]:
#Transportation and Public Works
austin_transportation_budget = austin_city_budget[austin_city_budget['DEPARTMENT_NAME'] == 'Transportation and Public Works']

<center> Transportation/ Commuting <center>

In [13]:
austin_access_public_transport=pd.read_csv('../data/austin/austin_strategic_measures_percentage_of_population_access_to_public_transit_service_or_is_within_one_quarter_mile_of_regular_fixed_route_transit_20250519.csv')

In [14]:
austin_travel_time=pd.read_csv('../data/austin/austin_travel_time.csv')
austin_travel_time.columns = ['TRAVEL TIME TO WORK', 
                        'Austin Total Estimate',
                        'Austin Total Margin of Error', 
                       'Austin Male Estimate', 
                       'Austin Male Margin of Error',
                       'Austin Female Estimate',
                        'Austin Female Margin of Error']
austin_means_transport=pd.read_csv('../data/austin/austin_means_transport.csv')
austin_means_transport.columns = ['TRANSPORTATION TO WORK', 
                        'Austin Total Estimate',
                        'Austin Total Margin of Error', 
                       'Austin Male Estimate', 
                       'Austin Male Margin of Error',
                       'Austin Female Estimate',
                        'Austin Female Margin of Error']

<center> Housing / Social Characteristics <center>

In [16]:
austin_housing_chars=pd.read_csv('../data/austin/census_selected_housing_char_austin.csv')

In [17]:
austin_housing_chars.columns = ['Housing Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']

In [18]:
austin_social_chars=pd.read_csv('../data/austin/census_austin_social_chars.csv')

In [19]:
austin_social_chars.columns = ['Social Label',
                               'Austin Estimate', 
                               'Austin Margin of Error',
                               'Austin Percent',
                               'Austin Percent Margin of Error']

## Philadelphia

<center> City Budget Data <center>

In [22]:
philly_pt_budget=pd.read_csv('../data/philadelphia/operating_budget_fy_2019.csv')

In [23]:
philly_septa_budget=pd.read_csv('../data/philadelphia/septa_philly_budget.csv')

<center> Transportation/ Commuting <center>

In [25]:
philly_transportation_budget = philly_septa_budget[philly_septa_budget['Fiscal_Year']==2024]

In [26]:
philly_means_transport=pd.read_csv('../data/philadelphia/philidephia_means_transport.csv')
philly_means_transport.columns = ['TRANSPORTATION TO WORK', 
                        'Philadelphia Total Estimate',
                        'Philadelphia Total Margin of Error', 
                        'Philadelphia Male Estimate', 
                        'Philadelphia Male Margin of Error',
                        'Philadelphia Female Estimate',
                         'Philadelphia Female Margin of Error']

philly_travel_time=pd.read_csv('../data/philadelphia/philidephia_travel_time.csv')
philly_travel_time.columns = ['TRAVEL TIME TO WORK', 
                        'Philadelphia Total Estimate',
                        'Philadelphia Total Margin of Error', 
                       'Philadelphia Male Estimate', 
                       'Philadelphia Male Margin of Error',
                       'Philadelphia Female Estimate',
                        'Philadelphia Female Margin of Error']

<center> Housing / Social Characteristics <center>

In [28]:
philly_social_chars=pd.read_csv('../data/philadelphia/philadelphia_social_chars.csv')

In [29]:
philly_social_chars.columns = philly_social_chars.iloc[0]
philly_social_chars = philly_social_chars.iloc[1:].reset_index(drop=True)

In [30]:
philly_social_chars.columns = ['Social Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']

In [31]:
philly_housing_chars=pd.read_csv('../data/philadelphia/census_selected_housing_char_philly.csv')

In [32]:
philly_housing_chars.columns = philly_housing_chars.iloc[0]
philly_housing_chars = philly_housing_chars.iloc[1:].reset_index(drop=True)

In [33]:
philly_housing_chars.columns = ['Housing Label', 
                        'Philadelphia Estimate',
                        'Philadelphia Margin of Error', 
                        'Philadelphia Percent', 
                        'Philadelphia Percent Margin of Error']

## Raleigh

<center> City Budget Data <center>

In [36]:
raleigh_budget=pd.read_csv('../data/raleigh/raleigh_adopted_expense_budget.csv')

In [37]:
raleigh_cap_projects=pd.read_csv('../data/raleigh/raliegh_adopted_capital_projects.csv')

<center> Transportation/ Commuting <center>

In [39]:
raleigh_transportation_budget = raleigh_budget[raleigh_budget['Division'] =='Transportation']

In [40]:
raleigh_travel_time=pd.read_csv('../data/raleigh/raleigh_travel_time.csv')
raleigh_travel_time.columns = ['TRAVEL TIME TO WORK', 
                        'Raleigh Total Estimate',
                        'Raleigh Total Margin of Error', 
                       'Raleigh Male Estimate', 
                       'Raleigh Male Margin of Error',
                       'Raleigh Female Estimate',
                        'Raleigh Female Margin of Error']

raleigh_means_transport=pd.read_csv('../data/raleigh/raleigh_means_transport.csv')
raleigh_means_transport.columns = ['TRANSPORTATION TO WORK', 
                        'Raleigh Total Estimate',
                        'Raleigh Total Margin of Error', 
                       'Raleigh Male Estimate', 
                       'Raleigh Male Margin of Error',
                       'Raleigh Female Estimate',
                        'Raleigh Female Margin of Error']

<center> Housing / Social Characteristics <center>

In [42]:
raleigh_social_chars=pd.read_csv('../data/raleigh/census_raleigh_social_chars.csv')

In [43]:
raleigh_social_chars.columns =raleigh_social_chars.iloc[0]
raleigh_social_chars = raleigh_social_chars.iloc[1:].reset_index(drop=True)

In [44]:
raleigh_social_chars.columns = ['Social Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']

In [45]:
raleigh_housing_chars=pd.read_csv('../data/raleigh/census_selected_housing_char_raliegh.csv')

In [46]:
raleigh_housing_chars.columns =raleigh_housing_chars.iloc[0]
raleigh_housing_chars = raleigh_housing_chars.iloc[1:].reset_index(drop=True)

In [47]:
raleigh_housing_chars.columns = ['Housing Label', 
                        'Raleigh Estimate',
                        'Raleigh Margin of Error', 
                        'Raleigh Percent', 
                        'Raleigh Percent Margin of Error']

## Seattle

<center> City Budget Data <center>

In [50]:
seattle_cap_projects=pd.read_csv('../data/seattle/seatle_open_budget_capital_projects_details_20250518.csv')

In [51]:
seattle_budget=pd.read_csv('../data/seattle/City_of_Seattle_Operating_Budget_20250518.csv')

<center> Transportation/ Commuting <center>

In [53]:
seattle_transportation_budget= seattle_budget[(seattle_budget['Department']=='Seattle Department of Transportation') &
                                             (seattle_budget['Fiscal Year']==2025)].reset_index()
seattle_transportation_budget = seattle_transportation_budget.drop('index', axis=1)

In [54]:
seattle_travel_time=pd.read_csv('../data/seattle/seattle_travel_time.csv')
seattle_travel_time.columns = ['TRAVEL TIME TO WORK', 
                        'Seattle Total Estimate',
                        'Seattle Total Margin of Error', 
                       'Seattle Male Estimate', 
                       'Seattle Male Margin of Error',
                       'Seattle Female Estimate',
                        'Seattle Female Margin of Error']
seattle_means_transport=pd.read_csv('../data/seattle/seattle_means_transport.csv')
seattle_means_transport.columns = ['TRANSPORTATION TO WORK', 
                        'Seattle Total Estimate',
                        'Seattle Total Margin of Error', 
                       'Seattle Male Estimate', 
                       'Seattle Male Margin of Error',
                       'Seattle Female Estimate',
                        'Seattle Female Margin of Error']

<center> Housing / Social Characteristics <center>

In [56]:
seattle_housing_char=pd.read_csv('../data/seattle/census_selected_housing_char_seattle.csv')

In [57]:
seattle_housing_char.columns =seattle_housing_char.iloc[0]
seattle_housing_char = seattle_housing_char.iloc[1:].reset_index(drop=True)

In [58]:
seattle_housing_char.columns = ['Housing Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']

In [59]:
seattle_social_char=pd.read_csv('../data/seattle/sensus_seattle_social_chars.csv')

In [60]:
seattle_social_char.columns =seattle_housing_char.iloc[0]
seattle_social_char = seattle_social_char.iloc[1:].reset_index(drop=True)

In [61]:
seattle_social_char.columns = ['Social Label', 
                        'Seattle Estimate',
                        'Seattle Margin of Error', 
                        'Seattle Percent', 
                        'Seattle Percent Margin of Error']

# U.S. Data:

#### Will extract the city specific data from these datasets

<center> Housing Cost <center>

In [65]:
single_fam_home_rent = pd.read_csv('../data/single_family_homes_rent_cost_all_counties.csv')

In [66]:
rent_cost_cities = single_fam_home_rent[(single_fam_home_rent['RegionName']== 'Austin, TX') |
                                        (single_fam_home_rent['RegionName']== 'Seattle, WA') |
                                        (single_fam_home_rent['RegionName']== 'Raleigh, NC') |
                                        (single_fam_home_rent['RegionName']== 'Philadelphia, PA')]

In [67]:
single_fam_home_cost = pd.read_csv('../data/single_family_home_cost_all_counties.csv')

In [68]:
home_cost_cities = single_fam_home_cost[(single_fam_home_cost['RegionName']== 'Travis County') |
                                        (single_fam_home_cost['RegionName']== 'Wake County') |
                                        (single_fam_home_cost['RegionName']== 'King County') |
                                        (single_fam_home_cost['RegionName']== 'Philadelphia County')]

#### City Counties:
- Seattle: King County
- Philadelphia: Philadelphia
- Austin: Travis County
- Raleigh: Wake County

In [70]:
metro_rent=pd.read_csv('../data/metro_mean_rent_all.csv')

In [71]:
metro_rent_cost_cities = metro_rent[(metro_rent['RegionName']== 'Austin, TX') |
                                        (metro_rent['RegionName']== 'Seattle, WA') |
                                        (metro_rent['RegionName']== 'Raleigh, NC') |
                                        (metro_rent['RegionName']== 'Philadelphia, PA')]

In [72]:
metro_house_price=pd.read_csv('../data/metro_mean_sale_price_all.csv')

In [73]:
metro_house_price_cities = metro_house_price[(metro_house_price['RegionName']== 'Austin, TX') |
                                        (metro_house_price['RegionName']== 'Seattle, WA') |
                                        (metro_house_price['RegionName']== 'Raleigh, NC') |
                                        (metro_house_price['RegionName']== 'Philadelphia, PA')]

<center> Transportation/ Commuting <center>

In [75]:
public_transportation=pd.read_csv('../data/Monthly_Modal_Time_Series_Transportation_All.csv', low_memory=False)

In [76]:
seattle_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Seattle", na=False)]

In [77]:
austin_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Austin", na=False)]

In [78]:
raleigh_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Raleigh", na=False)]

In [79]:
philly_public_transportation = public_transportation[public_transportation['Primary UZA Name'].str.contains(r"Philadelphia", na=False)]

<center>Utility <center>

In [81]:
#Non-IOU = Non-Investor-Owned Utility
noniou_utility_rates = pd.read_csv('../data/non_iou_utlity_rates_zip_openei_all.csv')

In [82]:
noniou_utility_rates_cities = noniou_utility_rates[(noniou_utility_rates['state']== 'TX') |
                                        (noniou_utility_rates['state']== 'NC') |
                                        (noniou_utility_rates['state']== 'WA') |
                                        (noniou_utility_rates['state']== 'PA')]

In [83]:
iou_utility_rates = pd.read_csv('../data/utility_rates_zip_openei_all.csv')

In [84]:
iou_utility_rates_cities =iou_utility_rates[(iou_utility_rates['state']== 'TX') |
                                        (iou_utility_rates['state']== 'NC') |
                                        (iou_utility_rates['state']== 'WA') |
                                        (iou_utility_rates['state']== 'PA')]

In [85]:
avg_monthly_utility_usage= pd.read_csv('../data/eia_avg_monthly_utility_all.csv')

In [226]:
water_bill_avg= pd.read_csv('../data/water-prices-by-state-2025.csv')

<center> Regional Spending/ Consumer Spending <center>

In [87]:
#Regional price parities
#Regional price parities measure the differences in price levels across states for a given year 
#and are expressed as a percentage of the overall national price level.
rpp_us = pd.read_csv('../data/regional_price_parities_bea_gov_all_100.csv')

In [88]:
pc_personal_consumption_us = pd.read_csv('../data/personal_consumption_expenditures_all_bea_2023_pc.csv')

# Zip Codes

In [90]:
#zip codes
philly_zip_codes =pd.read_csv('../data/philadelphia/philly_zip.csv')

In [91]:
seattle_zip_codes =pd.read_csv('../data/seattle/seattle_zip_codes.csv')

In [92]:
raliegh_zip_codes=pd.read_csv('../data/raleigh/Zip_Codes_Raleigh.csv')

In [93]:
raliegh_zip_codes = raliegh_zip_codes[raliegh_zip_codes['NAME']=='RALEIGH']
raliegh_zip_codes = raliegh_zip_codes.drop(['OBJECTID', 'ZIPNAME','ZIPNUM','NAME'], axis=1)

In [94]:
austin_zip_codes = pd.read_csv('../data/austin/Boundaries__US_Zip_Codes_Austin.csv')

In [95]:
austin_zip_codes =austin_zip_codes[austin_zip_codes['STATE']== 'TX']
austin_zip_codes =austin_zip_codes[austin_zip_codes['CITY']== 'Austin']
austin_zip_codes = austin_zip_codes.drop(['Shape__Area', 'LATITUDE','SQMI','the_geom', 'OBJECTID', 'LONGITUDE', 'Shape__Length' ], axis=1)

In [96]:
austin_zip_codes = austin_zip_codes.reset_index()

# <center> Public Transportation <center>


Public transportation budget df:

- austin_transportation_budget
- raleigh_transportation_budget
- philly_transportation_budget
- seattle_transportation_budget

## <center>How much does each city spends on public transit?<center>

In [100]:
austin_transportation_budget.head()

,BUDGET_FISCAL_YEAR,THRU_QUARTER,DEPT_ROLLUP,DEPT_ROLLUP_NAME,DEPARTMENT_CODE,DEPARTMENT_NAME,FUND_CODE,FUND_NAME,PROGRAM_CODE,PROGRAM_NAME,ACTIVITY_CODE,ACTIVITY_NAME,UNIT_CODE,UNIT_NAME,EXPENSE_CODE,EXPENSE_NAME,BUDGET,EXPENDITURES,KEY
154,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,3SRP,Street Repair,3RTM,Routine Maintenance,6060,North District Routine Maint,7134,Chemicals,3500.0,0.00,2025260620051203SRP3RTM60607134
284,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,9MGT,Support Services,9ADM,Departmental Support Services,8786,Safety,6632,Memberships,450.0,668.00,2025260620051209MGT9ADM87866632
306,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3200,TPW Development Services,5280,Consultant-others,850000.0,384819.71,2025260620051201SSP6SPT32005280
307,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1SSP,One Stop Shop,6SPT,"Inspection, Review, and Support",3250,Land Development Engineering,5620,Services-legal fees,0.0,815.00,2025260620051201SSP6SPT32505620
311,2025,2,60,Public Works,6200,Transportation and Public Works,5120,Transportation Fund,1IMG,Asset and Facility Management,2ESS,Asset and Facility Management,8788,Logistics and Facility Management,6382,Maintenance-grounds,17000.0,11114.35,2025260620051201IMG2ESS87886382

In [101]:
#austin_transportation_budget_year = austin_transportation_budget['UNIT_NAME'].value_counts()
#austin_transportation_budget_year

In [102]:
total_spent_transportation_austin = austin_transportation_budget['BUDGET'].sum()
total_spent_transportation_austin

225843430.0

In [103]:
raleigh_transportation_budget.head()

,OBJECTID,BFY,FY,APD,Fund_Code,Fund_Name,Dept_Code,Department,Div_Code,Division,Unit_Code,Cost_Center,Obj_Type_Code,Obj_Type_Name,Obj_Cat_Code,Expenditure_Category,Obj_Class_Code,Obj_Class_Name,Obj_Code,Expenditure_Line_Item,Record_Date,Check_Number,Document_ID,Budgeted_Amount,Actual_Amount
6329,6330,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1101,REGULAR SALARIES & WAGES,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",213740.0,NaN
6330,6331,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1100,Salary,1110,Regular Salaries,1106,MERIT ALLOCATIONS,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",7375.0,NaN
6331,6332,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1210,FICA,1201,FICA,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",16916.0,NaN
6332,6333,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1220,Health,1223,Health Insurance,2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",40893.0,NaN
6333,6334,2025,2025,1,2900,Transportation,46,Health and Human Services,4680,Transportation,810T,Community Transportation Program (CTP) - Admin,1000,Salary / Benefits,1200,Fringe Benefits,1230,Retirement,1205,401(K),2024/07/01 00:00:00+00,NaN,"WCBE,46,2025062000000256",11055.0,NaN

In [104]:
total_spent_transportation_raleigh = raleigh_transportation_budget['Budgeted_Amount'].sum()
total_spent_transportation_raleigh

10495655.0

In [105]:
#raleigh_transportation_budget_year = raleigh_transportation_budget['Obj_Class_Name'].value_counts()
#raleigh_transportation_budget_year

In [106]:
philly_transportation_budget.head()

,Type,Fiscal_Year,Allocation_Method,Division,Department,Labor_and_Fringe__in__000s_,Material_and_Services__in__000s,Notes,ObjectId
93,Budgeted,2024,Departmental,Operations,Rail Operations,236494,27614,NaN,94
94,Budgeted,2024,Departmental,Operations,Bus Operations & Access,268919,37961,NaN,95
95,Budgeted,2024,Departmental,Operations,"Administration, Finance And Support",7693,20566,NaN,96
96,Budgeted,2024,Departmental,Operations,Bridges And Buildings,52431,49511,NaN,97
97,Budgeted,2024,Departmental,Operations,Maintenance Of Way,57609,8806,NaN,98

In [107]:
total_spent_transportation_philly = philly_transportation_budget[['Labor_and_Fringe__in__000s_', 'Material_and_Services__in__000s']].sum().sum() *1000

total_spent_transportation_philly

1685647000

In [108]:
#philly_transportation_budget_t = philly_transportation_budget['Division'].value_counts()
#philly_transportation_budget_t

In [109]:
seattle_transportation_budget.head()

,Fiscal Year,Service,Department,Program,Fund,Fund Type,Expense Type,Description,Approved Amount
0,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,4989.0
1,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,774.0
2,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,389.0
3,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Indirect,654898.0
4,2025,"Utilities, Transportation & Environment",Seattle Department of Transportation,Bridge Operations,00100 - General Fund,General Fund,Expenditures,Non-Labor,93161.0

In [110]:
total_spent_transportation_seattle = seattle_transportation_budget['Approved Amount'].sum().round(2)
total_spent_transportation_seattle

319309895.77

In [111]:
#seattle_transportation_budget_t = seattle_transportation_budget['Program'].value_counts()
#seattle_transportation_budget_t

In [112]:
#https://www.geeksforgeeks.org/how-to-convert-dictionary-to-pandas-dataframe/
#https://www.geeksforgeeks.org/how-to-create-dataframe-from-dictionary-in-python-pandas/
transport_totals = pd.DataFrame({'City': ['Seattle', 'Philly', 'Raleigh', 'Austin'], 
                                 'Total Spent': [total_spent_transportation_seattle,
                                     total_spent_transportation_philly,
                                     total_spent_transportation_raleigh,
                                     total_spent_transportation_austin]})

transport_totals['Total Spent'] = transport_totals['Total Spent'].astype(int)

# <center>Access to Public transportation:<center>

Availability of public transit systems

Public transportation DF:
- public_transportation
- austin_public_transportation 
- philly_public_transportation
- raleigh_public_transportation
- seattle_public_transportation

Questions:

How much of the **urbanized area (UZA)** is covered by the transit system?

How much of the UZA population is within the service area?

Transit Availability per Capita?

In [117]:
#Population Coverage - how much of the city population is within reach of transit.

public_transportation['Population Coverage'] = ((public_transportation['Service Area Population'] / 
                                                       public_transportation['Primary UZA Population'])*100).round(2)

#Geographic Coverage - how much of the citys core is covered by transit service.
public_transportation['Geographic Coverage'] = ((public_transportation['Service Area Sq Miles'] / 
                                                       public_transportation['Primary UZA Sq Miles'])*100).round(2)

#Population Density of UZA - how concentrated the population is
public_transportation['UZA Population Density'] = (public_transportation['Primary UZA Population'] / 
                                                       public_transportation['Primary UZA Sq Miles']).round(2)

#Population Density of Service Area - how concentrated the population is
public_transportation['Service Area Population Density'] = (public_transportation['Service Area Population'] / 
                                                       public_transportation['Service Area Sq Miles']).round(2)



#My cities: 'Seattle--Tacoma, WA', 'Raleigh, NC', 'Philadelphia, PA--NJ--DE--MD', and 'Austin, TX'.
public_transportation_cities =public_transportation[(public_transportation['Primary UZA Name']== 'Seattle--Tacoma, WA') |
                                        (public_transportation['Primary UZA Name']== 'Raleigh, NC') |
                                        (public_transportation['Primary UZA Name']== 'Philadelphia, PA--NJ--DE--MD') |
                                        (public_transportation['Primary UZA Name']== 'Austin, TX')]

#2024
public_transportation_cities_2024 = public_transportation_cities[public_transportation_cities['Year']== 2024]

public_transportation_cities_2024.head()

,NTD ID,Agency,Organization Type,Mode,Type of Service,Rail (True/False),Primary UZA UACE Code,Primary UZA Name,Primary UZA Sq Miles,Primary UZA Population,Service Area Sq Miles,Service Area Population,Year,Month,Month_Year (timestamp),VOMS,Vehicle Revenue Miles,Vehicle Revenue Hours,Unlinked Passenger Trips,Population Coverage,Geographic Coverage,UZA Population Density,Service Area Population Density
131968,40147,North Carolina State University,University,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,9.0,46000.0,2024,January,202401,25.0,55248.0,6225.0,266763.0,4.16,1.62,1994.6,5111.11
131969,40147,North Carolina State University,University,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,9.0,46000.0,2024,February,202402,25.0,64686.0,7294.0,310376.0,4.16,1.62,1994.6,5111.11
131970,40147,North Carolina State University,University,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,9.0,46000.0,2024,March,202403,25.0,54027.0,6089.0,233166.0,4.16,1.62,1994.6,5111.11
131971,40147,North Carolina State University,University,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,9.0,46000.0,2024,April,202404,25.0,66700.0,7532.0,306162.0,4.16,1.62,1994.6,5111.11
131972,40147,North Carolina State University,University,MB,PT,False,73261.0,"Raleigh, NC",554.82,1106646.0,9.0,46000.0,2024,May,202405,25.0,27761.0,3776.0,65704.0,4.16,1.62,1994.6,5111.11

# <center> Commute </center>

In [119]:
seattle_austin_mt_merge = pd.merge(seattle_means_transport, austin_means_transport, on='TRANSPORTATION TO WORK', how='inner')
raleigh_seattle_austin_mt_merge = pd.merge(seattle_austin_mt_merge, raleigh_means_transport, on='TRANSPORTATION TO WORK', how='inner')
mycity_means_transport = pd.merge(raleigh_seattle_austin_mt_merge, philly_means_transport, on='TRANSPORTATION TO WORK', how='inner')
mycity_means_transport

,TRANSPORTATION TO WORK,Seattle Total Estimate,Seattle Total Margin of Error,Seattle Male Estimate,Seattle Male Margin of Error,Seattle Female Estimate,Seattle Female Margin of Error,Austin Total Estimate,Austin Total Margin of Error,Austin Male Estimate,Austin Male Margin of Error,Austin Female Estimate,Austin Female Margin of Error,Raleigh Total Estimate,Raleigh Total Margin of Error,Raleigh Male Estimate,Raleigh Male Margin of Error,Raleigh Female Estimate,Raleigh Female Margin of Error,Philadelphia Total Estimate,Philadelphia Total Margin of Error,Philadelphia Male Estimate,Philadelphia Male Margin of Error,Philadelphia Female Estimate,Philadelphia Female Margin of Error
0,"Car, truck, or van",60.9%,0.9,61.1%,1.0,60.6%,1.3,88.4%,2.4,87.1%,3.6,90.0%,3.2,68.7%,1.3,69.1%,1.8,68.3%,1.7,54.00%,1.6,57.40%,2.1,50.80%,2.2
1,Drove alone,53.2%,0.9,53.8%,1.0,52.5%,1.2,80.8%,2.5,80.5%,3.8,81.3%,4.0,62.9%,1.4,63.0%,1.7,62.7%,1.8,45.60%,1.6,48.90%,2.2,42.60%,2.2
2,Carpooled,7.7%,0.7,7.4%,0.8,8.1%,0.7,7.6%,1.9,6.6%,2.0,8.7%,3.2,5.8%,0.7,6.1%,1.0,5.5%,1.0,8.40%,1.0,8.50%,1.4,8.30%,1.1
3,In 2-person carpool,6.1%,0.6,5.7%,0.7,6.5%,0.6,6.3%,1.9,5.0%,1.8,7.9%,3.2,4.7%,0.7,4.7%,1.0,4.7%,1.0,6.40%,0.8,6.40%,1.1,6.50%,0.9
4,In 3-person carpool,1.0%,0.2,0.9%,0.2,1.1%,0.2,0.5%,0.4,0.5%,0.7,0.4%,0.4,0.6%,0.2,0.6%,0.3,0.6%,0.2,1.50%,0.4,1.60%,0.4,1.40%,0.5
5,In 4-or-more person carpool,0.6%,0.2,0.7%,0.3,0.5%,0.2,0.8%,0.7,1.1%,1.1,0.5%,0.4,0.5%,0.2,0.8%,0.3,0.2%,0.1,0.50%,0.2,0.60%,0.4,0.40%,0.2
6,"Workers per car, truck, or van",1.07,0.01,1.07,0.01,1.08,0.01,1.05,0.01,1.04,0.01,1.05,0.02,1.05,0.01,1.05,0.01,1.04,0.01,1.09,0.01,1.09,0.02,1.1,0.01
7,Public transportation (excluding taxicab),8.0%,0.5,8.1%,0.6,7.9%,0.7,0.0%,0.4,0.0%,0.6,0.0%,0.8,0.7%,0.2,0.7%,0.3,0.7%,0.4,16.70%,1.2,15.50%,1.6,17.90%,1.7
8,Walked,4.5%,0.4,4.8%,0.5,4.2%,0.5,1.0%,0.6,1.1%,0.8,0.8%,0.8,1.3%,0.3,1.1%,0.3,1.6%,0.5,9.40%,0.7,8.90%,1.0,9.80%,0.9
9,Bicycle,1.2%,0.2,1.6%,0.3,0.8%,0.2,0.0%,0.4,0.0%,0.6,0.0%,0.8,0.3%,0.1,0.4%,0.2,0.2%,0.1,1.80%,0.3,2.30%,0.5,1.40%,0.4
10,"Taxicab, motorcycle, or other means",1.3%,0.2,1.4%,0.3,1.3%,0.3,1.5%,0.9,2.3%,1.6,0.4%,0.5,1.6%,0.4,1.6%,0.4,1.6%,0.4,1.90%,0.4,1.60%,0.4,2.10%,0.5
11,Worked from home,24.0%,0.8,23.0%,1.0,25.2%,1.0,9.2%,2.1,9.5%,3.0,8.7%,3.0,27.3%,1.3,27.1%,1.6,27.6%,1.6,16.20%,0.9,14.30%,1.2,18.00%,1.3

In [120]:
seattle_austin_tt_merge = pd.merge(seattle_travel_time, austin_travel_time, on='TRAVEL TIME TO WORK', how='inner')
raleigh_seattle_austin_tt_merge = pd.merge(seattle_austin_tt_merge, raleigh_travel_time, on='TRAVEL TIME TO WORK', how='inner')
mycity_travel_time = pd.merge(raleigh_seattle_austin_tt_merge, philly_travel_time, on='TRAVEL TIME TO WORK', how='inner')
mycity_travel_time

,TRAVEL TIME TO WORK,Seattle Total Estimate,Seattle Total Margin of Error,Seattle Male Estimate,Seattle Male Margin of Error,Seattle Female Estimate,Seattle Female Margin of Error,Austin Total Estimate,Austin Total Margin of Error,Austin Male Estimate,Austin Male Margin of Error,Austin Female Estimate,Austin Female Margin of Error,Raleigh Total Estimate,Raleigh Total Margin of Error,Raleigh Male Estimate,Raleigh Male Margin of Error,Raleigh Female Estimate,Raleigh Female Margin of Error,Philadelphia Total Estimate,Philadelphia Total Margin of Error,Philadelphia Male Estimate,Philadelphia Male Margin of Error,Philadelphia Female Estimate,Philadelphia Female Margin of Error
0,Less than 10 minutes,8.3%,0.5,7.7%,0.7,9.1%,0.8,19.6%,3.8,17.4%,4.3,22.3%,5.5,9.2%,1.0,8.8%,1.5,9.6%,1.3,7.70%,0.9,7.70%,1.1,7.80%,1.4
1,10 to 14 minutes,11.2%,0.7,11.3%,0.9,11.1%,1.0,12.9%,3.5,11.1%,3.5,15.1%,5.0,11.9%,1.0,9.6%,1.1,14.4%,1.6,7.30%,0.8,7.20%,0.9,7.50%,1.2
2,15 to 19 minutes,14.7%,0.6,14.0%,0.8,15.5%,1.0,9.4%,2.1,7.4%,2.8,12.0%,3.7,16.8%,1.2,16.5%,1.5,17.0%,1.7,11.30%,1.0,11.40%,1.4,11.20%,1.1
3,20 to 24 minutes,15.4%,0.8,14.8%,1.0,16.1%,1.1,10.8%,2.4,10.9%,3.1,10.7%,3.8,15.3%,1.2,16.1%,1.6,14.5%,1.6,13.80%,1.0,13.70%,1.5,13.80%,1.4
4,25 to 29 minutes,8.0%,0.5,7.8%,0.6,8.1%,0.8,6.6%,2.1,5.7%,2.9,7.7%,2.9,10.4%,1.2,10.1%,1.6,10.6%,1.4,7.70%,0.8,8.50%,1.3,6.90%,1.0
5,30 to 34 minutes,15.6%,0.6,16.1%,1.1,15.1%,0.9,9.6%,3.2,7.6%,3.3,12.0%,4.3,15.6%,1.2,14.8%,1.6,16.5%,1.6,19.70%,1.4,19.10%,1.8,20.20%,2.0
6,35 to 44 minutes,9.5%,0.6,10.2%,0.8,8.6%,0.7,6.5%,2.1,6.6%,3.3,6.3%,2.7,8.2%,0.7,10.2%,1.3,6.0%,0.8,10.00%,0.9,9.80%,1.3,10.10%,1.2
7,45 to 59 minutes,9.3%,0.5,9.7%,0.8,8.8%,0.7,8.1%,1.9,11.2%,2.9,4.0%,1.7,7.6%,0.8,8.8%,1.2,6.3%,0.9,11.00%,0.9,10.70%,1.2,11.20%,1.2
8,60 or more minutes,8.0%,0.5,8.3%,0.7,7.6%,0.8,16.8%,2.8,22.2%,3.7,9.9%,4.2,5.1%,0.9,5.1%,1.3,5.0%,1.1,11.70%,1.0,11.90%,1.3,11.40%,1.4
9,Mean travel time to work (minutes),27.6,0.4,28.2,0.6,26.9,0.6,28.7,1.8,32.6,2.4,23.9,2.8,25.2,0.6,26.1,0.8,24.2,0.8,31.1,0.7,30.9,0.8,31.3,1.0

# <center> Housing <center>

**<center>Median Monthly Rent & Median Home Price<center>**

In [123]:
#metro_rent.head()
metro_rent_cost_cities = metro_rent[(metro_rent['RegionName']== 'Austin, TX') |
                                        (metro_rent['RegionName']== 'Seattle, WA') |
                                        (metro_rent['RegionName']== 'Raleigh, NC') |
                                        (metro_rent['RegionName']== 'Philadelphia, PA')]
metro_rent_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025
7,394974,7,"Philadelphia, PA",msa,PA,1322.596104,1331.334849,1343.488803,1351.244081,1355.779985,1358.373231,1361.620823,1362.365544,1363.838839,1364.321152,1359.306256,1358.037073,1358.975357,1367.889168,1376.976411,1385.969691,1392.929252,1399.825999,1401.658392,1402.392357,1398.655956,1396.586292,1399.594746,1402.319762,1409.210088,1415.642352,1427.736566,1435.839860,1441.686158,1441.277961,1443.004009,1445.263118,1448.380275,1450.618821,1451.418628,1453.651876,1454.138327,1460.556147,1472.936159,1485.588725,1496.003008,1498.861956,1498.467105,1495.738323,1497.766294,1502.853931,1507.831195,1507.436172,1511.205250,1518.558363,1529.548493,1539.483512,1547.647879,1554.850146,1557.719899,1557.190026,1557.594668,1561.355617,1564.387100,1568.739358,1571.826759,1580.865063,1589.688275,1594.778374,1599.523735,1604.664285,1617.918259,1626.795256,1637.919808,1641.903873,1648.669984,1654.525208,1666.065332,1681.003612,1690.292782,1705.975025,1720.083528,1736.916480,1750.082210,1764.432420,1766.515951,1779.648547,1793.258586,1818.796557,1831.820312,1841.194679,1854.106252,1865.333347,1878.275728,1894.190870,1909.561460,1923.701328,1929.796986,1933.188892,1938.171999,1938.206733,1944.671948,1953.638795,1968.090981,1979.101440,1986.376957,1995.188528,2003.924830,2011.975107,2026.112540,2044.316413,2058.211538,2057.916913,2061.085607,2067.380161,2080.777017,2087.259508,2097.151397,2102.570471,2110.463904,2117.936692,2132.138363,2147.375080,2164.233032,2177.524646,2179.253123,2183.365181,2178.595577
15,395078,15,"Seattle, WA",msa,WA,1807.784639,1818.723307,1837.685370,1850.849338,1876.537254,1898.206266,1923.881231,1929.161642,1928.298927,1924.665747,1920.804330,1929.605668,1941.108457,1964.834128,1977.065624,1999.562541,2025.707963,2056.231510,2078.770890,2082.988222,2078.104318,2064.384011,2055.077680,2044.892077,2063.371203,2085.773397,2124.510882,2148.752767,2177.851530,2204.688702,2220.835984,2227.316586,2225.153097,2217.348632,2203.638362,2193.223973,2197.566553,2211.757062,2238.594892,2262.838981,2292.389554,2305.989833,2312.557739,2304.270928,2298.212031,2287.618898,2283.305290,2281.607451,2294.897408,2312.492200,2338.950080,2359.291595,2379.127813,2392.055416,2400.954099,2407.813409,2397.378417,2392.850565,2386.373099,2389.847693,2405.841293,2423.206853,2450.462141,2458.710578,2468.013083,2474.877640,2491.134943,2505.162179,2518.633525,2523.284631,2524.471156,2525.783062,2532.888466,2553.520248,2578.271291,2607.785580,2637.138760,2666.561133,2696.816413,2726.495183,2748.154832,2756.186427,2754.287414,2759.378404,2773.213081,2805.044902,2836.956917,2875.982681,2905.895145,2937.206626,2956.279171,2963.288502,2958.148192,2949.922212,2931.757223,2932.757378,2936.591320,2962.705325,2975.999334,3001.882047,3028.159912,3059.857340,3080.669169,3087.583586,3081.433560,3064.868054,3052.000341,3046.448499,3060.815276,3079.548681,3110.436342,3135.512697,3170.303593,3194.016528,3217.892992,3218.459227,3218.833298,3200.115376,3200.249264,3199.194606,3208.059466,3219.135831,3235.562720
29,394355,29,"Austin, TX",msa,TX,1509.625796,1522.916890,1531.980342,1538.662099,1552.756715,1561.019967,1573.491697,1578.735125,1576.816028,1566.909972,1557.686846,1563.472750,1572.982576,1584.462702,1592.268174,1603.652271,1613.233203,1619.214362,1625.164335,1622.858043,1616.718303,1603.869422,1598.798334,1595.986766,1605.777635,1621.083783,1641.631822,1654.322640,1659.958345,1665.811381,1665.051479,1656.917719,1649.194850,1637.442723,1638.719727,1640.143540,1645.712614,1655.975411,1666.671006,1686.262332,1697.535653,1705.703552,1708.452824,1705.149949,1701.642375,1696.575534,1697.561209,1698.284932,1705.279360,1719.953796,1734.102744,1747.271179,1755.542009,1766.259272,1776.069224,1774.769262,1774.727891,1766.470882,1770.061368,1772.381310,1784.433519,1795.808099,1803.932781,1804.469594,1804.456600,1812.728773,1824.565815,1836.960409,1845.325370,1851.702642,1857.416327,1868.282538,1889.779848,1913.957422,1942.584359,1972.443991,2012.042945,2053.023480,2095.726633,2123.603898,2131.938201,2133.494263,2143.944661,2164.400964,2184.350989,2208.459283,2226.795600,2254.735325,2274.543082,2304.523828,2324.439524,2327.119604,2323.213607,2306.337788,2296.091586,2285.290790,2288.932181,2297.624133,2312.002205,2322.845372,2334.260464,2340.613928,2339.497714,2329.102464,2310.456577,2293.875724,2278.142547,2264.425174,2268.375665,2284.319463,2309.649514,2322.255996,2326.655444,2324.754425,2324.949186,2310.727934,2297.497711,2273.657618,2268.394465,2270.225440,2277.706803,2286.954826,2291.262824
42,395012,43,"Raleigh, NC",msa,NC,1238.713551,1238.822082,1246.232628,1251.842890,1266.365335,1271.830488,1275.147525,1275.259636,1275.732065,1275.358761,1275.991071,1281.119337,1283.840041,1287.284212,1292.079712,1302.620730,1313.580027,1320.614686,1322.503372,1321.394374,1315.988171,1315.273603,1313.885551,1315.732660,1318.589432,1328.682571,1340.076307,1352.904806,1360.915738,1368.220217,1372.809651,1375.122840,1377.732317,1373.488589,1372.466955,1370.096015,1376.204694,1383.870529,1396.816526,1408.895629,1416.023767,1419.307555,1421.799564,1426.993858,1427.595608,1421.713159,1419.270282,1419.209164,1426.580715,1432.515631,1446.322651,1457.795687,1468.902279,1475.780666,1484.999688,1488.540677,1487.995971,1483.909509,1482.364610,1481.713914,1488.415150,1499.125417,1509.094298,1513.306749,1513.878159,1523.679717,1535.179414,1549.284757,1554.584607,1559.206947,1565.482678,1574.293586,1585.717410,1598.039470,1611.583781,1633.103579,1654.167554,1687.678548,1710.594694,1735.060905,1745.821849,1758.038423,1768.049305,1778.732300,1797.023288,1815.858969,1836.582675,1852.507353,1867.438154,1885.515209,1901.705081,1921.165686,1932.019014,1934.349875,1926.727699,1927.694869,1931.741522,1944.452119,1949.422598,1960.413217,1968.082376,1977.942435,1988.833882,1996.369181,2001.860507,1996.736358,1991.046998,1993.724677,2000.923273,2015.388724,2025.151374,2035.769510,2044.890229,2050.231148,2059.091404,2062.653431,2067.258645,2068.537993,2070.103486,2069.781252,2071.268558,2068.176268,2077.667722

In [124]:
city_ids = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']
rent_dates = metro_rent_cost_cities.drop(columns=city_ids)
rent_dates.columns = pd.to_datetime(rent_dates.columns)

#https://www.geeksforgeeks.org/python-pandas-dataframe-transpose
#https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.transpose.html
rent_dates_transposed = rent_dates.T

#https://www.demo2s.com/g/python/how-to-use-python-pandas-datetimeindex-year.html
rent_dates_transposed['Year'] = rent_dates_transposed.index.year

#getting the average by year
rent_avg_year = rent_dates_transposed.groupby('Year').mean().round(2)

#transpose it back to original format to add back the id columns
rent_avg_year = rent_avg_year.T

#add back the id columns
yearly_average_rent = pd.concat([metro_rent_cost_cities[city_ids], rent_avg_year], axis=1)

yearly_average_rent

,RegionID,SizeRank,RegionName,RegionType,StateName,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
7,394974,7,"Philadelphia, PA",msa,PA,1352.69,1390.31,1438.64,1489.85,1547.36,1614.09,1739.42,1894.80,2002.46,2112.16,2180.40
15,395078,15,"Seattle, WA",msa,WA,1887.18,2030.73,2174.37,2273.06,2371.00,2480.80,2668.12,2902.20,3031.52,3167.11,3220.92
29,394355,29,"Austin, TX",msa,TX,1552.84,1604.10,1644.67,1688.79,1755.24,1824.17,2048.08,2276.33,2309.31,2298.46,2285.31
42,395012,43,"Raleigh, NC",msa,NC,1264.37,1308.73,1359.26,1411.48,1468.12,1532.13,1688.88,1883.22,1975.05,2047.48,2072.37

In [125]:
#metro_house_price.head()
metro_house_price_cities = metro_house_price[(metro_house_price['RegionName']== 'Austin, TX') |
                                        (metro_house_price['RegionName']== 'Seattle, WA') |
                                        (metro_house_price['RegionName']== 'Raleigh, NC') |
                                        (metro_house_price['RegionName']== 'Philadelphia, PA')]
metro_house_price_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025
7,394974,7,"Philadelphia, PA",msa,PA,228331.0,230562.0,232590.0,244327.0,257676.0,265920.0,270644.0,241498.0,227688.0,223150.0,223100.0,212952.0,209718.0,210599.0,217687.0,228691.0,247665.0,251247.0,249060.0,228944.0,220473.0,220422.0,226347.0,231152.0,222500.0,221398.0,231745.0,233210.0,258619.0,257338.0,251272.0,237946.0,227305.0,234292.0,224783.0,229580.0,213826.0,218782.0,221115.0,238516.0,251399.0,249622.0,250236.0,224590.0,218718.0,222964.0,218490.0,222576.0,205713.0,224762.0,226850.0,238675.0,260813.0,259051.0,257390.0,235042.0,227802.0,238400.0,235026.0,221530.0,209259.0,228832.0,234103.0,253632.0,273305.0,270103.0,256158.0,243667.0,237905.0,236677.0,239687.0,229364.0,220272.0,222338.0,229289.0,250097.0,270484.0,268713.0,267964.0,238805.0,239851.0,239333.0,234882.0,225841.0,204137.0,224629.0,233349.0,252306.0,269111.0,264832.0,255025.0,248606.0,234793.0,237920.0,228359.0,228654.0,219951.0,222295.0,235226.0,242387.0,264409.0,270621.0,260265.0,246036.0,236016.0,236837.0,244225.0,229720.0,215990.0,235808.0,244390.0,263277.0,282959.0,278756.0,265783.0,250723.0,246764.0,251888.0,252398.0,237831.0,229007.0,247912.0,246982.0,261186.0,285335.0,280867.0,279085.0,255040.0,248869.0,251741.0,250975.0,239148.0,242009.0,248175.0,262546.0,275419.0,302250.0,297929.0,291042.0,270316.0,266105.0,270642.0,269002.0,266993.0,262916.0,274686.0,301916.0,291489.0,298981.0,318227.0,328940.0,317255.0,309955.0,313178.0,311646.0,308277.0,301380.0,310437.0,320974.0,330187.0,362253.0,363134.0,363773.0,333514.0,336053.0,338832.0,323550.0,312348.0,310161.0,323548.0,345619.0,367728.0,395100.0,384912.0,381993.0,359299.0,352515.0,351662.0,347473.0,335854.0,324525.0,353093.0,352711.0,376536.0,405577.0,406878.0,407732.0,379715.0,377168.0,371722.0,377446.0,370493.0,359201.0,378096.0,396727.0,414777.0,445392.0,438756.0,435886.0,409054.0,408948.0,413001.0,401872.0,392413.0,390347.0
15,395078,15,"Seattle, WA",msa,WA,427872.0,433854.0,437785.0,427593.0,445891.0,432619.0,414165.0,385171.0,390495.0,375628.0,398355.0,359279.0,372136.0,351518.0,351511.0,356706.0,378574.0,366764.0,379863.0,369570.0,357477.0,350109.0,359888.0,361188.0,362835.0,363292.0,365301.0,376380.0,391020.0,399717.0,384709.0,370842.0,354022.0,348132.0,359949.0,326865.0,339891.0,336250.0,349330.0,339262.0,346987.0,344676.0,336625.0,324332.0,315738.0,315859.0,303449.0,292096.0,303676.0,320705.0,339047.0,341098.0,371410.0,357808.0,359867.0,364487.0,358653.0,361724.0,359236.0,331483.0,349784.0,368005.0,383358.0,403649.0,399016.0,402764.0,397285.0,406127.0,388318.0,377110.0,378393.0,368008.0,382595.0,388276.0,413355.0,413378.0,430207.0,428856.0,412936.0,404767.0,408397.0,414937.0,393167.0,396615.0,391037.0,418668.0,434345.0,450764.0,465373.0,445174.0,458936.0,439915.0,440761.0,443627.0,435571.0,425668.0,430329.0,450634.0,461603.0,490483.0,502569.0,501222.0,485808.0,476060.0,489963.0,483994.0,467964.0,457814.0,471008.0,502168.0,534155.0,553918.0,563651.0,554405.0,549833.0,544167.0,546528.0,548507.0,541968.0,525097.0,546070.0,583541.0,612126.0,610153.0,619649.0,602540.0,576240.0,561026.0,574848.0,562437.0,548665.0,533132.0,561407.0,603424.0,610472.0,629906.0,628511.0,614238.0,602780.0,586026.0,602748.0,606800.0,620273.0,566676.0,613895.0,652928.0,638867.0,616995.0,676143.0,679644.0,707965.0,708430.0,703909.0,715379.0,692597.0,681456.0,733483.0,795185.0,821490.0,840829.0,846978.0,851727.0,834072.0,811670.0,826219.0,809647.0,815302.0,772110.0,873002.0,954603.0,989205.0,970534.0,925948.0,872785.0,866790.0,857908.0,861856.0,816956.0,772874.0,776973.0,776782.0,846448.0,867282.0,889067.0,914697.0,897502.0,902576.0,885833.0,869206.0,884338.0,819357.0,817661.0,893112.0,949407.0,996048.0,1011223.0,976702.0,983150.0,980051.0,940986.0,961204.0,952358.0,882044.0,869732.0,926113.0
29,394355,29,"Austin, TX",msa,TX,237103.0,240758.0,243699.0,262463.0,255874.0,256210.0,252697.0,239963.0,238518.0,224444.0,248097.0,226569.0,241265.0,224753.0,235905.0,252375.0,245774.0,244986.0,242108.0,240096.0,245378.0,238256.0,259842.0,252080.0,236148.0,237461.0,236404.0,243975.0,277962.0,287080.0,276822.0,251713.0,262137.0,254388.0,257799.0,250933.0,247998.0,250378.0,265277.0,271528.0,267629.0,268405.0,257308.0,255383.0,243454.0,244967.0,255717.0,223525.0,251236.0,259320.0,272387.0,286467.0,283110.0,284089.0,279015.0,262235.0,281622.0,266155.0,318177.0,275220.0,255727.0,289888.0,316290.0,306009.0,304209.0,303021.0,291123.0,280602.0,289856.0,295731.0,294315.0,275694.0,289825.0,302934.0,311776.0,319806.0,328425.0,319988.0,318429.0,311379.0,315308.0,323077.0,307873.0,332165.0,305999.0,323564.0,336827.0,358346.0,337984.0,344777.0,336120.0,325836.0,329982.0,338039.0,341435.0,331998.0,330467.0,352216.0,357466.0,358641.0,375502.0,354502.0,361145.0,341542.0,357580.0,364505.0,357260.0,364353.0,360428.0,376315.0,373561.0,396021.0,398737.0,381881.0,375724.0,367816.0,377001.0,372323.0,373043.0,369981.0,377203.0,402239.0,402432.0,405045.0,414311.0,408308.0,400784.0,386806.0,391418.0,389069.0,391875.0,388936.0,377459.0,396886.0,418919.0,433777.0,436723.0,417717.0,412202.0,408248.0,408634.0,403786.0,431421.0,388021.0,420761.0,433854.0,433027.0,425764.0,447408.0,475541.0,491987.0,478923.0,500044.0,491556.0,525123.0,490490.0,543368.0,605408.0,619805.0,622338.0,634870.0,629644.0,602459.0,585787.0,582159.0,609371.0,635420.0,593670.0,645491.0,692502.0,712242.0,732382.0,710073.0,682257.0,672283.0,649219.0,638530.0,632931.0,572801.0,595176.0,583593.0,600167.0,631264.0,642953.0,634680.0,640003.0,609820.0,603227.0,594749.0,583115.0,600756.0,558778.0,588790.0,604120.0,646013.0,645238.0,636030.0,612784.0,617377.0,608926.0,595921.0,594341.0,611588.0,591974.0,589007.0
42,395012,43,"Raleigh, NC",msa,NC,222903.0,217907.0,212430.0,230108.0,237159.0,233656.0,231892.0,213281.0,213245.0,201576.0,208420.0,210432.0,218687.0,222316.0,197679.0,217712.0,223306.0,223305.0,218603.0,200819.0,205464.0,208652.0,212067.0,232745.0,213259.0,221616.0,222762.0,224979.0,251017.0,234421.0,229739.0,225603.0,218807.0,223329.0,221149.0,219833.0,212868.0,207303.0,211881.0,219772.0,231630.0,223797.0,221058.0,210338.0,199561.0,204859.0,206505.0,206326.0,198455.0,223304.0,224010.0,225710.0,234289.0,214674.0,227214.0,207654.0,212931.0,218743.0,208606.0,224764.0,206078.0,216142.0,224928.0,234046.0,241518.0,237209.0,235399.0,222118.0,229073.0,217960.0,217135.0,225056.0,216900.0,231284.0,227252.0,243802.0,253024.0,247213.0,240342.0,237388.0,234030.0,234191.0,227918.0,236147.0,225498.0,239372.0,244492.0,264915.0,270417.0,255512.0,254761.0,238118.0,248056.0,256487.0,247888.0,243882.0,245927.0,250234.0,261695.0,270009.0,278745.0,268397.0,265337.0,261816.0,254357.0,257191.0,262163.0,264388.0,266454.0,284798.0,284164.0,286442.0,298449.0,291589.0,283977.0,271835.0,282680.0,280227.0,275769.0,274381.0,291242.0,294685.0,297748.0,303303.0,311358.0,305180.0,292270.0,290437.0,288848.0,293427.0,285275.0,285054.0,287653.0,300320.0,310840.0,315466.0,317254.0,319816.0,307620.0,297001.0,319712.0,300967.0,313727.0,305722.0,306812.0,312410.0,338739.0,320799.0,329815.0,336483.0,351491.0,347956.0,352610.0,348801.0,353960.0,359965.0,354146.0,362668.0,389624.0,407030.0,420519.0,423101.0,418194.0,413424.0,417546.0,426001.0,429949.0,429006.0,431972.0,472056.0,485578.0,494268.0,502471.0,495767.0,483541.0,457175.0,463362.0,460530.0,467382.0,461417.0,442595.0,448305.0,473648.0,490389.0,530181.0,534540.0,498731.0,475631.0,514664.0,514200.0,500962.0,485628.0,479468.0,497688.0,542974.0,548311.0,557814.0,556934.0,549267.0,515874.0,539001.0,541208.0,519862.0,519440.0,529522.0

In [126]:
house_city_ids = ['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']
house_dates = metro_house_price_cities.drop(columns=house_city_ids)
house_dates.columns = pd.to_datetime(house_dates.columns)

#https://www.geeksforgeeks.org/python-pandas-dataframe-transpose
#https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.transpose.html
house_dates_transposed = house_dates.T

#https://www.demo2s.com/g/python/how-to-use-python-pandas-datetimeindex-year.html
house_dates_transposed['Year'] = house_dates_transposed.index.year

#getting the average by year
house_avg_year = house_dates_transposed.groupby('Year').mean().round(2)

#transpose it back to original format to add back the id columns
house_avg_year = house_avg_year.T

#add back the id columns
yearly_average_house = pd.concat([metro_house_price_cities[city_ids], house_avg_year], axis=1)

yearly_average_house

,RegionID,SizeRank,RegionName,RegionType,StateName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
7,394974,7,"Philadelphia, PA",msa,PA,240498.73,226983.75,235963.33,229819.83,236008.33,242071.50,242616.00,239909.00,242243.50,251538.00,256235.83,269548.58,299681.83,332697.00,352696.50,372413.08,406016.92,391380.0
15,395078,15,"Seattle, WA",msa,WA,415402.55,362782.92,369782.25,331605.33,344150.58,382107.67,404906.58,435065.50,472191.42,530676.83,576866.00,599976.42,664452.33,805671.50,877880.92,860838.42,945328.83,897922.5
29,394355,29,"Austin, TX",msa,TX,245438.73,241442.25,256164.08,256581.42,272278.17,291832.58,310376.17,334256.17,353568.67,376433.58,394955.92,411225.67,459334.08,596759.92,661198.42,609958.58,609992.17,590490.5
42,395012,43,"Raleigh, NC",msa,NC,220234.27,213253.50,226618.83,214117.08,216826.33,225530.83,234866.67,248471.92,259979.42,280897.67,294012.83,306285.83,333799.83,401847.25,470259.00,490438.58,527835.75,524481.0

In [127]:
home_cost_cities = single_fam_home_cost[(single_fam_home_cost['RegionName']== 'Travis County') |
                                        (single_fam_home_cost['RegionName']== 'Wake County') |
                                        (single_fam_home_cost['RegionName']== 'King County') |
                                        (single_fam_home_cost['RegionName']== 'Philadelphia County')]
home_cost_cities

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,8/31/2000,9/30/2000,10/31/2000,11/30/2000,12/31/2000,1/31/2001,2/28/2001,3/31/2001,4/30/2001,5/31/2001,6/30/2001,7/31/2001,8/31/2001,9/30/2001,10/31/2001,11/30/2001,12/31/2001,1/31/2002,2/28/2002,3/31/2002,4/30/2002,5/31/2002,6/30/2002,7/31/2002,8/31/2002,9/30/2002,10/31/2002,11/30/2002,12/31/2002,1/31/2003,2/28/2003,3/31/2003,4/30/2003,5/31/2003,6/30/2003,7/31/2003,8/31/2003,9/30/2003,10/31/2003,11/30/2003,12/31/2003,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,7/31/2004,8/31/2004,9/30/2004,10/31/2004,11/30/2004,12/31/2004,1/31/2005,2/28/2005,3/31/2005,4/30/2005,5/31/2005,6/30/2005,7/31/2005,8/31/2005,9/30/2005,10/31/2005,11/30/2005,12/31/2005,1/31/2006,2/28/2006,3/31/2006,4/30/2006,5/31/2006,6/30/2006,7/31/2006,8/31/2006,9/30/2006,10/31/2006,11/30/2006,12/31/2006,1/31/2007,2/28/2007,3/31/2007,4/30/2007,5/31/2007,6/30/2007,7/31/2007,8/31/2007,9/30/2007,10/31/2007,11/30/2007,12/31/2007,1/31/2008,2/29/2008,3/31/2008,4/30/2008,5/31/2008,6/30/2008,7/31/2008,8/31/2008,9/30/2008,10/31/2008,11/30/2008,12/31/2008,1/31/2009,2/28/2009,3/31/2009,4/30/2009,5/31/2009,6/30/2009,7/31/2009,8/31/2009,9/30/2009,10/31/2009,11/30/2009,12/31/2009,1/31/2010,2/28/2010,3/31/2010,4/30/2010,5/31/2010,6/30/2010,7/31/2010,8/31/2010,9/30/2010,10/31/2010,11/30/2010,12/31/2010,1/31/2011,2/28/2011,3/31/2011,4/30/2011,5/31/2011,6/30/2011,7/31/2011,8/31/2011,9/30/2011,10/31/2011,11/30/2011,12/31/2011,1/31/2012,2/29/2012,3/31/2012,4/30/2012,5/31/2012,6/30/2012,7/31/2012,8/31/2012,9/30/2012,10/31/2012,11/30/2012,12/31/2012,1/31/2013,2/28/2013,3/31/2013,4/30/2013,5/31/2013,6/30/2013,7/31/2013,8/31/2013,9/30/2013,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,5/31/2014,6/30/2014,7/31/2014,8/31/2014,9/30/2014,10/31/2014,11/30/2014,12/31/2014,1/31/2015,2/28/2015,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,12/31/2015,1/31/2016,2/29/2016,3/31/2016,4/30/2016,5/31/2016,6/30/2016,7/31/2016,8/31/2016,9/30/2016,10/31/2016,11/30/2016,12/31/2016,1/31/2017,2/28/2017,3/31/2017,4/30/2017,5/31/2017,6/30/2017,7/31/2017,8/31/2017,9/30/2017,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,8/31/2018,9/30/2018,10/31/2018,11/30/2018,12/31/2018,1/31/2019,2/28/2019,3/31/2019,4/30/2019,5/31/2019,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024,8/31/2024,9/30/2024,10/31/2024,11/30/2024,12/31/2024,1/31/2025,2/28/2025,3/31/2025,4/30/2025
11,207,11,King County,county,WA,WA,"Seattle-Tacoma-Bellevue, WA",53,33,274125.064448,275264.652222,276369.845363,278522.126538,280941.321097,283077.401220,285541.452752,287355.668896,288932.509318,289973.588636,291110.858020,292595.684179,294511.516165,296505.029803,298416.468427,299898.599435,300947.220346,301926.110080,302887.943373,304167.718478,305146.381445,306241.983197,307130.977063,308495.993475,309396.258924,310432.108321,311476.776978,313028.568114,314577.538845,315683.423586,316511.829161,317449.607326,318395.146815,319361.733428,320326.709852,320853.844996,321987.467687,322888.298500,324603.296355,325961.201021,327911.676660,329630.615088,331198.827543,332898.501239,334755.987269,336646.991746,337894.926883,339436.371004,341565.627527,344243.252350,346563.560408,349213.350499,352432.416236,356577.241299,360503.132841,364087.481461,367384.480900,370256.272700,373086.828376,376123.526106,379713.758066,382782.209791,386864.235263,391552.583253,396881.538564,402602.922810,409227.126852,417219.135989,424469.624308,430833.580171,436604.900004,442308.243948,446949.994700,452653.839380,458591.245093,465673.374141,472182.084071,478302.217611,484167.798162,489358.925976,493980.655454,498511.051482,501787.403694,503547.393367,504387.711134,505564.459800,509123.993989,514058.857037,518335.473653,520467.954473,521066.727086,523014.322829,524637.615738,524035.498100,520965.138579,518226.353953,516902.887291,515158.664738,512088.759215,506722.903016,500453.529535,494368.435356,489151.545866,482743.181684,476354.444240,470235.759827,465803.410199,458792.652297,453072.185200,447552.348852,444235.587397,438094.772925,431669.658709,425445.816334,421469.827280,418594.517050,416673.853630,415524.452483,415391.606494,416468.875058,415066.118725,413036.720117,409561.147469,409248.081679,409832.505000,409864.643818,408107.422162,404482.068309,401152.618586,396781.847772,392849.579271,389156.796986,386365.659883,384724.488698,382445.990301,380410.908946,375936.013773,372409.414651,368842.593438,366687.179610,364143.708082,361679.035896,359766.376064,357795.572680,356296.440326,353921.582212,350961.511925,347311.377480,344564.837442,343815.267578,344721.712040,346915.585219,349891.203613,353481.116208,357536.620826,362215.768245,367783.076345,373224.801149,377868.506861,381516.290470,384980.989764,388464.073890,391823.803758,394961.446286,398103.151217,401459.143845,404672.285235,408377.602146,412195.992741,416027.533596,419176.736636,421851.387690,424507.521511,426649.199957,428339.522791,429535.768800,431016.882229,432864.601579,435492.283596,439394.356676,444758.877211,451011.524635,456721.161094,461092.114584,465069.542318,468703.387997,472681.997080,476605.159096,481282.545020,486747.445287,492913.341475,499923.322600,508133.953172,516546.939283,524068.853910,530001.281289,534844.922597,538874.350540,542095.968748,544763.258800,547059.064568,550416.237700,554853.857235,561578.142755,569269.463833,578035.434571,587039.369400,596073.375979,604246.310610,611573.750716,617777.223997,623275.842644,628387.203519,633639.474452,639552.495933,647232.703403,656617.028851,666948.908215,677603.688011,687077.689082,695508.681610,699706.510017,702889.714519,703140.614300,701913.766000,698286.832208,694262.168241,690322.255397,686098.983753,683007.099115,682077.605162,682342.568231,682258.296175,681770.576400,680517.205900,679719.118179,679223.058516,680612.861033,683046.680892,686347.711588,689578.022861,694202.662338,700481.819064,707728.848007,712126.259157,713835.350046,715510.827346,720964.401712,731016.651200,743117.211646,756116.798636,767488.737821,777615.203800,787895.120050,800948.908283,817819.568892,836043.672305,852504.959723,863605.462449,868582.048751,869801.765830,871708.484715,877338.681576,888139.043100,908052.361004,935987.158322,970044.667666,1.000778e+06,1.021879e+06,1.028018e+06,1.017501e+06,995985.838869,971339.163981,954003.916519,944326.302854,938669.109817,930044.404996,920784.877515,911777.749326,907616.943846,907314.321922,911142.792620,917255.383909,924576.045387,931310.946296,936669.194973,939775.406493,941344.429200,941766.558195,944332.983229,950927.280702,960351.599461,968609.039060,972531.879550,974260.790750,975703.753787,979505.223488,984839.078383,990312.361679,995117.177075,998396.525300,1.000045e+06,997714.583795,992175.520003
22,3175,22,Philadelphia County,county,PA,PA,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",42,101,60455.160984,60572.771453,60695.411388,60959.027087,61360.814444,61751.460654,62164.187002,62442.811037,62751.074721,63071.137340,63414.018490,63751.618650,64037.449852,64302.002733,64584.944073,64931.557848,65218.932689,65458.515405,65706.524706,66013.071277,66352.767471,66630.218349,66927.459530,67190.725867,67447.022328,67689.903008,67985.158777,68297.573900,68636.057927,69006.882883,69485.970459,69972.160370,70520.406248,71079.127043,71648.208803,72148.852506,72634.737408,73194.989510,73770.658435,74382.856106,74945.912950,75638.623820,76434.186080,77315.280606,78211.063760,78980.730040,79715.012231,80389.159987,81081.918292,81836.792630,82443.003500,82994.406720,83645.660867,84724.331761,86238.169475,88004.081153,89600.101658,90835.336259,91865.730370,93108.017484,94629.206886,95885.344889,97162.419260,98387.111933,100024.910231,101774.166713,103830.402546,106087.211574,108289.165206,110195.764896,111851.042459,113267.650753,114431.757809,115419.491343,116212.323381,117173.063544,118257.115343,119753.468621,121356.147166,122629.509520,123464.657111,123785.289476,123957.469588,124243.996010,124849.495723,125549.022561,126179.682116,126438.736229,126889.857337,127378.389651,127954.406943,128115.613000,127807.543973,127600.670044,127645.290046,127908.372306,127884.291888,128029.842288,128006.695797,128092.432636,127750.090030,127249.558916,126411.992002,125468.035092,124648.362680,124166.320136,123696.564207,122993.089497,121910.994479,120985.534858,120514.270724,120588.864404,120804.601438,120869.293672,120784.488599,120631.325926,120631.747154,120595.102861,120648.284967,120450.042814,120511.467745,120732.786748,121251.998676,121835.282802,122325.607383,122635.354226,122483.631840,121850.379322,120589.832798,119292.674974,118182.219132,117374.483600,116632.939207,116082.485202,116054.814537,115928.055939,115549.459985,114577.047447,113483.049833,112403.057383,111725.340426,111379.846067,111203.551671,110996.508068,110605.146044,110073.043631,109671.104656,109836.814016,110067.358559,110344.384081,110426.700886,110494.441424,110357.441245,109629.295115,108585.372505,107705.455083,107197.437621,106838.292738,106822.019359,107351.182370,108500.897762,109763.834354,110307.037699,110427.059759,110381.240048,110836.250778,111516.664817,112262.116235,112499.834448,112228.771065,111603.183619,111494.512865,112055.125922,112876.665996,113721.630137,114007.292766,113948.115267,113594.229011,113546.895856,114047.701874,114558.762556,115056.668779,115434.278482,116227.378801,117250.597641,118069.514358,118868.934034,119871.274831,120927.266307,121692.373133,122057.445109,122734.536473,123626.927743,124705.371041,125191.825521,125426.904302,125763.927239,126423.066746,127424.309850,128646.420685,130170.200019,132110.768755,134043.894510,135869.608981,137120.657685,138115.664370,139070.193026,140139.887854,141147.823494,142227.501976,143249.362626,144347.574544,145452.840235,146923.558761,148838.487794,150897.360658,152598.412878,153988.529900,155365.560503,156801.878520,157762.574790,158109.522783,158159.131754,158543.515823,159431.030412,160721.525100,162170.636713,163875.962770,165975.966945,168203.409374,170002.594910,170916.768072,171334.141744,171790.972414,172515.737127,173515.279777,174629.935466,175998.335709,177690.922989,179557.768287,181517.211801,183581.178020,185790.264465,187886.358260,188963.502225,188676.278604,188077.624819,188100.305641,189625.190683,191973.481360,195205.949576,198418.012131,201354.559032,204009.262267,206691.559015,209252.063217,211713.134163,213623.728799,214058.496029,212657.173931,209643.135334,207144.783602,205591.458329,205370.103595,207006.107698,210286.715418,214697.995654,2.187205e+05,2.219839e+05,2.243376e+05,2.248552e+05,223772.288652,222188.784996,221219.053206,220719.242469,219405.008964,217134.542787,214464.603623,212684.878001,212117.956016,212627.861147,213549.998423,214496.810240,215196.036467,215288.126295,215088.160980,214555.913160,214453.416213,214502.014200,215068.973678,215762.855162,217048.848078,218233.860623,219169.737425,219617.366402,219854.320669,220217.157933,220708.277275,221283.403368,222305.383394,223179.233351,2.238047e+05,224101.280467,224601.796303
33,1440,33,Travis County,county,TX,TX,"Austin-Round Rock-Georgetown, TX",48,453,199223.703446,199893.682129,200506.095165,201437.682384,202092.684827,202294.603079,202403.560281,203096.401670,203881.309667,205046.168207,205806.373798,206463.286810,206696.265656,206735.721160,207144.482562,207903.447803,208570.304624,209020.257251,209286.069287,209627.008182,209729.179053,209736.209309,209720.853286,209542.239383,209483.190063,209074.149684,208919.500794,208666.124415,208455.835600,208111.889867,207681.292701,207454.068958,207499.101459,207488.624033,207400.057495,206973.515680,206641.844835,206552.334617,206825.945771,207030.670556,207060.007444,206863.560044,207076.904643,207344.849650,207510.403935,207340.863167,207112.724289,206982.692611,206976.700027,207479.956415,208252.382611,209049.598512,209474.681547,209781.060631,210274.785766,211077.865745,212206.248899,213174.949105,213962.720584,214492.696922,214775.421100,214874.868086,214935.489923,215282.428400,215795.435063,216608.024062,217447.465047,218136.074473,218682.674553,218993.589586,219404.244594,219894.652086,220476.106661,220892.208556,220922.477304,221023.337898,221323.042609,222040.494700,222978.428600,224121.850521,225465.370073,226553.431569,227485.329912,228261.487751,229141.214319,229789.556123,230311.503987,231005.094572,231990.686385,233055.171030,234148.888816,235218.615241,236336.789608,237425.001886,238510.668000,239445.103459,239854.239697,239799.093292,239914.490689,240264.516155,240756.661329,240586.563683,240219.306583,239556.708876,238904.760895,237905.727987,236049.700826,234234.624305,232798.487190,232085.423376,231339.548000,230550.693951,230122.516364,229913.171698,229659.538094,229150.890465,228453.990946,227847.494127,227948.575988,228222.457400,227975.590600,227551.890352,227373.675586,227735.749689,228296.695576,228469.785514,228081.582260,227069.285838,225890.968876,224774.397339,223582.729233,222545.277356,221859.453961,221297.154039,220926.242512,220932.007643,220940.210238,220875.797482,220420.657887,220499.126390,220602.975143,220497.268653,220115.866636,219767.617983,219983.009051,220443.366881,221441.835285,222780.103637,224104.930628,225566.246398,227079.628514,228700.683299,230429.671328,232207.634300,234208.486684,236090.340581,238110.684879,240307.715021,242643.248116,245109.548176,247541.129517,250519.311491,253571.929852,256608.781547,259352.690789,261912.468355,264296.959835,266439.886387,268568.690407,270854.339967,273260.172909,275955.067438,278838.130472,281700.881822,284485.296760,286844.033457,289095.320426,291111.794400,293533.970283,296086.865717,299163.401703,302423.774714,305739.656594,308314.112798,310458.417638,312326.692838,314290.265905,316148.395740,318062.551849,320020.441493,322180.539908,324343.964376,326788.424320,329268.224242,331323.464200,333357.068564,335220.820818,337243.921046,338591.662211,339119.415456,339383.945264,340020.364469,341691.596060,343904.512902,346057.267367,347964.873291,349653.587611,351560.491686,352789.388089,353460.675133,353501.993778,353664.645512,354133.556749,355120.383526,356512.953856,358277.191331,359836.544638,360992.719997,362261.293598,363224.946700,364516.570119,365521.104921,366843.404695,367929.498591,369090.439320,370290.306215,371802.490173,373249.630839,374188.198404,374870.379171,375495.110895,376374.498759,377428.873559,378508.878688,379711.755017,381148.122836,382965.711200,385374.156035,388111.681235,391135.940386,394549.383621,398298.409210,402310.815899,405723.979392,407606.802459,408454.877723,409882.162677,413640.291353,419989.689550,427556.694900,436060.667632,444872.341268,454525.461964,466102.898624,481811.971700,503150.940876,528637.306736,553363.760000,571276.026121,580409.033738,582654.552567,583567.464300,586220.034478,591770.304761,602353.567991,616537.643128,634900.729845,6.529298e+05,6.681772e+05,6.767211e+05,6.750350e+05,665000.446902,649996.639924,636563.463270,625418.372477,615987.333090,606287.179566,597383.645300,589800.750187,584975.319933,582166.094640,580937.008880,579783.653597,578619.037369,576760.614492,573753.940166,569915.375300,565916.143435,562900.428728,560635.859675,559898.909496,559908.194508,559423.323230,557244.735117,554560.896338,552033.651228,551018.544483,549929.307327,548373.648461,545515.270811,541802.968300,5.381000e+05,533870.049762,529736.583813

In [128]:
home_ids = ['RegionID','SizeRank','RegionName', 'RegionType', 'StateName', 'State',	'Metro','StateCodeFIPS', 'MunicipalCodeFIPS']
home_cost_dates = home_cost_cities.drop(columns=home_ids)
home_cost_dates.columns = pd.to_datetime(home_cost_dates.columns)

#https://www.geeksforgeeks.org/python-pandas-dataframe-transpose
#https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.DataFrame.transpose.html
home_cost_dates_transposed = home_cost_dates.T

#https://www.demo2s.com/g/python/how-to-use-python-pandas-datetimeindex-year.html
home_cost_dates_transposed['Year'] = home_cost_dates_transposed.index.year

home_cost_avg_year = home_cost_dates_transposed.groupby('Year').mean().round(2)

#transpose it back to original format to add back the id columns
home_cost_avg_year  = home_cost_avg_year.T

#add back the id columns
yearly_average_home_cost = pd.concat([home_cost_cities[home_ids], home_cost_avg_year], axis=1)

yearly_average_home_cost

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
11,207,11,King County,county,WA,WA,"Seattle-Tacoma-Bellevue, WA",53,33,283650.85,302189.66,315624.46,330484.51,358503.10,408421.65,478808.83,516990.34,490731.35,428682.79,404928.30,371767.25,350969.42,389436.26,426420.98,471459.20,537769.74,611341.89,689523.15,682251.81,721013.97,842666.91,973882.03,923301.04,969854.81,997082.91
22,3175,22,Philadelphia County,county,PA,PA,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",42,101,61949.12,65612.85,69493.11,76301.10,86364.80,103448.70,120057.02,127026.42,126199.77,120784.55,120755.48,113834.68,109816.38,109350.34,112968.66,118562.42,128283.60,143127.58,158127.36,172677.65,188984.61,208425.79,219099.36,214304.86,218647.68,223921.76
33,1440,33,Travis County,county,TX,TX,"Austin-Round Rock-Georgetown, TX",48,453,202678.80,208642.67,208100.61,207028.57,210516.97,217069.20,223461.96,233864.86,239003.87,229841.07,226612.30,220727.86,226919.66,252201.20,282527.88,312789.35,336326.12,352724.75,366296.58,380442.78,414078.84,540290.81,643301.77,582191.56,555120.23,535877.39
39,324,39,Wake County,county,NC,NC,"Raleigh-Cary, NC",37,183,197661.45,203462.34,206661.25,209372.78,214072.64,222656.07,236533.85,250485.60,250503.17,241590.67,237333.52,226783.63,222751.39,231800.09,244958.18,259109.52,278184.34,294472.35,308856.30,322484.98,337340.71,392449.29,486897.20,489576.86,504472.90,504735.31

# <center> Utility Rates & Consumption Expenditures <center>

Utility Df:
- avg_monthly_utility_usage

Personal Consumption:
- pc_personal_consumption_us

In [131]:
pd.options.mode.copy_on_write = True 
mycity_monthly_utility_usage = avg_monthly_utility_usage[(avg_monthly_utility_usage['State']=='Texas')|
                            (avg_monthly_utility_usage['State']=='Washington')| 
                            (avg_monthly_utility_usage['State']=='Pennsylvania')|
                            (avg_monthly_utility_usage['State']=='North Carolina')]



mycity_monthly_utility_usage['State Abbreviation'] = mycity_monthly_utility_usage['State'].apply(lambda x: 'WA' if x == 'Washington' 
                                                                                                else'PA' if x == 'Pennsylvania' 
                                                                                                 else'NC' if x == 'North Carolina' 
                                                                                                 else 'TX' if x == 'Texas' else None)

In [132]:
mycity_monthly_utility_usage

,State,Number of Customers,Average Monthly Consumption (kWh),Average Price (cents/kWh),Average Monthly Bill (Dollar and cents),State Abbreviation
10,Pennsylvania,"5,516,157",791,18.10,143.10,PA
31,North Carolina,"4,951,380",989,12.93,127.79,NC
44,Texas,"12,257,008","1,146",14.46,165.82,TX
57,Washington,"3,319,836",977,10.98,107.35,WA

In [133]:
pc_personal_consumption_mycity =  pc_personal_consumption_us[(pc_personal_consumption_us['State']=='Texas')|
                                                            (pc_personal_consumption_us['State']=='Washington')| 
                                                            (pc_personal_consumption_us['State']=='Pennsylvania')|
                                                            (pc_personal_consumption_us['State']=='North Carolina')]

pc_personal_consumption_mycity

,State,Total personal consumption expenditures,Housing and utilities,Health care,Food and beverages for off-premises consumption,Gasoline and other energy goods,All other personal consumption expenditures
14,Pennsylvania,"57,009","9,146","9,609","4,201","1,471","32,581"
37,North Carolina,"51,081","8,860","8,166","4,271","1,399","28,384"
46,Texas,"52,299","9,428","7,411","4,123","1,500","29,836"
59,Washington,"60,528","11,785","9,013","4,543","1,146","34,041"

In [232]:
water_bill_mycity =  water_bill_avg[(water_bill_avg['state']=='Texas')|
                                    (water_bill_avg['state']=='Washington')| 
                                    (water_bill_avg['state']=='Pennsylvania')|
                                    (water_bill_avg['state']=='North Carolina')]

water_bill_mycity

             state  WaterPrices_MonthlyWaterBill_usd_2024
3       Washington                                     78
13           Texas                                     45
34    Pennsylvania                                     31
49  North Carolina                                     20