# <center> Capstone Project <center>

### <center> Data Dwellers: Finding a Home Through Analytics <center>

<div class="alert alert-block alert-info">
<b>Where should I live?:</b> 

Which U.S. city among my selected options - Raleigh, NC; Seattle, WA; Philadelphia, PA; and Austin, TX - offers the best balance of public transportation, diversity, and affordability for a remote worker seeking a vibrant, walkable, and connected lifestyle?

Things to consider:
- Availability of public transit systems
- Average Commute time
- Racial diversity per city
- Foreign-born population %
- Number of languages spoken
- Median monthly rent
- Median home price
- Average monthly utility and internet costs
- Grocery and transportation prices

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Reading in city specific data:

#### Austin:

In [8]:
austin_city_budget=pd.read_csv('../data/austin/Austin_Program_Budget_Operating_Budget_Vs_Expense_Raw_Data_20250519.csv')

In [9]:
austin_access_public_transport=pd.read_csv('../data/austin/austin_strategic_measures_percentage_of_population_access_to_public_transit_service_or_is_within_one_quarter_mile_of_regular_fixed_route_transit_20250519.csv')

In [10]:
#need to rename headers
austin_comute_chars=pd.read_csv('../data/austin/census_austin_commuting_chars.csv')

In [11]:
austin_commute_chars.head()

,Unnamed: 0,"Austin County, Texas",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Total,NaN,Male,NaN,Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Workers 16 years and over,"13,951",±620,"7,841",±480,"6,110",±465
3,MEANS OF TRANSPORTATION TO WORK,NaN,NaN,NaN,NaN,NaN,NaN
4,"Car, truck, or van",88.40%,±2.4,87.10%,±3.6,90.00%,±3.2

In [12]:
#need to rename headers
austin_housing_chars=pd.read_csv('../data/austin/census_selected_housing_char_austin.csv')

In [13]:
austin_housing_chars.head()

,Unnamed: 0,United States,Unnamed: 2,Unnamed: 3,Unnamed: 4,Texas,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error
1,HOUSING OCCUPANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total housing units,"145,333,462","±10,062","145,333,462",(X),"12,394,809","±3,110","12,394,809",(X)
3,Occupied housing units,"131,332,360","±130,190",90.4%,±0.1,"11,260,645","±19,354",90.8%,±0.2
4,Vacant housing units,"14,001,102","±137,938",9.6%,±0.1,"1,134,164","±20,157",9.2%,±0.2

In [69]:
austin_social_chars=pd.read_csv('../data/austin/census_austin_social_chars.csv')

#### Philadelphia

In [57]:
philly_pt_budget=pd.read_csv('../data/philadelphia/Philadelphia_FY_24_to_FY_29_Financial_Projections_SEPTA_Finances.csv')

In [59]:
philly_pt_expenses=pd.read_csv('../data/philadelphia/SEPTA_Finances_Detail_of_Expenses_by_Company_Philadelphia.csv')

In [61]:
philly_commute_chars=pd.read_csv('../data/philadelphia/philidephia_commuting_chars.csv')

In [65]:
philly_social_chars=pd.read_csv('../data/philadelphia/philadelphia_social_chars.csv')

In [67]:
philly_housing_chars=pd.read_csv('../data/philadelphia/census_selected_housing_char_philly.csv')

#### Raleigh

In [87]:
raleigh_commute_chars=pd.read_csv('../data/raleigh/census_raleigh_commuting_chars.csv')

In [89]:
raleigh_social_chars=pd.read_csv('../data/raleigh/census_raleigh_social_chars.csv')

In [91]:
raleigh_housing_chars=pd.read_csv('../data/raleigh/census_selected_housing_char_raliegh.csv')

In [93]:
raleigh_budget=pd.read_csv('../data/raleigh/raleigh_adopted_expense_budget.csv')

In [95]:
raleigh_cap_projects=pd.read_csv('../data/raleigh/raliegh_adopted_capital_projects.csv')

#### Seattle

In [100]:
seattle_cap_projects=pd.read_csv('../data/seattle/seatle_open_budget_capital_projects_details_20250518.csv')

In [99]:
seattle_budget=pd.read_csv('../data/seattle/City_of_Seattle_Operating_Budget_20250518.csv')

In [105]:
seattle_housing_char=pd.read_csv('../data/seattle/census_selected_housing_char_seattle.csv')

In [107]:
seattle_social_char=pd.read_csv('../data/seattle/sensus_seattle_social_chars.csv')

In [103]:
seattle_commute_char=pd.read_csv('../data/seattle/census_seattle_commuting_chars.csv')

# U.S. Data:

#### Will extract the city specific data from these datasets

In [37]:
single_fam_home_rent = pd.read_csv('../data/single_family_homes_rent_cost_all_counties.csv')

In [39]:
single_fam_home_cost = pd.read_csv('../data/single_family_home_cost_all_counties.csv')

In [19]:
metro_rent=pd.read_csv('../data/metro_mean_rent_all.csv')

In [20]:
metro_house_price=pd.read_csv('../data/metro_mean_sale_price_all.csv')

In [49]:
public_transportation=pd.read_csv('../data/Monthly_Modal_Time_Series_Transportation_All.csv', low_memory=False)

In [41]:
#Non-IOU = Non-Investor-Owned Utility
noniou_utility_rates = pd.read_csv('../data/non_iou_utlity_rates_zip_openei_all.csv')

In [43]:
iou_utility_rates = pd.read_csv('../data/utility_rates_zip_openei_all.csv')

In [51]:
#Regional price parities
#Regional price parities measure the differences in price levels across states for a given year 
#and are expressed as a percentage of the overall national price level.
rpp_us = pd.read_csv('../data/regional_price_parities_bea_gov_all_100.csv')

In [53]:
pc_personal_consumption_us = pd.read_csv('../data/personal_consumption_expenditures_all_bea_2023_pc.csv')